[2020-01-31 01:30] BeyondEvil commented on #258
Are you using pytest-selenium?

[2020-01-31 02:24] rahulbasu86 commented on #258
No, but i am using pytest-html report

[2020-01-31 03:13] ExaltedBagel opened #259 "Add support for embed videos"
**SUMMARY**
HTML5 has the capacity to included videos into the html by using the <video> tag. This usage can easily be added as another extra, with the same constraints as the images.

Video width and height could be relegated to a video class to allow the user to have more control on the presentation aspect of the video.

**REQUIRED FORMAT SUPPORT**
- mp4
- oog

[2020-01-31 03:14] ExaltedBagel commented on #259
I am currently working on this feature in a branch.

[2020-01-31 09:50] BeyondEvil commented on #258
May I ask why not? Using pytest-selenium would probably solve this for you.

[2020-01-31 14:41] rahulbasu86 commented on #258
I dont also understand why the video URL is only getting attached with the last test case. Maybe it has to do how "pytest_runtest_makereport" is implemented internally.
The URL gets generated after the driver is closed for every test case and I want the URL to be attached in the report after that.

[2020-01-31 15:37] BeyondEvil commented on #258
On a sidenote, I think `multicall` is deprecated. https://docs.pytest.org/en/latest/reference.html#_pytest.hookspec.pytest_runtest_makereport

[2020-01-31 15:44] BeyondEvil commented on #258
It's kind of hard understanding the code that you've shared, especially with using globals.

Do you think you can create a small reproducible case that I can run to help troubleshoot?

[2020-02-03 02:42] ExaltedBagel opened #261 "Refactor extra Images and videos as extra media to eliminate duplicate code."
The pull request #260 adds support for extra videos, however this introduced a lot of duplicated code. In order to deal with this new duplicate code, we could refactor images and video as media.

This would add no new functionnalities, but would do a bit of cleanup. This might be a required before merging #260.

[2020-02-05 10:19] rivky9505 opened #263 "Refresh HTML Report View During A Build"
Hi,
I am using HTML Publisher plugin to display test results report as HTML. the tests run-time is about 4 hours and the HTML report is been updated with the tests results during running.
I have the first part of test results after an hour and I want to display it immediately.
After I get the other parts of the report I want to refresh the report view during running.
When I run both tasks in paral

[2020-02-05 10:37] BeyondEvil commented on #263
Hi @rivky9505

I'm going to need more info to help you.

Is this the Jenkins plugin?

When you say "tasks in parallel" do you mean using `xdist` or two parallel processes running `pytest`?

Let's start there.

[2020-02-05 12:04] rivky9505 commented on #263
Is this the Jenkins plugin? Yes, It's a jenkins plugin.
When I run both tasks in parallel - I mean this code:
[code]

[code]
this is the result I get:
![Screenshot from 2020-02-05 12-27-45](https://user-images.githubusercontent.com/31611578/73840202-50cd3300-4820-11ea-81ff-94f3f1212349.png)

[2020-02-06 00:46] ExaltedBagel commented on #263
I think this is an issue with your pipeline code. Everytime you call DisplayHTMLReport(), it uploads a new report to the pipeline. If I understand the parameter correctly, changing the
`keepAll: true,` to `keepAll: false,` might solve the issue.

[2020-02-06 06:16] rivky9505 commented on #263
Thanks for your response.
the `keepAll: true` parameter causes the plugin to show the report per build and not per pipeline, I mean , when it was `keepAll: false` I couls watch only the last build report from the pipeline main window, and now I can go into a build and get a special report for this build.
I know that the fact that I call DisplayHTMLReport() several times uploads a new report, this

[2020-02-06 13:22] #245 closed

[2020-02-07 11:58] ExaltedBagel commented on #259
Fixed in #260

[2020-02-07 11:58] #259 closed

[2020-02-07 11:59] ExaltedBagel commented on #261
Fixed in #260

[2020-02-07 11:59] #261 closed

[2020-02-10 13:55] p00j4 opened #265 "image is not displaying on the report page"
![image](https://user-images.githubusercontent.com/6470509/74155255-3f2dc600-4c3a-11ea-8183-1fad4b4d174d.png)
The image link shown on the page is relative to localhost, which shows 404
```http://localhost:63342/screenshots/my_screenshot.png```

**To Reproduce**
keep a png file named **my_screenshot.png** in the root of project
contents of conftest.py
[code]

**Run with**
pytest --html=report.html

[2020-02-10 14:42] p00j4 opened #266 "Query: how to pass value to a new environment at runtime?"
https://github.com/pytest-dev/pytest-html#environment shows how to add a new env variable with a static value. I want to generate html with dynamic values which I get on the test run. something like in the setup stage.
Use case: I want to inject variables like where did this test run, which DB, which env etc.

**Here is snippet of my trials**
testfile.py
[code]

**In conftest.py**
[code]

but belo

[2020-02-10 18:42] BeyondEvil commented on #265
What's the use-case? Why are you trying to add a screenshot manually?

[2020-02-10 18:50] BeyondEvil commented on #265
FWIW, it works for me. Both with and without `--self-contained-html`

What versions are you using of python, pytest and plugins? What OS?

[2020-02-10 18:54] BeyondEvil commented on #266
You can use the `pytest_metadata` fixture.

https://github.com/pytest-dev/pytest-metadata#accessing-metadata

Hope that helps!

[2020-02-10 19:06] BeyondEvil commented on #266
[code]

[2020-02-11 11:59] fpiccione commented on #239
@Wramberg maybe [this](https://stackoverflow.com/questions/57282301/send-html-report-with-row-collapsed) will work ?

[2020-02-11 14:34] p00j4 commented on #265
Not having UI tests right now, and wanted to test the screenshot capture in the framework design phase.
Is it not supposed to work this way, does it need to be converted to base64 (tried that too but ran in other code errors on adding to extra, so chucked)

**Version info** my bad missed last time
[code]

[2020-02-11 14:42] p00j4 commented on #266
worked like charm, thanks @BeyondEvil for the quick help

[2020-02-11 14:42] #266 closed

[2020-02-11 17:16] Wramberg commented on #239
@fpiccione Yes it will. But my issue is about having to make a manual hack.

[2020-02-11 22:53] BeyondEvil commented on #239
Would this help: https://github.com/pytest-dev/pytest-html/pull/168 @Wramberg

[2020-02-11 22:58] BeyondEvil commented on #265
@p00j4 No worries.

Like I said, I can't repro, so not sure what's going on. I'll try again with your exact environment.

But yes, assets needs to be B64 (see [here](https://github.com/pytest-dev/pytest-html/blob/v2.0.1/pytest_html/plugin.py#L181-L210), but that should be handled by `pytest_html.extras.image`

[2020-02-12 18:31] Wramberg commented on #239
@BeyondEvil I dont think so. It seems to change which rows are collapsed but not the fact that ALL rows as rendered as non-collapsed just to be collapsed later by javascript. If we instead rendered the passed rows collapsed the rendering would be a lot faster.

[2020-02-13 15:24] BeyondEvil commented on #239
@Wramberg Ah, I see.

How would you like to see this accomplished? INI-file (pytest.ini etc) setting?

[2020-02-14 08:51] Wramberg commented on #239
I imagine it can simply be changed permanently. I do not see this breaking anything since it would not change the final rendered page, just the way it is rendered - but perhaps I am missing something ?

Regardless a command line option or INI setting would be fine for me.

[2020-02-14 09:37] BeyondEvil commented on #239
Even tho it wouldn't technically break something, I'm reluctant to change a behaviour going back multiple years.

Happy to add an INI setting however.

[2020-02-14 13:07] Wramberg commented on #239
I understand. Whichever approach you prefer :+1:

[2020-02-15 03:38] ice7mayu commented on #265
Try inserting extra HTML with your image relative path embed, like this:

[code]

[2020-02-16 09:56] BeyondEvil commented on #239
Hey @Wramberg

Would you mind perf-testing my PR?

[2020-02-17 16:23] Wramberg commented on #239
@BeyondEvil Sure. I will check it out tomorrow.

[2020-02-17 17:59] #239 closed

[2020-02-17 18:00] BeyondEvil commented on #239
I merged it. But please feel free to use master branch. Good to have a test before I do a release. @Wramberg

[2020-02-17 19:33] Wramberg commented on #239
Alright will do

[2020-02-19 05:50] Wramberg commented on #239
@BeyondEvil see my reply on your PR #267.

[2020-02-20 17:16] BeyondEvil commented on #239
Yes, thanks @Wramberg !

Fix in #268

Please re-test if you have time. :)

[2020-02-25 11:42] BeyondEvil commented on #239
Please test now @Wramberg 🙏

[2020-02-25 17:18] Wramberg commented on #239
Sorry, time has been limited. According to a fast copy pasta test of the core functionality indicates that it work 👍

[2020-02-27 00:50] csm10495 commented on #131
I'm curious, if we see a 'teardown' event come in instead of a 'call' can we just delete the last row of html and create a new one then as if it had been a 'call'.. (Then also fix test counts).

[2020-03-02 14:30] jackkrieger opened #272 "Can't freeze pytest with pytest-html plugin using PyInstaller"
I'm trying to freeze my test code with pytest-html plugin using PyInstaller 3.6

My conftest.py contains HTML report customisation code:

[code]

There is a code in my test app to allow external plugins to be frozen:

[code]

When running the app I get
[code]

[2020-03-02 18:39] christiansandberg commented on #265
I can’t find any documentation on what “content” you can add. I had to look at the code to figure out it should be Base64 encoded. Also if you use relative path then the report file must be in the current working directory as the href is not adjusted based on the path to the report.

[2020-03-02 23:46] jmrgibson commented on #272
I just ran into this using [pyoxidizer](https://pyoxidizer.readthedocs.io/en/stable/), I think you want to use `pytest_html.plugin`, not just `pytest_html`

[2020-03-02 23:51] BeyondEvil commented on #265
Good catch @christiansandberg !

Mind opening a separate issue for improving the docs? 🙏

[2020-03-03 04:49] csm10495 opened #273 "Support FORMAT_TEXT on recent chrome with self contained html"
Right now doing something like this:

[code]

leads to something like this:

![image](https://user-images.githubusercontent.com/5749838/75743764-0035e200-5cc7-11ea-9d47-16de1419b725.png)

The problem is if you click the "Hello Text" link, chrome will close it immediately. This is a standard behavior as of recent chrome (https://stackoverflow.com/questions/46818033/opening-datatext-plain-window-in-

[2020-03-03 06:47] christiansandberg commented on #273
Would the download attribute work perhaps?

https://www.geeksforgeeks.org/html-a-download-attribute/amp/

[2020-03-03 06:59] christiansandberg opened #274 "Extra content improvements"
I’ve got some suggestions on improving the extra feature. Please let me know what you think and I can do the implementation.

* Add to documentation what types of content are supported and their respective limitations.
* Add possibility to add raw data without having to Base64 encode it first. Maybe let the user optionally specify explicitly if the content is a path, Base64 encoded or raw data.
*

[2020-03-03 08:58] jackkrieger commented on #272
Thanks! That works!
Also you need to add 'style.css' and 'main.js' as datas to be able to generate reports.

[code]

[2020-03-03 08:58] #272 closed

[2020-03-03 16:26] jmrgibson opened #275 "Use importlib.resources rather than setuptools.pkg_resources"
Could we change this package to use https://docs.python.org/3/library/importlib.html#importlib.resources.read_text? instead of pkg_resources from setuptools?

I see the following advantages

1) pip installing setuptools doesn't play nice with tools like https://github.com/jazzband/pip-tools
2) pkg_resources doesn't work with pyoxidizer https://pyoxidizer.readthedocs.io/en/stable/,
3) importlib is

[2020-03-03 16:28] jmrgibson commented on #275
PR: https://github.com/pytest-dev/pytest-html/pull/276

[2020-03-05 01:36] csm10495 commented on #273
@christiansandberg , I think so. Opened #278 to use that. Thanks!

[2020-03-10 18:40] Maytrovato opened #279 "Hook pytest_html_report_title not available in tag 2.0.1"
Hi guys, I just update the package in my repo but that hooks is still not available. Even tho is in the readme. Can you please update it? thanks.

It throws this message.

[code]

[2020-03-11 07:04] christiansandberg commented on #279
It’s only in master. You need to look at the README for the released version:

https://pypi.org/project/pytest-html/

[2020-03-11 09:25] BeyondEvil commented on #279
Thanks @christiansandberg

This reminds me, I really need to do a release. 👍

[2020-03-11 09:25] #279 closed

[2020-03-11 16:27] ssbarnea opened #282 "2.1.0 release causing object has no attribute 'funcargs'"
Apparently the release of `pytest-html==2.1.0` broke our CI https://logserver.rdoproject.org/74/24774/67/check/rdo-tox-molecule/db3175d/job-output.txt

For the time being, I will pin-down: `pytest-html<2.1.0`

This bug is likely to affect any user of molecule, as we recommended using pytest-html to improve the reporting, but it is not a direct dependency of molecule tool itself, so we cannot reall

[2020-03-11 18:53] BeyondEvil commented on #282
Any idea how I can reproduce this locally? @ssbarnea

Any idea what a fix could be? Apart from `hasattr` which seems more like a hack. 🤔

[2020-03-11 18:55] BeyondEvil commented on #282
Ping @christiansandberg 😊

[2020-03-12 06:53] christiansandberg commented on #282
Doh! I swear I saw that in the API but apparently not. 🙄 The list of extras could be global anyway since only one function is executed at a time. The list could be cleared on fixture setup. I can provide a pull request tonight.

[2020-03-12 09:19] RonnyPfannschmidt commented on #282
as  per https://github.com/ansible-community/pytest-molecule/blob/master/pytest_molecule/__init__.py#L113 its a item, which doesn't have the attribute

[2020-03-12 10:48] BeyondEvil commented on #282
Thanks! 🙏

[2020-03-13 18:49] christiansandberg commented on #282
@BeyondEvil I’ve made a pull request so you can make bugfix release.

[2020-03-17 09:38] #249 closed

[2020-03-18 18:46] #282 closed

[2020-03-19 11:24] BeyondEvil commented on #282
Fix released in v2.1.1 @ssbarnea  👍

[2020-03-24 09:21] hello-ming commented on #171
Any progress here? It's better if we could control disabling stdout or stderr or all.

Wondering why captured stdout/stderr contents are the same in my html report

[2020-04-01 02:01] zen-gineer commented on #176
I tried this and it says there's no fixture named config. I thought maybe pytest_configure(config) was a special function but when I tried to create it I got a huge error.

Code:
@pytest.hookimpl(tryfirst=True)
def pytest_configure(config):
    feature_name = os.environ.get('PYTEST_CURRENT_TEST').replace('test_', '').split(':')[-1].split('__')[0]
    report_dir = os.path.join(os.path.dirname(__fil

[2020-04-01 07:08] andreabisello commented on #176
@zen-gineer  try updating pytest,
this is my conftest.py

it create report filename consiering also the parameter passed
[code]

[2020-04-03 19:03] h-rueda opened #288 "Jenkins doesn't execute the embedded script code of pytest-html reports"
It seems that Jenkins blocks the execution of the embedded script code of the pytest-html reports

All table rows are expanded by default and they don't have the click event attached to them.

[2020-04-05 20:09] BeyondEvil commented on #288
I have extremely limited experience with Jenkins.

I don't think this has anything to do with the plugin or the report generated by it.

A quick search gave me [this](https://wiki.jenkins.io/display/JENKINS/Configuring+Content+Security+Policy#space-menu-link-content) but I can't say how, if at all, relevant it is.

I would probably start by reaching out the Jenkins community.

[2020-04-06 08:23] h-rueda commented on #288
Actually is the Jenkins content-security-policy that blocks the JavaScript execution.

You can close this issue.

[2020-04-06 08:29] h-rueda opened #289 "Documentation/comments : Could you better document the hooks arguments type ?"
Could,

Could you add more comments to the code and Readme files so that we can better understand the type of objects and the attributes of the following parameters :
- report
- prefix
- summary
- postfix
- cells
- data

I found them in the following hookers:
- def pytest_html_report_title(report):
- def pytest_html_results_summary(prefix, summary, postfix):
- def pytest_html_results_table_header(

[2020-04-06 08:29] BeyondEvil commented on #288
Glad I could help! 👍

[2020-04-06 08:29] #288 closed

[2020-04-07 06:07] eblis opened #290 "Getting KeyError time when trying to generate report"
I'm trying to run the following command `pipenv run py.test --html=report.html --html-profiling --html-call-graph` but getting an internal error.

[code]

[2020-04-07 07:32] BeyondEvil commented on #290
It looks like you're using a [fork](https://github.com/hyperbrowser/pytest-html-profiling) of this plugin. Can you reproduce this with the "real" plugin?

If so, it would be great if you could share a minimal test case that reproduces the issue.

At the very least you should provide more information, like what OS are you using, python, pytest and plugin versions. Does it happen locally and/or in C

[2020-04-07 07:41] eblis commented on #290
Ah, sorry, I thought I was writing the issue in that repo :)
Sorry.
I'll try to report this on their repository, but since you asked i'll add the data here as well.
Any pytest-bdd test fails with the above error.

My dependencies are
[code]
Python version 3.8.1 x64 on Windows 10 x64 with pipenv version 2018.11.26

[2020-04-07 09:15] h-rueda opened #291 "Split the results data in several tables ?"
Enhancement suggestion

Instead of having a gigantic HTML table with all the results, could we split that table and produce a separate HTML table per module ?

That will improve the readability of the test report

I was thinking of something like this :

[code]

[2020-04-07 14:29] BeyondEvil commented on #291
Rendering the report collapsed is already [supported](https://github.com/pytest-dev/pytest-html#display-options).

[2020-04-08 21:24] h-rueda opened #292 "Question: Is there a fixture that allows me to modifiy the initial-sort column ?"
I would like to be able to set the initial-sort column through a hook.

[2020-04-09 06:48] BeyondEvil commented on #292
No fixture, but a hook:

[code]

[2020-04-09 16:30] h-rueda commented on #292
thanks :)

[2020-04-09 16:30] #292 closed

[2020-04-22 20:51] broccoli opened #293 "change htmlpath"
The output says the report is at "generated html file: file:///project/report.html".  How do I change "project"?  It appears to come from `config.getoption("htmlpath")`.  How do I set that?  I've tried adding htmlpath value in pytest.ini.

[2020-04-23 16:52] jonathantizard opened #294 "Possible to have --self-contained-html extra.image open in new tab"
Hi,

So currently I would like to pass images from web driver as base 64 encoded straight into your extra.image helper.

When setting to --self-contained-html. This works great, the only downside is that the images are no longer clickable. They don't open in a new tab.

Would it be possible to embed a little bit of JS on an onClick handler so that the image can open in a new tab? I'd love to submi

[2020-04-24 22:21] CuriousQA opened #295 "[Request]: Can we please add the support to extend the pytest-html to pytest-bdd framework?"
This plugin is absolutely working for pytest-bdd framework too. I see the passed/failed/skipped etc. However, I am wondering if we can extend support of this plugin for pytest-bdd framework? As we can see the report with the Feature as well for Feature/Gherkin steps. ?? Any suggestions/thoughts are highly appreciated.

[2020-04-25 06:47] christiansandberg commented on #295
Just for information, I've just started developing a plugin to generate reports using templates and hooks. This would be a typical use case where you have specific needs that would make pytest-html more bloated if it should try to support every specific need. It has a core plugin which can be used by other plugins to offer various templates. It's very experimental and lacks basic features but I ho

[2020-04-27 15:51] CuriousQA commented on #295
Thank you @christiansandberg  for the response. Good to know there is an active development and I'm hopeful that you will be succeeded.

My main purpose for this report is to get a single html file, which has the necessary details. This HTML email will be sent to the team via Jenkins. The receivers can just view the report on the high level. Most of the receivers do not have access to view the rep

[2020-04-27 16:22] christiansandberg commented on #295
The reference template I’m developing is a self contained HTML file. Although Allure looks cool it is not always very practical to have to send a huge zip file or host it on a server.

[2020-04-28 13:54] CuriousQA commented on #295
yeah.. I am not new but kinda in Python. If you need any assistance in few modules, I can try to help you out.

[2020-05-05 02:06] dasm commented on #293
@broccoli you can use `--html` to point to directory of choice: `pytest --html=~/report.html` will generate `report.html` file in your home directory.

[2020-05-06 03:52] kstsai commented on #171
FYI,

I used
`pytest --html=1.htm --self-contained-html --capture=tee-sys`

the generated 1.thm
DOES include captured stdout output nearby relevant test case.

[2020-05-08 09:23] pranav165 opened #297 "When using pytest-html with pytest-xdist plugin , i am getting the "assert not crashitem, (crashitem, node)"
Exception is thrown at getplugin statement

@pytest.hookimpl(hookwrapper=True)
def pytest_runtest_makereport(item):
    pytest_html = item.config.pluginmanager.getplugin("html")

scheduling tests via LoadScheduling

tests/api/test_price_book.py::TestPriceBookAPI::test_get_pricebook_id
tests/api/test_price_book.py::TestPriceBookAPI::test_get_pricebook_api
INTERNALERROR> Traceback (most recent call

[2020-05-08 10:55] #297 closed

[2020-05-08 10:57] pranav165 commented on #297
Closing , as fixed by removing statements [report.path = report.nodeid.split('/')[-1].split('::')[0]
    report.nodeid = report.nodeid.split("::")[-1]]

@pytest.mark.hookwrapper
def pytest_runtest_makereport(item):
    pytest_html = item.config.pluginmanager.getplugin("html")
    outcome = yield
    report = outcome.get_result()
    report.path = report.nodeid.split('/')[-1].split('::')[0]
    rep

[2020-05-12 22:55] dhalperi commented on #265
Hey, I think this is a bug introduced in 2.10.0 and results from a refactoring change: https://github.com/pytest-dev/pytest-html/commit/588c41b33f2ca8884c65d3de6ccb4ade55a44bd2

[Before](https://github.com/pytest-dev/pytest-html/commit/588c41b33f2ca8884c65d3de6ccb4ade55a44bd2#diff-86ef1d98baa88b5f26ac5ad11e1d5de7L209), the `html.img()` function is run on the created asset. [After](https://github.c

[2020-05-13 15:36] BeyondEvil commented on #294
Sorry for not responding to this earlier @jonathantizard !

There are currently a bunch of open issues and PRs that together would get us some way towards fulfilling your wish.

As soon as those are solved, I can revisit this.

[2020-05-14 12:48] h3tz commented on #144
many thanks

[2020-05-18 16:08] happz commented on #254
I see. I was afraid you might say that, but thank's for checking.

In our case, each test may run several minutes, even an hour, therefore repeated open-write-close overhead wouldn't be an issue for us. I'll try to investigate the `HTMLReport` class and how to use it, I must find out how pytest-xdist processes communicate results back to where the report is generated. Maybe it's not even possible

[2020-05-18 18:19] BeyondEvil commented on #254
Good luck!

[2020-05-18 18:19] #254 closed

[2020-05-22 01:39] gnikonorov opened #300 "development.rst link to tox is insecure"
Hi all, when I click the link to learn more about Tox in development.rst, Firefox flags the link as insecure. Perhaps it should redirect to https://tox.readthedocs.io/en/latest/#?

Location of link to Tox:
![Screen Shot 2020-05-21 at 9 34 34 PM](https://user-images.githubusercontent.com/13026015/82622259-52422180-9bab-11ea-8dcc-d0cf282f7013.png)

What Firefox shows when link to Tox is clicked:
![S

[2020-05-23 01:59] gnikonorov commented on #163
Hi @davehunt, is this still something that is relevant? If so I'd like to take a stab at implementing it

[2020-05-25 04:35] ShaktiRally commented on #146
pytest-html is a plugin for pytest, not part of pytest library.

[2020-05-25 06:18] BeyondEvil commented on #300
Fixed in #301

[2020-05-25 06:18] #300 closed

[2020-05-25 06:26] BeyondEvil commented on #163
Sure, feel free to submit a PR! 👍 @gnikonorov

[2020-05-25 13:05] fenchu commented on #74
Was this ever fixed?, I still see:
[code]

[2020-05-25 13:11] fenchu commented on #74
You need to install ansi2html to get it to work, nice

[2020-05-25 15:50] gnikonorov commented on #163
Thank you @BeyondEvil!

[2020-05-30 15:55] gnikonorov commented on #163
Still planning on working on this.
I can start once https://github.com/pytest-dev/pytest/pull/7255 is merged

[2020-06-02 15:47] chen97-y opened #302 "[questions] using pytest_configure() generate report failed when pytest run in parent directory"
I want to specify report name in conftest.py, and try pytest_configure(), it worked when i run pytest in directory script. However,when i run pytest in directory:"pytest_learning",it can't generate html report,can someone help?
Thanks in advance
My project structure:
pytest_learning:
|---- script/
|--------- conftest.py
|--------- test_learning.py
part code in conftest.py:
[code]

[2020-06-03 08:57] BeyondEvil commented on #302
Could you create a small repo where this is reproducible please, @cy546342058 ?

[2020-06-08 12:00] cy546342058 commented on #302
sorry,only now see the information.
repo attach the link below,very simple..
https://github.com/cy546342058/pytest_learning.git

[2020-06-08 12:07] cy546342058 commented on #302
When I input the command 'pytest -sv' in directoery:"pytest",it can't generate html file.But when input 'pytest -sv script/', it can generate report.html
My python version is 2.7.13

[2020-06-11 17:15] alexandru-patrascu-mpf commented on #206
@cauvery  did you manage to do it? Please share the details, as I am also interested in the solving this. In my case, all tests are expanded. Thanks!

[2020-06-11 23:19] suchitha92 commented on #109
I would like to acess the config data inside the pytest_html_results_summary hook to add the details of the command being invoked for the test as a part of summary. Something like to appear in the report after summary section"

**Summary**
2 tests ran in 3.31 seconds.

(Un)check the boxes to filter the results.

1 passed, 1 skipped, 0 failed, 0 errors, 0 expected failures, 0 unexpected passes

**C

[2020-06-11 23:37] suchitha92 opened #303 "Need access to config data inside the pytest_html_results_summary hook"
I would like to acess the config data inside the pytest_html_results_summary hook to add the details of the command being invoked for the test as a part of summary. Something like below to be appeared in the report after summary section"

**Summary**
2 tests ran in 3.31 seconds.

(Un)check the boxes to filter the results.

1 passed, 1 skipped, 0 failed, 0 errors, 0 expected failures, 0 unexpected

[2020-06-12 12:42] longelier commented on #171
How I use stdout, is to display comments/messages as each test case progresses, and it shows up in the html report.  So please don't change that.
I have multiple variables to check in each testcase and I want to show in the report what the value is at that point, before moving on.  Call these checkpoints, and there are many before it gets to the final checkpoint...the completion of each test case.

[2020-06-12 14:43] BeyondEvil commented on #206
Maybe this (recently added) will solve it for you: https://github.com/pytest-dev/pytest-html#display-options

[2020-06-12 17:22] cauvery opened #304 "[pytest] render_collapsed = True does not seem to work"
I tried the below from my tox.ini file and it does not seem to work  for html results to be collapsed

[pytest]
render_collapsed = True

Can someone please take a look at that feature if it is supposed to work from pytest.ini and/or tox.ini file.

Thanks,
Cauvery

[2020-06-13 14:26] nicoddemus opened #305 "Upcoming incompatibility in pytest-xdist 2.0: "slave" aliases removed"
Hi!

As per https://github.com/pytest-dev/pytest-xdist/pull/541, pytest-xdist 2.0 will remove the deprecated "slave"
aliases, which have been replaced by "worker" since pytest-xdist 1.22.

To avoid breakage, the team suggests to update your package to use the new terms, and make a new release to avoid sudden breakages once pytest-xdist 2.0 is released.

cc @Zac-HD @RonnyPfannschmidt

Thanks!

[2020-06-13 14:26] nicoddemus opened #306 "Upcoming incompatibility in pytest-xdist 2.0: "slave" aliases removed"
Hi!

As per https://github.com/pytest-dev/pytest-xdist/pull/541, pytest-xdist 2.0 will remove the deprecated "slave"
aliases, which have been replaced by "worker" since pytest-xdist 1.22.

To avoid breakage, the team suggests to update your package to use the new terms, and make a new release to avoid sudden breakages once pytest-xdist 2.0 is released.

cc @Zac-HD @RonnyPfannschmidt

Thanks!

[2020-06-13 14:27] nicoddemus commented on #306
Sorry, duplicated of #305

[2020-06-13 14:27] #306 closed

[2020-06-15 05:56] cauvery commented on #304
Hi can someone help on this

[2020-06-15 12:25] sachinrathi007 commented on #227
instead of file = open(filename, "a")
use below-
file = open(filename, "a",encoding="utf-8")

[2020-06-16 09:45] nepumuk123 commented on #163
Hey @gnikonorov this feature would be great. Are you still planning to do this?

[2020-06-16 12:18] gnikonorov commented on #163
Hi @nepumuk123, I am yes. We just need to wait for a version of pytest that contains https://github.com/pytest-dev/pytest/pull/7255 to be released. That should be coming soon. I'll update this issue when it happens

[2020-06-16 13:18] nepumuk123 commented on #163
Cool, thank you.

[2020-06-17 06:58] fenchu commented on #35
Hi Was this code ever published?, How do I get my images under each other so it does not eat up the console output?
![id-run](https://user-images.githubusercontent.com/11349883/84865409-73961080-b078-11ea-8995-63290dcfa3a6.jpg)

[2020-06-17 09:31] alexandru-patrascu-mpf commented on #206
Hi @cauvery, thanks for the response. I did try, did not work for me either. Guess will have to wait until someone finds a solution to our problem. Thanks again!

[2020-06-17 15:00] chtcs-vamsi commented on #302
hi @chen97-y  can you tell me the significance of '-sv' in the command

[2020-06-18 01:11] cauvery commented on #206
Hi @alexandru-patrascu-mpf  it actually worked for me from Jenkins.  Though it did not work locally from my mac.  Will try later again locally and see if it worked locally too.

Its the display option I referring to that worked from Jenkins.

[2020-06-18 15:05] #305 closed

[2020-06-19 09:45] BeyondEvil opened #308 "extras.image name attribute never used"
A bug was introduced in v2.1.0 which causes (at least) extras.image name attribute to never be used in the report.

[This](https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L252) is not reachable.

Note that other extras types might be affected as well.

[2020-06-21 20:59] BeyondEvil commented on #35
@fenchu Nope.

There's an old PR you could look at it if you wanted to: https://github.com/pytest-dev/pytest-html/pull/112

[2020-06-22 16:11] theshinyknight opened #309 "links generated in the html file for attachments are absolute, there is no way to make them relative"
Not sure if this is by design or if it is a bug, but if you create a report with attachments like PNG images, the html HREF for those images is the full path.

This has the adverse downside of making reports unusable if you send the report to anyone as zip file, or if you even move the folder where the report and related files are located.

To reproduce:

- Create a generic report, adding a png fi

[2020-06-24 12:50] memetb opened #310 "Possibly allowing better extensibility to html output"
Hi,

I make use of pytest-html extensively and find the plugin generally fantastic.

In my usage, I have resorted to some substantial modifications to the output content. Recently I found myself going a bit too far and running regexes on output to alter them.

I think the following surgical changes would go a long way in avoiding such poor practices:

- Wrapping [body](https://github.com/pytest-de

[2020-06-25 12:31] BeyondEvil commented on #309
I think this is the reason for the adding of the `--self-contained-html` flag.

[2020-06-25 12:33] BeyondEvil commented on #310
I'd be happy to review a PR! We can always create a new breaking/major release. 👍 @memetb

[2020-06-26 17:05] cauvery commented on #304
This is working now. Thanks and closing this now

[2020-06-26 17:05] #304 closed

[2020-06-28 09:30] memetb commented on #310
@BeyondEvil I've done a full feature including documentation upate in the PR #311. Let me know if you have any concerns.

Thank you.

[2020-06-28 17:31] theshinyknight commented on #309
That would be acceptable if the output would be able to run anywhere, but when using that flag, it won't run correctly on a different computer.

[2020-06-30 20:19] christiansandberg commented on #310
I just thought that I should add that I’ve developed a plug-in for generating reports using template engines as an alternative for those occasions you find yourself needing to do more heavy customization. It allows you to make a report from scratch or inherit an existing template and override parts of it.

[pytest-reporter](https://github.com/christiansandberg/pytest-reporter)
[pytest-reporter-htm

[2020-07-01 08:28] fenchu commented on #48
I have a test here where I need to run two pytest instances. If I run them in same instance browser will not clear its session. so this feature is needed. If I kill the browser/webdriver processes selenium just says socket is occupied.

[2020-07-02 19:41] codeturtle00 commented on #35
For @fenchu and whoever else that lands on this page like me. A possible workaround is using extras.html, which will place images above your log. This way you can also add captions to your images and I imagine with some effort you can hack up a slideshow/gallery.

A very simple example:
[code]

Alternatively you can also use [Pillow to concatenate images](https://note.nkmk.me/en/python-pillow-conc

[2020-07-03 20:03] manishkyadava commented on #265
facing the same issue. Images are capturing but not getting displayed in the report. If you click on the image link which shows the image path/image name which exist but not displaying

[2020-07-03 20:31] hewerthon opened #312 "How add class name to Captured log call in html report"
When try parse the HTML report to get some information about logging
All information about the test is put the same div class = "log"

How I can separate the output test failed and exit logging?
Exemplo:
div class="stdout"
 -----------------------------Captured stdout setup------------------------------
div class="stderr"
 -----------------------------Captured stderr setup-------------------------

[2020-07-10 09:28] memetb commented on #310
Hey, thanks @christiansandberg. That looks quite nice at a glance. I will review it when I get some cycles.

[2020-07-13 16:43] pawan7476 opened #314 "Garbage date-time is printed in the Captured log."
Garbage date-time is printed in the Captured log.

**pytest-html report:**

------------------------------ Captured log setup ------------------------------
[32mINFO    [0m root:test_cyclic_switchover.py:26 Inside Setup
[32mINFO    [0m root:test_cyclic_switchover.py:54
------------------------------ Captured log call -------------------------------
[32mINFO    [0m root:test_cyclic_switchover

[2020-07-13 22:09] BeyondEvil commented on #314
Could you provide some more info @pawan7476 ?

- OS and version
- Python version
- Pytest version
- Plugin version
- Default encoding of your OS

It'd be great if you could also provide a minimum reproducible test.

Thanks!

[2020-07-13 22:10] BeyondEvil commented on #312
Not sure I understand what you're trying to accomplish. What's the use case?

[2020-07-14 09:20] pawan7476 commented on #314
Hi @BeyondEvil,

Please find the required details :

- py==1.9.0
- pycparser==2.20
- PyNaCl==1.4.0
- pyparsing==2.4.7
- pytest==5.4.3
- pytest-html==1.22.1
- pytest-metadata==1.8.0
- pytest-repeat==0.8.0
- Python | 3.5.2
- Packages | {'pluggy': '0.13.1', 'pytest': '5.4.3', 'py': '1.9.0'}
- Platform | Linux-4.4.0-62-generic-x86_64-with-Ubuntu-16.04-xenial
- Plugins | {'metadata': '1.8.0', 'html': '

[2020-07-14 11:49] BeyondEvil commented on #314
We only support python `>=3.6`. Could you try and see if this is reproducible with 1) a newer version of python and 2) a newer version of the plugin (latest is `2.1.1`) @pawan7476

[2020-07-15 11:21] pawan7476 commented on #314
Hi @BeyondEvil ,

I tried with

`pytest-html==2.1.1`
`Python 3.6.8`

But still facing the same issue.

[2020-07-15 12:53] BeyondEvil commented on #314
Thank @pawan7476

Let me try to reproduce.

[2020-07-15 12:57] BeyondEvil commented on #314
You need to add the `assets` folder to the zip-file.

You can also try using the `--self-contained-html` file.

[2020-07-15 13:08] BeyondEvil commented on #314
I'm having trouble reproducing this. Could you provide a small test-case/python file (or even a complete repo) to help with reproducing this error?

[2020-07-15 13:45] pawan7476 commented on #314
Hi @BeyondEvil ,

Please find all the minimum sample conf , test scripts , run logs attached which will help reproducing the issue.

thanks
Pawan
[Test Files.zip](https://github.com/pytest-dev/pytest-html/files/4925583/Test.Files.zip)

[2020-07-15 22:28] BeyondEvil commented on #314
I've identified the root cause. The "garbage" that you're seeing are the ANSI color codes for the log levels.

See this [PR](https://github.com/pytest-dev/pytest/pull/3142)

The solution (or workaround 🤔) is to pass `--color=no` on the command line or in `pytest.ini` as `addopts = --color=no`

[2020-07-15 23:09] BeyondEvil commented on #314
Ok, I've found a way to handle it properly in the plugin. Please use the workaround for now.

[2020-07-15 23:12] BeyondEvil commented on #302
What version of the plugin are you using?

Since v2, we don't support python 2.7 anymore.

But I'll have a quick look to see if it's something simple.

[2020-07-16 04:02] pawan7476 commented on #314
@BeyondEvil I've tested with your workaround and it helped to stop printing ANSI color codes. My only gripe is that in the pytest-html plugin report captured log, the date time is not captured as it should be  like on the console logs.

**pytest-html captured logs:**
`
-------------------------------Captured log setup-------------------------------
INFO     root:test_cyclic_switchover.py:22 Inside

[2020-07-16 04:19] pawan7476 commented on #314
if we capture date-time with logging info for pytest-html plugin captured logs that will be great 💯

**Expected:**
`2020-07-16 09:21:24 [ INFO] Inside Setup (test_cyclic_switchover.py:22)`
**Actual :**
`INFO     root:test_cyclic_switchover.py:22 Inside Setup`

[2020-07-16 08:39] BeyondEvil commented on #314
The issue is that the information we get from pytest is the `captured` logs. They don't contain the timestamp, only the `live` logs do.

Is there an easy way for us to get the `live` logs (if present) instead of the captured @nicoddemus ?

https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L278

[2020-07-16 21:33] nicoddemus commented on #314
It should be possible to configure the logging formatting using the various logging options.

Also there should be an option to disable log coloring.

Unfortunately not at the moment, but I believe the two issues above should be fixable.

[2020-07-16 21:38] BeyondEvil commented on #314
I don't think the configuration of the formatting is the issue here, the information coming from the captured logs still contain the ANSI escape sequences, so for the report (when _not_ using ansi2html) we need to strip those out.

Right, `--color=no`, or am I misunderstanding you?

I made an attempt in #315

Is there a better approach?

[2020-07-16 21:41] nicoddemus commented on #314
That's right, but I mean there should be a separate option just for logging, say `log_color` or something.

[2020-07-16 21:49] BeyondEvil commented on #314
Can't find any. Even if I could, I'm not sure how it would solve the issue? 🤔

[2020-07-16 23:30] nicoddemus commented on #314
I just we could suggest users to configure `log_color` to false, then pytest-html wouldn't see the color codes at all. But your PR takes care of that so I don't think we should worry about it.

[2020-07-17 03:32] wanwan905 opened #317 "init error : No such file or directory: '{csspath}"
I use pytest in embedded linux
and python version is 3.5.9

when running "pytest " ：

Traceback (most recent call last):
  File "/mnt/python/python35/bin/pytest", line 11, in <module>
    load_entry_point('pytest==5.4.3', 'console_scripts', 'pytest')()
  File "/mnt/python/python35/lib/python3.5/site-packages/pytest-5.4.3-py3.5.egg/_pytest/config/__init__.py", line 105, in main
    config = _prepar

[2020-07-17 05:10] pawan7476 commented on #314
@nicoddemus @BeyondEvil , Please let me know if implementation of the above is in the plan.

[2020-07-17 08:02] RonnyPfannschmidt commented on #317
moved this to pytest-html, good luck

[2020-07-17 09:11] The-Compiler commented on #317
Like mentioned in the readme, pytest-html requires Python 3.6 or later. Given that:

- Support for Python 3.5 was dropped in February 2017 (0ac9166703edc7ef4d77bd23eec18a13b09c62e6) and this only came up twice since then (#243 and this issue)
- Upstream support for Python 3.5 [will end](https://devguide.python.org/#status-of-python-branches) in September

I don't think there are any plans to bring

[2020-07-17 09:11] #317 closed

[2020-07-17 09:17] BeyondEvil commented on #314
Yes, I'll merge the fix and see if I can't make a release this weekend.

[2020-07-22 17:49] #303 closed

[2020-07-22 17:50] suchitha92 commented on #303
Found a solution to use sys.argv

[2020-07-29 07:20] ssbarnea opened #318 "revive pytest-html maintenance"
pytest-html needs an active pool of maintainers as it slowly degraded.

I am offering to help with most maintenance tasks and especially around making/keeping CI/CD green and reviewing upcoming contributions.

pytest-html is a key ingredient in testing implementation we use on several openstack projects, also directly used with my pytest-molecule plugin, so I have a strong interest in keep in it w

[2020-07-29 08:55] ssbarnea commented on #318
@pytest-html-admin please assist.

[2020-07-29 10:25] webknjaz commented on #318
@pytest-dev/pytest-html-admin @pytest-dev/pytest-html-developers ^

[2020-07-29 10:35] ssbarnea commented on #318
Indeed, as non member I cannot mention these teams and when I hover over the links I get "Hovercard not available".

[2020-07-29 12:11] davehunt commented on #318
I don't agree that pytest-html maintenance needs 'reviving' or that it's slowly degraded. I'm certainly not an active maintainer these days, but @BeyondEvil has been doing a great job of keeping the plugin going, and without him I'm certain the plugin would be in a far worse state. That said, there's always room for improvement, and it sounds like you have some good ideas. I encourage you to work

[2020-07-29 13:32] ssbarnea commented on #318
Yes @BeyondEvil did a great job and without him the project would be in a very poor state. Still this does not mean that the project does not need more attention,  https://github.com/pytest-dev/pytest-html/pull/315 got stalled/blocked because lack of a simple rebase.

https://github.com/pytest-dev/pytest-html/pull/320/files adds testing with devel. There is also a LOT of work to be done on mainten

[2020-07-29 19:51] RibeiroAna commented on #318
Hi there, unfortunately since last year I could not find time to contribute to Pytest-HTML since I have a full time job and this year was not particularly easy for me (I broke my leg at begging of the year, before all the pandemic thing). I still have a lot of interest in the Pytest project and I hope to return to the project whenever it's possible. By now I don't know what I can do to contribute

[2020-07-29 19:52] brad-natelborg opened #321 "Error with Pytest 6.0.0"
With the latest version of Pytest coming out on 7/29/2020, I now get the following error in pytest-html:

[code]

[2020-07-29 21:33] jorge-dev commented on #321
Having same Issue. In my case the error only happens when a test is skipped by using `@pytest.mark.skipif`.
Doing some digging I found the error is most likely originated from TestResult class inside `pytest_html/plugin.py`.
Commenting line 380 in same file allows the test to run and suppresses the error. However, the skipped tests will not be displayed in html report table.

![image](https://user

[2020-07-30 01:56] nicoddemus commented on #318
Hi everyone!

TBH I was not aware of that, I thought those teams were public and everyone could mention them.

I particular have seen @ssbarnea's work in general and would welcome him as a contributor to pytest-html. If nobody objects I would be happy to send him an invitation (although his "Collaborator" badge on the top of his comment frames already say he has been invited to contribute to the p

[2020-07-30 01:57] nicoddemus commented on #318
Ouch! Sorry to hear that @RibeiroAna. Espero que nessa altura tu já esteja melhor!

[2020-07-30 02:04] gnikonorov commented on #318
I don’t mind taking on an active role in maintaining this plugin if no one objects. I’ve been meaning to contribute to it for a while.

[2020-07-30 02:06] nicoddemus commented on #318
@gnikonorov you have my vote, you have already proven a valuable member to the pytest core team, I'm sure you can greatly help out `pytest-html` as well. 👍

[2020-07-30 06:38] BeyondEvil commented on #321
Revert to latest 5 version, fix is coming in 6.0.1

[2020-07-30 06:56] BeyondEvil commented on #318
Hi @nicoddemus

That was me (attempting) to add @ssbarnea as a "full" contributor. Obviously I failed.

I attempted to do it the correct way just now (or at least what I perceive to be the correct way, it doesn't seem to be documented anywhere), but it looks like I don't have the correct permissions?

I'm helping @davehunt to maintain:

pytest-html
[pytest-selenium](https://github.com/pytest-dev/p

[2020-07-30 07:13] BeyondEvil commented on #318
Sorry to hear that! I hope you're feeling better now!

One way to contribute in a big way, is to be available to look at PRs. Even tho you've been away, I don't think the plugin has changed in any significant way. And, seeing how you've been a long time contributor, your input will be greatly appreciated! 🙏

One thing that has frustrated me, which is true for all the plugins I help maintain, is th

[2020-07-30 07:30] BeyondEvil commented on #318
I think more or less all pytest-dev plugins (incl. pytest itself) uses Travis, so I'm against moving to Github Actions unless there's very good reason to do so.

I haven't experienced any reliability issues with Travis, and I do believe the support scheduled runs - I'm just not sure if they are available on the free/OS tier. That is something I'm going to look into right now.

I do however agree t

[2020-07-30 07:37] ssbarnea commented on #318
I am really happy to see everyone stepping in to help here. It make me quite positive about the future as we identified few things to improve. Yes, very often the admins or even cores forget the user experience interacting with a repo can be quite limiting, it happened to me several times and I ended up creating and using a spare github account for validating different scenarios.

The good part is

[2020-07-30 08:29] webknjaz commented on #318
`Colaborator` means that he's been added to the repository, not the org. In the org settings, he'll show up as an "outside" contributor unless invited to the org teams specifically... Then, the label would be `Member`.

[2020-07-30 08:31] webknjaz commented on #318
GHA just gives more free resources in general + job logs are embedded in the GH UI which is nice + they have built-in artifacts that you can save from jobs. Also, flexibility seems higher.

[2020-07-30 08:33] webknjaz commented on #318
You can enable cron runs in Travis for free. Just go to the project settings there and scroll down, then select a branch and an interval.

[2020-07-30 08:34] BeyondEvil commented on #318
Can you give me that level of access @nicoddemus ? Seems @davehunt couldn't. 🤷‍♂️

[2020-07-30 08:49] The-Compiler commented on #318
FWIW pytest itself [switched to GitHub Actions](https://github.com/pytest-dev/pytest/pull/6355) in December 2019 for [almost all its jobs](https://github.com/pytest-dev/pytest/actions), the only thing still done via Travis is tests for Python 3.5.0 and .1 as those patch versions apparently aren't easily available via GitHub Actions. A couple of plugins I looked at (pytest-timeout, pytest-randomly,

[2020-07-30 08:54] webknjaz commented on #318
@The-Compiler have you tried setup-python v2 or deadsnakes? I think they may have fixed that by adding more interpreters downloadable on the fly...

[2020-07-30 08:58] The-Compiler commented on #318
@webknjaz Only 3.5.4 [is available](https://github.com/actions/python-versions/blob/main/versions-manifest.json) via GHA, and 3.5.7 [via deadsnakes](https://launchpad.net/~deadsnakes/+archive/ubuntu/ppa). Let's take this to https://github.com/pytest-dev/pytest/issues/6369 though.

[2020-07-30 09:00] BeyondEvil commented on #318
Well, there you go. ☺️

I can look into moving to GA. Hopefully that would also solve the permissions issue with Travis.

[2020-07-30 09:33] The-Compiler commented on #318
Here's a quite simple example of running tests/linters (though via tox) and then deploying to PyPI, if that's of any help: https://github.com/The-Compiler/pytest-mccabe/blob/master/.github/workflows/main.yml

I guess it'd also make sense to use the account of @BeyondEvil (and an [API token](https://pypi.org/help/#apitoken) instead of username/password) rather than @davehunt for releases?

[2020-07-30 10:25] ssbarnea commented on #321
Master already avoids 6.0.0 version and it does not make sense to force a release. We can close the bug as upstream one, one with simple workarounds.

[2020-07-30 10:32] ssbarnea commented on #318
Please do not use personal accounts for releases, make a service/bot account for this purpose and configure its token in correct places. Personal account usage is less safe, misleading (as the person trigering the release is not necessary the same and also decreases trust related to having a reliable release pipelines. Ideally we should have a "pytest" bot account for the entire pytest-dev organiz

[2020-07-30 10:36] BeyondEvil commented on #318
I agree with @ssbarnea about having a pytest-bot shared between all the pytest-dev projects. This is good for other things as well, like integrations.

What needs to be solved however is how to share those credentials.

Maybe use something like 1Password or Lastpass? But I’m not sure a free/OS tier allows for multiple users.

[2020-07-30 10:44] ssbarnea commented on #318
I am already using 1Password and I do have a free team license they offered me for use with https://github.com/pycontribs/ organization, so if anyone wants I can create a team there and nobody needs to install 1Password or pay for it. Alternatively, you can ask them for another team account for PyTest organization too. AFAIK, LastPass or Bitwarden do not have such plans, which is really sad, espec

[2020-07-30 11:39] brad-natelborg commented on #321
@ssbarnea When you say simple workarounds, are you just referring to using an older pytest version?

[2020-07-30 12:16] The-Compiler commented on #318
I opened https://github.com/pytest-dev/pytest/issues/7585. The PyPI token can just be configured as an organization-wide GitHub secret, then it can be used in GitHub Actions by any pytest-dev repo. The "real" account details still would need to be shared in some different way, but I think it'd make more sense to have things like that shared with only a handful of core developers (just like e.g. ac

[2020-07-30 12:19] ssbarnea commented on #321
Take a look at https://github.com/pytest-dev/pytest-html/pull/319/files -- if I remember well, master branch of pytest already had it fixed, which means wait for 6.0.1 version. There is nothing else than skipping 6.0.0 from the pytest-html point of view.

Or just wait and likely it will sort-out by magic, when 6.0.1 is released ;)

To prevent future surprises I already proposed https://github.com/

[2020-07-30 12:27] brad-natelborg commented on #321
Got it, thanks!

[2020-07-30 12:27] #321 closed

[2020-07-30 13:27] ssbarnea opened #322 "Replace travis with github-actions"
I created this in because I want to exemplify why I think in 2020, it makes more sense to use Github Action than Travis.

There is nothing preventing us from running both in parallel for a longer period of time, and even ignoring the results from one of them if we want.

I can easily raise a PTs I already did this for lots of repos and I know the tricks.

## Update 2020-10

Changed scope from tryi

[2020-07-30 22:47] BeyondEvil commented on #322
I would really appreciate a PR with some Github Actions! 😊

It would be awesome if you could comment it extensively to expedite the learning curve for me (and future contributors). Especially any tricks. 👍

[2020-07-31 01:56] nicoddemus commented on #318
Just found time to read this now, sorry for joining late.

I've commented on https://github.com/pytest-dev/pytest/issues/7585, I'm not sure having a shared token is a good idea in the sense that it might not really make things more convenient and will probably be less secure. I suggest we move the discussion about shared token to that thread to avoid having the discussion happen in two places. :+1

[2020-07-31 07:04] BeyondEvil commented on #318
I tried adding him in that team as outlined [here](https://github.com/pytest-dev/pytest-html/issues/318#issuecomment-666167221), but I'm either blind (can't find any `add` button or the like, or I don't have the correct perms/access.

I'll see if I can at least give him write perms.

[2020-07-31 07:24] ssbarnea commented on #318
Thanks!

[2020-07-31 10:09] webknjaz commented on #318
@BeyondEvil that view shows @davehunt as a team maintainer. This means that he is the one who can add users there, or any other user with the "Owner" (maybe "Admin", not sure) level org-wide.

@nicoddemus @The-Compiler @RonnyPfannschmidt could you please add @ssbarnea to the team @pytest-dev/pytest-html-developers?

[2020-07-31 10:41] RonnyPfannschmidt commented on #318
@webknjaz thanks for the ping, the invite for @ssbarnea is out

[2020-07-31 11:28] davehunt commented on #318
It doesn't look like I'm able to change anyone's role to maintainer. I'm happy to add members, but it might make more sense for @BeyondEvil to also be a maintainer.

[2020-07-31 11:58] webknjaz commented on #318
@davehunt you are the org owner, owners have unlimited power (and I think they are the only ones able to assign team maintainers IIRC). I think you must be looking at some wrong view...

[2020-07-31 12:07] nicoddemus commented on #318
@BeyondEvil is also a maintainer already in this view:

![image](https://user-images.githubusercontent.com/1085180/89033459-2eb6f800-d30d-11ea-9328-08b41378b157.png)

[2020-07-31 12:07] webknjaz commented on #318
@davehunt I just checked in @aio-libs and found that in the team view I can select a member with a checkbox and then there's a menu on top that has "Change role..."

<img width="493" alt="gh-team-maint" src="https://user-images.githubusercontent.com/578543/89033411-02b06c80-d337-11ea-889f-a96aaf8656a6.png">

But it looks like on your screenshot those checkboxes are missing.

[2020-07-31 12:08] webknjaz commented on #318
@nicoddemus on your screenshot he is not

[2020-07-31 12:12] nicoddemus commented on #318
Yeah he's on the "admin" teamn, but you are right he's not! Thanks!

Changed both @BeyondEvil and @RibeiroAna to `maintainer`, thanks @webknjaz!

![image](https://user-images.githubusercontent.com/1085180/89033664-b0a72100-d30d-11ea-8f20-ad56e6468c20.png)

But I see the distinction now: "teams" don't imply any access rights, it is just a grouping of users.

[2020-07-31 12:18] BeyondEvil commented on #318
Do you mind making me a ”maintainer” of the other plugins as well (base-url, metadata, selenium, variables)?

If @davehunt agrees of course.

[2020-07-31 12:29] nicoddemus commented on #318
@BeyondEvil done all, let me know if there's anything missing.

(In retrospect I don't think the existence of "admin" and "developers" groups help much... probably better to just let each plugin create teams as they see fit. It is even stranger that people outside the organization cannot ping *public* teams, which would be an excellent use for this).

[2020-07-31 13:12] BeyondEvil commented on #318
Thanks @nicoddemus, I appreciate the help! 🙏

That is strange 🤔

[2020-07-31 13:16] webknjaz commented on #318
Well, I mean... They may imply certain privileges because you then grant those teams some level of access to repos. Just not within the same group.

[2020-07-31 13:16] webknjaz commented on #318
@nicoddemus looks like with all this discussion we forgot to invite Gleb https://github.com/pytest-dev/pytest-html/issues/318#issuecomment-666037806 too.

[2020-07-31 13:34] nicoddemus commented on #318
Ahh indeed, thanks for the reminder, but now @BeyondEvil can take it from here I assume?

[2020-07-31 13:35] gnikonorov commented on #318
Thank you for remembering @webknjaz

[2020-07-31 13:38] BeyondEvil commented on #318
Yes, sir!

[2020-07-31 13:41] BeyondEvil commented on #318
Done! Welcome to the team! 👊

With great power comes etc... 😊

Looking forward to your contributions. 👍

[2020-07-31 13:56] gnikonorov commented on #318
Thank you @BeyondEvil! Looking forward to contributing

[2020-08-02 15:35] gnikonorov commented on #322
+1 to @BeyondEvil's response

[2020-08-02 16:18] gnikonorov opened #323 "Results table creates one <tbody> element per row"
Currently `pytest-html` creates one `<tbody>` element per row. Perhaps it should make only one `<tbody>` element for the table?

Please see the below image with Firefox web inspector open. Report generated by head of `pytest-html`:

![Screen Shot 2020-08-02 at 12 13 55 PM](https://user-images.githubusercontent.com/13026015/89127246-16381080-d4ba-11ea-8d74-5513552446f0.png)

[2020-08-05 03:35] gnikonorov commented on #323
Sorry, I looked into this some more and it turns out this is perfectly acceptable. Closing

https://stackoverflow.com/questions/4873701/are-html-tables-valid-if-there-are-multiple-tbody-tag-used?lq=1
https://www.w3.org/TR/xhtml1/dtds.html

[2020-08-05 03:35] #323 closed

[2020-08-05 03:51] gnikonorov commented on #193
If no one objects, I am going to look into implementing this hook

[2020-08-05 22:18] BeyondEvil commented on #193
Before doing anything, I would love it if you, @ssbarnea and I could do a zoom-meeting or something to go through the current list of issues and to at least a rough prioritization/"grooming".

I'm pretty certain there are both duplicate issues and issues with more or less overlap.

[2020-08-05 23:47] gnikonorov commented on #193
@BeyondEvil - sure I'd love to set up a meeting for prioritization. What time works best for everyone?  I am generally free most weekends, and after 8 PM EST weekdays. Please feel free to reach me at the email on my GitHub, if that is easier to communicate over.

@ssbarnea

[2020-08-07 09:46] BeyondEvil commented on #193
I've sent you an email. :)

[2020-08-10 09:01] ssbarnea opened #325 "future plans: render junit report files with javascript?"
This is more of a long term direction option for pytest-html: instead of rendering a HTML file with the plugin maybe it would be better to make it load and display junit reports using JavaScript.

Even mobile browsers are very powerful now and such a design would allow hosting the rendering code in a single place and just to generate a very small html which loads the JavaScript renderer and the re

[2020-08-10 12:08] BeyondEvil commented on #325
I remember @davehunt wanting to keep JS to a minimum, but I don't know why or if it's relevant anymore.

I don't know enough about JS to be either for or against. 🤷‍♂️

What are @gnikonorov thoughts on this?

[2020-08-10 12:25] #314 closed

[2020-08-10 12:27] gnikonorov commented on #325
I’m open to the idea. I do have a few questions though:
- Could we extend JUnit functionally if needed, or is this not possible
- Why JUnit over other alternatives

[2020-08-10 12:30] ssbarnea opened #327 "proposal: combine ansi2html and non-ansi2html tox envs into one"
We should be able to test pytest-html behavior in presence or absence of ansi2html without having two different tox environments.

By avoiding a new dimention in tox env matrix, we can simplify local and CI/CD testing, making much easier to maintain the tool. Absence of ansi2html cab easily be mocked.

Please add +/- to it and based on that I can file a PR, or not.

[2020-08-10 12:33] ssbarnea commented on #325
I do not have a specific source format in mind, basically I would aim to reuse the best JavaScript report loader I find as I have no plans to write one myself. And clearly that we could think about supporting more than one source format.

[2020-08-10 13:11] gnikonorov commented on #325
I like the idea since it would make our output more similar to what people are used to seeing, and it sounds like it wouldn’t be too restricting, if at all.

Could we utilize existing pytest functionality [like this for example](src/_pytest/junitxml.py)?

[2020-08-10 19:45] BeyondEvil commented on #327
I'm interested to see a PR on this.

[2020-08-11 12:54] #327 closed

[2020-08-13 09:01] heaventud commented on #74
Hi,
why it hasn't implemented for sections, that being added into longrepr too?
In our case, we hide excess test debug info, using **show-capture** option, but in order to output some details for error, use custom section in longrepr. Its no problem to color that in terminal, but in html report it doesn't work.

[2020-08-16 07:39] ayush-mandowara-bst opened #331 "How to make multiple sections instead of one long report"
Hi, I have 107 Test Cases (and growing), and I can't seem to figure out how I can divide my test cases into different sections.
For example, I want my regression test cases to be part of a separate table, and stats test cases to be part of a separate table instead of a single long table. How would I go about doing something like this?

[2020-08-16 18:54] BeyondEvil commented on #74
Please open a new issue, preferably with a reliable way to reproduce. Thanks! @heaventud

[2020-08-25 10:48] CuriousQA commented on #295
Hey @christiansandberg , just want to check in with you how is it going along with the report enhancement?

[2020-08-25 11:42] heaventud opened #332 "ANSI color codes are adding in extra section of report, are not converted in html report"
**Use case:**
I want to add custom section in pytest report and color it by red.

**Implementation:**
conftest.py:
[code]
then html report looks like
![2020-08-25_14-40-07](https://user-images.githubusercontent.com/10667112/91170167-1c986180-e6e1-11ea-8d4c-d12fa255adfc.png)

and ANSI codes were added as is.

[2020-08-26 05:45] christiansandberg commented on #295
It's ready for use at https://github.com/christiansandberg/pytest-reporter. The idea is that you don't need to write a lot of Python code or get too much involved in Pytest internals but focus more on the content of the report. If you want make a HTML report you obviously need knowledge of that. In your case you also need to complement with information provided by pytest-bdd. I'm not that used to

[2020-08-29 11:48] yogeshwar1996 commented on #171
Its anoying to have logs captured in html report. The file size becomes >1GB. Kindly add the feature to disable log capturing in report

[2020-09-02 06:55] k3v8ns opened #333 "Is it possible to add custom report display name"

[2020-09-05 18:40] longelier commented on #171
Agreed.  There should be a away disable each of out the outputs, so the html report does not include it...thereby keeping the file size smaller.
The output in my html report, is from my communicating with network switches, and can really accumulate in each of the below sections:
1. Captured stdout setup
2. Captured stderr setup
3. Captured log setup
4. Captured stdout call
5. Captured stderr call

[2020-09-14 04:55] marincandenza opened #334 "Fixture record_testsuite_property does not work with pytest-xdist"
According to the [docs](https://docs.pytest.org/en/stable/usage.html#record-testsuite-property) it is possible to add a junit property at test suite level. This will work fine without pytest-xdist but fails when adding _-n2_ or similiar to pytest args.

I read through the existing test code which does not execute pytest-xdist.  Is it wanted to call pytest-xdist in this repository?

[code]

[code]

[2020-09-17 14:03] #334 closed

[2020-09-17 14:03] marincandenza commented on #334
Wrong project.

[2020-09-18 08:51] #131 closed

[2020-09-18 23:17] csm10495 opened #336 "testing fails on Windows"
Running unit tests fails on Windows:

testing/test_pytest_html.py::TestHTML::test_utf8_longrepr[u'\x81'] FAILED
and
testing/test_pytest_html.py::TestHTML::test_report_display_utf8 FAILED

I wonder if we can/should skip these tests on Windows or modify them in some way.

[2020-09-18 23:19] csm10495 commented on #336
Stuff like:
[code]

[2020-09-18 23:23] csm10495 commented on #336
It has to do with a different default encoding used on windows/*nix type systems in Python.

When using Windows Python, we get an error, though in bash on WSL it works fine:
[code]

... odd

[2020-09-18 23:26] csm10495 commented on #336
Looks like the preferred encoding used by python is different in windows/*nix:
[code]

[2020-09-18 23:34] csm10495 commented on #336
We could swap from using pytest directly to:
[code]
though that only exists in py3.7 and later (https://www.python.org/dev/peps/pep-0540/)... wonder if there is a way to fix 3.6 too.

[2020-09-20 14:48] hemachandraraok opened #338 "extras.html adds html content in the same page while extras.text adds as a link"
I m tryin to add a dataframe as an html table to report using extra.append(extras.html(dataframe.to_html())). It is adding the table inside the test Details, but I would like add it as a link under Links column, so that when I click on the link, it opens the dataframe in a new tab.  Is it possible already?

Note: extras.text("some text") adds the text as a link

[2020-09-23 02:31] CerSU opened #339 "The Chinese code in the test report is confused"
nodeid show Chinese code normal,but report to html is confused

[2020-10-02 08:18] emdzejbi opened #341 "[question] report tests in order as executed?"
Failed steps are on top of the result table by default. Is there any way to tell pytest-html to report test results as in execution order?

[2020-10-06 14:46] jamiebernardin commented on #254
@happz were you able to make any progress??  I have a similar use case.  thank you.

[2020-10-09 11:17] R-Broadley opened #342 "UnicodeDecodeError pytest-html with pytest-pylint on Windows"
I am using the pytest-html (2.1.1) and pytest-pylint(0.17.0) plugins (pytest version 6.1.1) on a windows host (python 3.7.7).

The line that is causing the issue is this one [plugin.py#L156](https://github.com/pytest-dev/pytest-html/blob/f2d41db1056a34af78822c2e45c525f7c1e7da67/pytest_html/plugin.py#L156).

[code]

I put a break point in to see what `report.nodeid` contained: this is a basic examp

[2020-10-14 16:35] saurabh-4384 opened #343 "Add pytest warnings to generated HTML reports"

[2020-10-14 16:37] #343 closed

[2020-10-17 12:41] ssbarnea commented on #322
I think we all seen how nice github actions works. Maybe is time to effectively drop Travis and switch the release to github actions. Less complexity can only help the project.

@BeyondEvil @davehunt What do you think?

I cannot do it myself because I do not have access to project settings or pypi. One needs to add project-specific-tokens for both pypi instances that look like:

![](https://sbarne

[2020-10-17 21:41] gnikonorov commented on #322
Regarding the above, I think we should drop travis and move to github actions

[2020-10-17 21:49] gnikonorov opened #350 "Remove dependency on py"
We currently depend on the [py](https://github.com/pytest-dev/py) project for its `xml` module as seen below:
[code]
Since this library is in maintenance only mode now, I think we should migrate away from it to other alternatives as it looks like we only use it to generate HTML elements for the report.

Thoughts @ssbarnea and @BeyondEvil ? If neither if you object I want to go ahead and see if I c

[2020-10-17 23:11] ssbarnea commented on #350
Sure. What is the best bet?

[2020-10-18 04:06] gnikonorov commented on #350
@ssbarnea I did some research on our options and the following seem to be popular:
- https://github.com/Knio/dominate
- https://github.com/leforestier/yattag
- Using vanilla python via already included libraries like [xml.dom.minidom](https://docs.python.org/3/library/xml.dom.minidom.html)

Dominate seems to be the most popular open source one and could work for our needs. My only concern is if it

[2020-10-18 09:49] ssbarnea commented on #350
How strong is our need to process XML? Can't we just use jinja2 to produce html? Lets wait for extra feedback on this before even trying to implement anything, just to be sure we make a good long term decision.

As during the last year I had to work a little bit around javascript libraries, I realised how many good options are to produce HTML out of JSON, including with ANSI support. I wonder if i

[2020-10-18 10:35] ssbarnea commented on #318
@BeyondEvil @davehunt @RibeiroAna @nicoddemus Any chance for me to be added as project owner on github and pypi?

I aim to keep my involvement on CI/CD, assuring it goes as slim as possible and cover as much as possible. Related to https://github.com/pytest-dev/pytest-html/issues/322

[2020-10-18 13:17] nicoddemus commented on #318
Sure @ssbarnea, changed your role to Admin here on GH, however I don't have access to PyPI's settings.

[2020-10-18 14:10] gnikonorov commented on #350
I agree, let's wait on more feedback.

If @BeyondEvil is on board, this may even warrant its own project.

[2020-10-18 18:41] BeyondEvil commented on #322
I'm happy to make the switch over to only using GHA. I also think using the pytest-dev is a good idea as long as project owners have the access they need to it.

With that said, @davehunt has the final say.

[2020-10-18 18:48] BeyondEvil commented on #318
I have access to PyPi, but I want an approval from @davehunt before I add you to it. :)

[2020-10-18 19:29] BeyondEvil commented on #350
My thoughts:

- YES! This has been on my TODO for the longest, but realistically I won't get it done anytime soon. You'll be my Forever Hero @gnikonorov if you drive this over the finish line!
- Let's not move from one 3:rd party to another, let's keep it core python (see this [comment](https://github.com/pytest-dev/pytest-html/pull/311#issuecomment-650768160) for some good points).
- I'm 100% for

[2020-10-19 13:18] davehunt commented on #322
Don't let me get in the way of the using the best available tools. If you're all happy, I'm certainly not going to stop you.

[2020-10-19 13:21] davehunt commented on #318
You have it, and future approval for anyone else that you want to add. 😊

[2020-10-19 15:07] BeyondEvil commented on #322
Where can I see the pytest-dev in use with GHA? @ssbarnea

[2020-10-19 15:15] BeyondEvil commented on #318
I need your pypi username @ssbarnea

What's the username of the pytest-dev bot @nicoddemus ? Will I have access to it? Do I need access to it (to make it the release bot)?

[2020-10-19 15:21] BeyondEvil commented on #322
I need your pypi username @ssbarnea

What's the username of the pytest-dev bot @nicoddemus ? Will I have access to it? Do I need access to it (to make it the release bot)?

We should use [this](https://github.com/marketplace/actions/pypi-publish) and [this](https://pypi.org/help/#apitoken)

[2020-10-19 17:04] gnikonorov commented on #350
I propose porting all functionality to vanilla python first, then as a follow up seeing what we can move into javascript. How does everyone feel about that?

[2020-10-19 17:10] nicoddemus commented on #322
The bot right now doesn't have a user name on PyPI yet, there's been some discussion in https://github.com/pytest-dev/meta/issues/4 but that has stalled.

What I usually do is create a scoped token in my own account and use that; anyone with release rights on PyPI can create and replace that token if needed.

[2020-10-19 17:14] BeyondEvil commented on #350
May I propose the opposite approach?

Let's say you have feature A.

Your suggestion:
Port to vanilla python: cost 10
Port to JS: cost 10
Total cost: 20

My suggestion:

Scenario A (feature A is portable):
Port to JS: cost 10
Total cost: 10

Scenario B (feature A is _not_ portable):
Port to vanilla python: cost 10
Total cost: 10

What I'm trying to illustrate is, why spend the time porting to vani

[2020-10-19 17:16] BeyondEvil commented on #322
Ah, got it. Thanks @nicoddemus  🙏

[2020-10-19 17:26] gnikonorov commented on #350
If we're positive that we want to move to JS I agree.

[2020-10-19 17:45] RonnyPfannschmidt commented on #350
If a move to js is done, a investigation for consumption of the json lines style log seems mandatory

[2020-10-19 18:26] BeyondEvil commented on #350
You mean [this](https://jsonlines.org/) @RonnyPfannschmidt ?

Apologies for the perhaps ignorant question, but do you mean for storing report data or for logging or for something else entirely? 😊

[2020-10-19 18:28] BeyondEvil commented on #350
I think we are? @ssbarnea ?

The only limiting factor on my own part is lack of (frontend) knowledge. But I'm positive we'll figure it out. 👍

[2020-10-19 18:32] gnikonorov commented on #350
Of course @BeyondEvil! I'll look into it this week. And communicate my findings here as I go along.

Hopefully I can have a feature branch up soon

[2020-10-19 18:32] RonnyPfannschmidt commented on #350
@BeyondEvil sorry, i should have linked https://github.com/pytest-dev/pytest-reportlog

[2020-10-19 20:06] BeyondEvil commented on #350
Ohh, that looks promising @RonnyPfannschmidt! 😃

Ok, so this is what's forming in my head, high level. This plugin will basically be a thin wrapper around the pytest plugins `reportlog` and `metadata` and also provide the hooks etc. for other plugins (like `pytest-selenium`). It will then dump all the data into a JSON file that the JS will read from. So basically that JSON file will contain the pa

[2020-10-19 20:15] gnikonorov commented on #350
@BeyondEvil I think so and I like the idea.

So all HTML report generation will be done in JavaScript. we just keep the python for integration with pytest/other plugins

[2020-10-19 20:19] BeyondEvil commented on #350
Exactly @gnikonorov !

I'll hit up some of my JS-peeps to see if they have any suggestions when it comes to JS-libs that can help us out.

[2020-10-19 22:24] RonnyPfannschmidt commented on #350
There are some potential extras for this(like support for multiple logs, an actual long running webapp (imagine looponfail with a browser)

[2020-10-20 00:28] NicolasAgra commented on #171
I just have found this issue and I am having a similar problem but maybe I should create another one. Let me know @davehunt . I created a `logger` to see in live the logs through the normal stdout stream my customs messages and avoid dependency logs. I usually run in the terminal individual tests with the "-s" option to see logs in live. However, when I do this with the --html option, the report g

[2020-10-20 10:35] BeyondEvil commented on #171
This has been a long running issue. Would @gnikonorov or @ssbarnea have some time to just take a quick look to see if there's an easy/fast fix for this?

[2020-10-20 12:17] gnikonorov commented on #171
I can take a look @BeyondEvil!

[2020-10-20 18:21] ssbarnea commented on #318
My username is the same as on github `ssbarnea`, only on irc I use different user: `zbr`.

[2020-10-22 01:20] gnikonorov commented on #350
I like the ideas @RonnyPfannschmidt is proposing ( especially the long running webapp ).

Do we want to [create a project](https://github.com/pytest-dev/pytest-html/projects) for 'v2.0' enhancements we can implement once we achieve feature parity?

[2020-10-22 08:55] BeyondEvil commented on #350
Sounds good! 👍

[2020-10-22 11:57] ssbarnea commented on #350
Huh. For a second I think i had a stroke, yet-another-project but I soon realised it was just a github planning project, so yeah!

[2020-10-22 22:30] gnikonorov opened #355 "Clarifying the release schedule"
Hi everyone.

I think it may make sense to create a release schedule. I looked at PyPI and it looks like we haven't released a new version of this plugin since March of this year.

While we're at it, perhaps it would make sense to automate the process as much as possible and create a `RELEASING.rst` doc similar to [pytest's](https://github.com/pytest-dev/pytest/blob/master/RELEASING.rst). This way

[2020-10-22 22:44] BeyondEvil commented on #355
I'm no fan of release schedules for relatively small projects. They make sense for larger projects that have a roadmap.

As for "automatic" releases, I highly recommend [Semantic Release](https://github.com/semantic-release/semantic-release) we use it heavily at work (and it's not only for npm projects).

[2020-10-22 22:44] gnikonorov commented on #293
@broccoli I'm going to close this since you are able to use `--html` as @dasm suggested. Please reopen if your question wasn't properly answered.

[2020-10-22 22:44] #293 closed

[2020-10-22 22:47] gnikonorov commented on #339
Hi @CerSU,

Thank you for opening this issue! Could you please elaborate more on what you are seeing in the report, along with a reproducer if possible

[2020-10-22 22:48] gnikonorov commented on #336
Hi @csm10495. I've assigned you as it looks like you have an open PR that closes this. Please let me know if I incorrectly assigned to you and I'll remove you as an assignee.

[2020-10-22 22:49] csm10495 commented on #336
Hey @gnikonorov , all good. Let me know if the PR can be signed off on to close out :)

[2020-10-22 22:53] gnikonorov commented on #336
Thank you @csm10495! I'll check later tonight

[2020-10-22 22:59] gnikonorov commented on #336
@csm10495 [this](https://github.com/pytest-dev/pytest-html/pull/337) is the PR right? If so can you update the title to reference the proper issue? It looks like right now it's closing [335](https://github.com/pytest-dev/pytest-html/pull/335), which I don't think is right

[2020-10-22 23:00] csm10495 commented on #336
oh dear. That is a flub.

[2020-10-22 23:29] csm10495 commented on #336
Fixed it in the PR title. I'm not sure if I should rewrite history to fix the comment... don't want to mess anything up. Think its ok to do? @gnikonorov

[2020-10-22 23:32] gnikonorov commented on #336
@csm10495 i think if you rebase and reword the first commit it should be fine

[2020-10-22 23:34] gnikonorov commented on #336
Worst case you could always open a new PR and reference the original in your description if you don't want to mess up the history

[2020-10-23 01:41] gnikonorov commented on #355
You're right. It probably doesn't make sense for this plugin now that I think about it.

This looks awesome! So it would be part of our pipeline, and then a separate step could publish the build product to PyPI right?

Also, can we publish a package now in the meantime since it's been a while and the changelog has a few unreleased items in it? I would do it, but I don't think I have the permission

[2020-10-23 04:01] csm10495 opened #358 "Re-enable pypy3-windows"
Re-enable pypy3-windows testing after https://github.com/actions/setup-python/issues/151 is resolved.

[2020-10-23 08:25] BeyondEvil commented on #355
So, high level, this is how it works:

On every merge to the default branch (in our case `master`) Semantic Release is run. If it determines a release can be made (by scanning all the commits since last tag) it will create and push a new tag.

This tag will then trigger a workflow which publishes a package to PyPi.

Since I have experience with this, I'm happy to set it up if it makes sense to you

[2020-10-24 03:47] gnikonorov commented on #355
Thanks @BeyondEvil ! This weekend I'm going to submit a PR to release `3.0.0` then. We need a major bump because of https://github.com/pytest-dev/pytest-html/pull/347. Does anyone have any objections?

[2020-10-24 09:04] BeyondEvil commented on #355
Sounds good @gnikonorov 👍

[2020-10-24 13:12] ssbarnea commented on #318
@BeyondEvil  Maybe you can add `pytest-dev` and `ssbarnea` accounts on pypi?

For `testpypi` only @davehunt can do it as he is the only package owner there, see https://test.pypi.org/project/pytest-html/ -- still use of testpypi is a nice to have but not hard-requirement.

[2020-10-24 13:14] BeyondEvil commented on #318
Done ✅

Both added as `maintainer`. Thanks for reminding me! 🙏 @ssbarnea

[2020-10-24 13:40] ssbarnea commented on #318
Thanks. Apparently weekends are the best to show some love to our projects. Already raised PR to make the switch at https://github.com/pytest-dev/pytest-html/pull/360

[2020-10-25 00:26] gnikonorov commented on #355
I think it makes sense to wait for https://github.com/pytest-dev/pytest-html/pull/360 to merge before we release so we can test the new release workflow

[2020-10-25 03:04] gnikonorov commented on #336
This was fixed by https://github.com/pytest-dev/pytest-html/pull/357, thank you @csm10495!

[2020-10-25 03:04] gnikonorov commented on #336
Closing, since the change is in master. Please reopen if I closed this incorrectly

[2020-10-25 03:04] #336 closed

[2020-10-25 03:28] gnikonorov commented on #355
On second thought I think we should release now.

[2020-10-26 13:15] davehunt commented on #318
I'm happy to add another owner here. I don't see @BeyondEvil as a valid user on TestPyPI though. Let me know what user(s) to add.

[2020-10-26 14:33] ssbarnea commented on #318
@davehunt Add me, some user as github: `ssbarnea` and i can take care of the rest.

[2020-10-26 17:28] davehunt commented on #318
Thanks, I've sent the invite.

[2020-10-27 02:51] CerSU commented on #339
I have Support Chinese for HTML  use case name display by customizing make Report ,Thanks!

[2020-10-27 02:51] #339 closed

[2020-10-27 23:10] BeyondEvil commented on #318
Huh, weird @davehunt

I'll investigate and see why I'm not on testpypi

[2020-10-28 07:26] ssbarnea commented on #318
Account database is split, dont ask me why....

On Tue, 27 Oct 2020 at 23:10, Jim Brännlund <notifications@github.com>
wrote:

--
--
/sorin

[2020-10-29 15:57] #171 closed

[2020-10-30 18:25] gnikonorov commented on #342
I'm going to try and take a look at this now

[2020-11-02 01:04] gnikonorov commented on #342
Updating this issue with a minimal reproducer:
[code]

When I do not invoke `pytest` with the `--pylint` flag, all is well:
[code]

However when I add `--pylint`, I can reproduce the error in the issue description:
[code]

[2020-11-02 05:29] gnikonorov commented on #342
Upon further inspection it looks like this is an issue with [pytest-pylint](https://github.com/carsongee/pytest-pylint) and not `pytest-html`. [pytest_runtest_logreport](https://github.com/pytest-dev/pytest-html/blob/f2d41db1056a34af78822c2e45c525f7c1e7da67/pytest_html/plugin.py#L688) receives the `nodeid` as an unescaped string:
[code]

Later on, this string is converted as indicated in the issue

[2020-11-03 02:40] gnikonorov commented on #342
Closing this issue since we can't reliably make a special case for the `pytest-pylint` `nodeids` . Please see https://github.com/carsongee/pytest-pylint/issues/144 for my request to have the `nodeid` values properly escaped on Windows, @R-Broadley

[2020-11-03 02:40] #342 closed

[2020-11-03 02:42] gnikonorov commented on #227
I'll take a look at this one @chennareddy08

[2020-11-03 05:36] gnikonorov commented on #227
Does this still happen for you @chennareddy08 ?

Looking at the stack trace it looks like this comes from `"C:\Program Files\JetBrains\PyCharm Community Edition 2019.1.3\helpers\pycharm\teamcity\messages.py`, which is unrelated to this plugin. I also don't see `pytest-html` in the stack trace.

Can you provide a minimal reproducer? It would help in tracking down the issue.

[2020-11-03 18:56] gnikonorov commented on #322
It looks like uploading to test pypi fails, @ssbarnea:

[code]

[2020-11-03 19:03] gnikonorov commented on #322
Maybe we can change the package name to be a [pre release](https://www.python.org/dev/peps/pep-0440/#pre-releases) or [devlopmental release](https://www.python.org/dev/peps/pep-0440/#developmental-releases) identifier?

[2020-11-03 19:22] ssbarnea commented on #322
I know what to do, I will do it tomorrow morning.

[2020-11-04 09:19] qupfer opened #363 "[Question] How add an image (from disk) to self-contained-html"
Edit: got ist, need to convert the base64 bin file to string

Hi,

I'm relativ new to python/pytest.

I want to add some images to the html report directly. As the documentation says, its not (always) possible as path, so I want to add it directly.

Can somebody give me a hint how to do this correctly?

I tried something like this, but doesn't work :-)
[code]

What I also not understand:

I got so

[2020-11-04 23:37] ruck94301 commented on #131
Hi, with pytest 4.6.11, this is a problem in "captured logs", but not in "live logs".  Showing both live & captured logs,
`(pytest -r A --log-cli-level=DEBUG)`
note that the teardown logrecords are missing from captured logs, but not missing from live logs.
Is there a workaround that I'm not seeing?  OtherwiseI should use live log if it's important to me.
![image](https://user-images.githubusercon

[2020-11-04 23:43] gnikonorov commented on #131
Hi @ruck94301. What version of this plugin are you using?

[2020-11-04 23:45] ruck94301 commented on #131
sorry, are you looking for 4.6.11 or something else?

[2020-11-04 23:50] ruck94301 commented on #131
oh right, I suppose the python version is important context for reproducing, sorry for not including that.
`============================= test session starts =============================
platform win32 -- Python 2.7.18, pytest-4.6.11, py-1.9.0, pluggy-0.13.1
`

[2020-11-05 00:02] gnikonorov commented on #131
@ruck94301 is this an issue with pytest or pytest-html?

[2020-11-05 00:06] ruck94301 commented on #131
I'm saying pytest.  I'm not using pytest-html.  Maybe my observation helps explain the observation in pytest-html.

[2020-11-07 02:56] gnikonorov commented on #227
Hi @chennareddy08. I'm going to close this issue since (a) it is very old and (b) requires more information to properly debug.

If this is still occurring for you, please reopen this issue and I can take a look.

[2020-11-07 02:56] #227 closed

[2020-11-07 05:02] gnikonorov commented on #355
I want to try and get a release out this weekend

@ssbarnea, @BeyondEvil did you want to wait for https://github.com/pytest-dev/pytest-html/pull/361 before we release. Or do we want to go ahead regardless of the status of the PR

[2020-11-07 12:23] ssbarnea commented on #355
On community maintained open-source project a "schedule" is unrealistic. I can be today, slip to next month or never, based on who needs it more. There is no value in documenting something that nobody can follow.

Yep, I was waiting for the other patches merged before tagging a new pre-release. Pre-release are cheap and safe to make because users do not get access to them unless they specify the v

[2020-11-08 15:36] gnikonorov commented on #355
@ssbarnea can we do a release now instead of waiting? We haven't release since March and we have unreleased bug fixes that I would like to release if possible.

[2020-11-09 03:32] gnikonorov commented on #302
I'll try and see if I can still reproduce this @chen97-y

[2020-11-09 04:49] gnikonorov commented on #302
Hi @chen97-y unfortunately I can't reproduce this with current python versions, and as @BeyondEvil mentioned we no longer support python 2.7.

In fact, when you try and install this plugin from head with python 2.7, the install fails as you can see below:
[code]

My recommendation for you is to update your python to 3.6+. Here is some documentation from python's website you can reference: https://

[2020-11-09 04:51] gnikonorov commented on #302
Closing this as per the above. @chen97-y please reopen this issue if it still occurs with a supported python version

[2020-11-09 04:51] #302 closed

[2020-11-09 05:00] gnikonorov commented on #290
Hi @eblis were you able to reproduce your issue with this plugin instead of [pytest-html-profiling](https://github.com/hyperbrowser/pytest-html-profiling)?

[2020-11-09 07:21] eblis commented on #290
I couldn't reproduce with this command: `pipenv run py.test --html=report.html --self-contained-html`

[2020-11-09 07:21] #290 closed

[2020-11-10 02:42] jahan01 commented on #341
I have the same question - need to have report the in execution order.

[2020-11-10 04:48] jahan01 commented on #341
Workaround specified here worked for me https://github.com/pytest-dev/pytest-html/issues/103#issuecomment-282266577

[code]

[2020-11-10 15:17] BeyondEvil commented on #318
Weird, I do exist in test.pypi.org as `BeyondEvil` 🤷‍♂️ @davehunt

[2020-11-10 15:28] BeyondEvil commented on #322
Is this fixed by #364 @ssbarnea ?

[2020-11-10 15:31] BeyondEvil commented on #355
Go head and start on a release @gnikonorov 👍

[2020-11-10 15:34] gnikonorov commented on #355
Thank you @BeyondEvil ! I'll do the release this weekend

[2020-11-10 17:32] #322 closed

[2020-11-10 17:39] BeyondEvil commented on #163
I think this is merged and released now @gnikonorov :)

[2020-11-11 04:56] gnikonorov commented on #342
Hi @R-Broadley as per https://github.com/carsongee/pytest-pylint/issues/144#issuecomment-723804222 this issue should be resolved now. Thank you for reporting it!

[2020-11-11 12:27] ssbarnea commented on #318
@davehunt added me to testpypi only as a maintainer so I cannot add @BeyondEvil or bots. What i did was to a token from my account limited to pytest-html to unblock the publishing.

Still, we should address the ownership of testpypi and have at least two humans as owners.

[2020-11-11 14:06] R-Broadley commented on #342
@gnikonorov  Thanks for investigating. I will test this in the next day or so, but expect the two plugins should work nicely together on our Windows machines with the new release of pytest-pylint.

[2020-11-11 14:13] gnikonorov commented on #342
Anytime @R-Broadley! If you're still experiencing problems please don't hesitate to reopen this issue.

[2020-11-11 16:29] davehunt commented on #318
Owner invitation sent.

[2020-11-13 03:45] gnikonorov opened #369 "Expand ESLint"
ESLint was introduced in https://github.com/pytest-dev/pytest-html/pull/367

This first pass included almost all relevant ESLint sections except for the following:
- https://eslint.org/docs/rules/#stylistic-issues
- https://eslint.org/docs/rules/#ecmascript-6

The following three rules were also skipped, since they involved making broad changes across the JS code. It would be better to submit them

[2020-11-13 13:34] gnikonorov commented on #355
Mentioning that I'll release 3.0.0 tomorrow evening EST

@ssbarnea @BeyondEvil

[2020-11-13 15:05] BeyondEvil commented on #355
I'm not sure if that process needs updating now that we have the release-drafter? @ssbarnea

[2020-11-13 15:31] gnikonorov commented on #355
I'd also strongly prefer release without the release drafter changes if they need more work so we're not blocked.

[2020-11-13 15:52] BeyondEvil commented on #355
Good point! 👍

[2020-11-15 00:19] gnikonorov commented on #355
v3.0.0 is out, @ssbarnea @BeyondEvil

Closing this then. Since it seems like we'll just do adhoc releases as we need them

[2020-11-15 00:19] #355 closed

[2020-11-16 08:58] #341 closed

[2020-11-16 20:14] rassie opened #372 "Empty reports due to incompatibility with pytest-parallel"
Since 3.0.0 I'm getting empty reports, as in "0 tests ran in 123 seconds". With a bit of bisecting I found out that f2d41db1056a34af78822c2e45c525f7c1e7da67 apparently broke it. Looking into it a bit more, I've found that using `pytest-parallel` with more than one worker makes the individual reports disappear. I assume that post-processing HTML is not really concurrent.

Could someone have a look

[2020-11-16 20:27] gnikonorov commented on #372
Thank you for raising this @rassie! I'll try and take a look as soon as I can. In the meantime others are more than welcome to fix this.

Does rolling back to the last release work for you in the interim to fix this issue?

[2020-11-16 20:29] rassie commented on #372
Not really, since I need the fix for screenshot embedding, which is also in 3.0.0. But I can manage, since running with one worker is currently a non-issue for me. Thanks for looking into this!

[2020-11-16 20:33] gnikonorov commented on #372
Of course!

I probably won't be able to get to this for at least a few days.  @ssbarnea @BeyondEvil @csm10495 do any of you have a chance to take a look at this?

[2020-11-17 03:46] csm10495 commented on #372
I may be able to help. @rassie can you upload a sample simple .py file along with params you are passing to pytest to see something weird happen.
I ran this file (test.py):

[code]

via these args:

[code]

and saw this:

![image](https://user-images.githubusercontent.com/5749838/99344164-6d8da100-285d-11eb-810b-f6d7ed42192c.png)

which looked ok. Also does the issue happen every time?

[2020-11-17 04:28] gnikonorov commented on #372
Thank you @csm10495 !

[2020-11-17 04:55] csm10495 commented on #372
I did notice when running it over and over sometimes logging was in the wrong place, though that can also be reproduced using junitxml (and is therefore not a pytest-html specific bug). Using the same test.py as above.

I ran:

[code]

junit generated:
[code]
Notice how testcc has bb and cc instead of just cc. testbb has empty logging. If this is the issue that we're seeing, we should move this to

[2020-11-17 07:54] rassie commented on #372
I can reproduce the problem with this simple test:

[code]

Running with `poetry run python -m pytest --workers 2 tests/ --html=tests/reports/index.html`, I get no results in the HTML output. Setting `--workers 1` returns full report.

[2020-11-17 07:58] rassie commented on #372
Adding `--junitxml=out.xml` with two workers produces a mostly empty `out.xml`, so the problem might indeed not be `pytest-html`-specific.

[2020-11-17 07:59] rassie commented on #372
I'll try upgrading my dependencies first. Thanks for the help!

[2020-11-17 08:05] rassie commented on #372
I can confirm the problem is solved with `pytest-parallel` 0.1.0 (instead of 0.0.10). However, it might be interesting to know why `pytest-html` 2.1.1 worked with that older `pytest-parallel` version, while 3.0.0 does not. But either way, thank you everyone, this particular problem is solved.

[2020-11-17 08:05] #372 closed

[2020-11-17 09:08] ssbarnea commented on #372
TBH, I will not be able to work on any bugs this year but I will do my best to review PRs. As and old guru said at some point: in open-source, you need it, you fix it. ;)

[2020-11-19 14:38] pranav165 opened #373 "How can we modify the enviornment section AFTER the tests are completed"
I have a requirement to report the average response time . This gets calculated after all the tests have run . Is it possible to show this as part of the test repot in the environment section ?

[2020-11-20 02:03] VladimirPodolyan opened #374 "Extras from reruns are attached to final test"
Deps:
- pytest==6.1.2
- pytest-rerunfailures==9.1.1
- pytest-selenium==2.0.1
- pytest-html==2.1.1/3.0.0

----

After updating `pytest-html` to `3.0.0` version in project requirements I got unexpected extras from `test reruns` in html report. Actually all extras from test reruns (logs/links/duration/screenshots) also applied to final test with failed/passed result.

### Ver 3.0.0
<img width="2266"

[2020-11-20 14:14] fenchu opened #375 "pytest 3.0.0 captures all or nothing"
With pytest 2.1.1 I could finegrain my logs and only capture stdout etc. But when I upgraded to v3.0.0 there was "No log output captured." allover, and I'm only able switch between all or nothing the -s and --capture settings:
[code]

How can I finegrain this in the new version, or is the a way I can hack this in a fixture.

[2020-11-20 21:00] brettnolan opened #376 "Is it possible to change the duration format from just seconds to something like hh:mm:ss?"
Is there a way to format the duration time to something like:
HH:MM:SS
or
h hours, m mins, s secs

I tried doing it within here, by changing the attribute value

[code]
However, **plugin.py** didn't like the format

[code]

[2020-11-22 14:48] gnikonorov commented on #375
Hi @fenchu, thank you for opening this issue!

I had a question before I dig any deeper though. Is your issue with pytest or pytest-html?

Also, could you please paste the output of `pip list` and the full command you used for your reproducer?

[2020-11-22 14:57] gnikonorov commented on #376
Hi @brettnolan let me look into this for you

[2020-11-22 17:41] gnikonorov opened #377 "[PROPOSAL] Add issue templates"
I think we should add issue templates to this repository for a better user experience. [Issue templates](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository#configuring-the-template-chooser) would help users submit better bug reports/feature requests, which would in turn help the dev team have faster turnaround.

Pytest

[2020-11-22 17:51] gnikonorov commented on #376
@brettnolan can you paste the output of `pip list` please?

[2020-11-22 18:35] gnikonorov commented on #376
`duration` comes from the [pytest api](https://docs.pytest.org/en/stable/reference.html#pytest.reports.TestReport.duration) and must always be in seconds which is why you are getting the error you are seeing.

However, I think it would make sense for pytest to do the formatting on your behalf ( I don't really see a reason why 3721 is clear than 01:02:01, for example )

[2020-11-23 09:18] ssbarnea commented on #377
IMHO this project is small enough and with low activity to not need it but if you make a PR, I will review it. Closing to cleanup the backlog, not because this nice to have is not welcomed, just propose it.

[2020-11-23 09:18] #377 closed

[2020-11-23 15:12] buster3 opened #378 "Pytest-html 3.0.0 does not capture logs"
Since pytest-html==3.0.0 I get "No log output captured." in the html output. Everything works fine for pytest-html==2.1.1. Is this an intended change? How do I re-enable the log capture?

I generate log messages using

[code]

[2020-11-23 15:24] gnikonorov commented on #378
Hi @buster3 I'm fairly certain this works as designed. I'll confirm when I have time today in the evening and explain what changed.

In the meantime I think you need to pass --capture=no to disable capturing. See [this link](https://docs.pytest.org/en/latest/capture.html) for more info.

[2020-11-23 20:06] brettnolan commented on #376
Thanks!

Here is the 'pip list' output:

Package              Version
-------------------- ---------
apipkg               1.5
attrs                20.2.0
certifi              2020.6.20
click                7.1.2
click-completion     0.5.2
colorama             0.4.3
coverage             5.3
crayons              0.4.0
cycler               0.10.0
decorator            4.4.2
execnet              1.7.1

[2020-11-24 04:58] gnikonorov commented on #378
@buster3 - the change is intentional, as we were incorrectly including captured log information.

As per the [logger.setLevel() documentation](https://docs.python.org/3/library/logging.html#logging.Logger.setLevel) the root logger is created with a default level of `WARNING`. This means that a call to `logging.info` should be ignored by the logger and therefore **not** appear in captured logs. In

[2020-11-24 04:58] gnikonorov commented on #378
As per the above comment, I am closing this issue. @buster3 if my answer is unsatisfactory, please feel free to reopen this issue.

[2020-11-24 08:06] buster3 commented on #378
@gnikonorov Thanks for your explanation! Still, I expect to get logs if I set a global `log_level = INFO` in my pytest.ini file.

Pytest documentation writes (https://docs.pytest.org/en/stable/logging.html):
```Log levels are no longer changed unless explicitly requested by the log_level configuration or --log-level command-line options. This allows users to configure logger objects themselves. Se

[2020-11-24 08:14] buster3 commented on #378
I also do not expect that changing the level of `my_logger` changes the behavior. As  [documented](https://docs.python.org/3/library/logging.html#logging.Logger.setLevel), only the root logger is created with level WARNING. `my_logger` should have default level NOTSET?

```When a logger is created, the level is set to NOTSET (which causes all messages to be processed when the logger is the root lo

[2020-11-24 09:42] fenchu commented on #375
Hi Thanks for your reply

[code]

pytest seem to be fine, this is what I like to log in the report:
[code]
If I use pytest-html:
[code]
and if I dig into the html file, it logs anything:
[code]

[2020-11-24 14:15] gnikonorov commented on #378
I am able to capture logging from your reproducer with the following @buster3.

pytest.ini file:
[code]

test file:
[code]

command line run: `python3 -m pytest --html=issue_378.html issue_378_example.py`

relevant `pip3 list` output:
[code]

When I run the above I get:
![Screen Shot 2020-11-24 at 9 11 08 AM](https://user-images.githubusercontent.com/13026015/100105125-01023b80-2e35-11eb-9ba2-4438

[2020-11-25 08:26] buster3 commented on #378
Thanks for the feedback. I had a closer look on my environment. Actually we have a configuration similar to
[code]

The `-s` seems to make the difference for pytest-html 2.1.1 and 3.0.0. Actually, I cannot say why we use this flag. Everything else is identical to your setup.

Sorry about the missing information and thanks for your help.

[2020-11-25 14:04] gnikonorov commented on #378
We used to not respect -s. The change responsible for having this plugin take it into account was introduced in [this or](https://github.com/pytest-dev/pytest-html/pull/353) and made it into 3.0.0 which is why you noticed this on plugin upgrade.

No worries @buster3! If you don't have further questions can you please resolve this issue

[2020-11-27 05:03] gnikonorov commented on #378
Closing this since it seems like your question was resolved. If you wanted to discuss this some more @buster3 please reopen this issue and @ mention me

[2020-11-27 05:03] #378 closed

[2020-11-27 12:10] #376 closed

[2020-11-27 14:11] gnikonorov commented on #376
Hey @brettnolan this functionality is now on the master branch and documentation for it can be found [here](https://github.com/pytest-dev/pytest-html#display-options).

Thanks for raising this issue!

[2020-11-28 13:39] jkowalleck opened #386 "IDEA: add `.editorconfig`"
add a [`.editorconfig`](https://editorconfig.org/)  file.

this will allow IDEs/editors to apply rules how files should be written.

basically its not needed, unless there are files that are not fixed by pre-commits  as configured via https://github.com/pytest-dev/pytest-html/blob/master/.pre-commit-config.yaml

[2020-11-28 13:51] jkowalleck commented on #310
meybe a switchable template should be used, instead of hooks/extends.

having the HTML generated via a templating engine sllowes better readablity of output generators and does not need knowledge of python to apply changes of the outcome.
see https://www.makotemplates.org/ for example.

[2020-11-28 14:11] christiansandberg commented on #310
@jkowalleck see my earlier reply for a template based alternative. I also think there is a plan to switch pytest-html to JavaScript which hopefully will allow customization in the future.

[2020-11-28 15:26] gnikonorov commented on #374
Hey @VladimirPodolyan thanks for raising this issue! Let me try and make a reproducer on my end.

[2020-11-28 15:29] gnikonorov commented on #374
For now, I'm thinking that every rerun should be its own entry in the table

[2020-11-28 15:40] gnikonorov commented on #374
![Screen Shot 2020-11-28 at 10 38 31 AM](https://user-images.githubusercontent.com/13026015/100519460-0083e080-3166-11eb-8294-ba0d0b703e60.png)

It looks like we already have one entry per rerun, but the data is populating incorrectly

[2020-11-28 16:46] gnikonorov commented on #374
I should have a PR up for this today or tomorrow, @VladimirPodolyan. Thank you for reporting this

[2020-11-29 00:47] BeyondEvil commented on #386
I guess it doesn't hurt as it's optional? 🤷‍♂️

[2020-11-29 06:26] prakhargurunani opened #388 "[BUG] Not all missing CSS files are reported"
## What's the error
Assume none of the CSS files are present in the directory.
if I run `pytest --html=report.html --css=abc.css --css=xyz.css`, It should give me error stating that `abc.css` and `xyz.css` files were not found.

## Actual Output
But the current pytest version gives error for only the first CSS file `abc.css` and ignores `xyz.css` (which means it will report error for only the firs

[2020-11-29 09:35] h-rueda opened #389 "Have the possibility to append different tests results into an existing HTML report file"
Enhancement suggestion

I would like to execute several, independent pytest runs, but having all the results in the same HTML report file.

If I execute:
`pytest test1.py --html=report.html`
`pytest test2.py --html=report.html`

The `report.html` file will only contain the results of `test2.py`.

Maybe we can add an `--append` option:
`--append=true or false (default)`

So I could execute my comma

[2020-11-29 11:17] h-rueda commented on #389
Actually I realized I can execute
`pytest test1.py test2.py --html=report.html`

[2020-11-29 11:17] #389 closed

[2020-11-29 14:31] BeyondEvil commented on #388
Could you create a PR with the fix? @prakhargurunani 🙏

[2020-11-29 14:59] prakhargurunani commented on #388
@BeyondEvil Sure ! Was just waiting for confirmation from dev team 🙂.

[2020-11-29 15:10] prakhargurunani commented on #388
@BeyondEvil See #390

[2020-11-30 17:19] VladimirPodolyan commented on #374
@gnikonorov Thank for respond and fixing the issue!

[2020-11-30 17:31] gnikonorov commented on #374
Of course @VladimirPodolyan ! I'll merge this in EOD today so it'll be available off of head and I'm planning to release to PyPI by the end of 12/2.

[2020-11-30 17:43] jkowalleck opened #391 "SASS/SCSS/SASS linter"
At the moment i write this issue there is no liter used for StyleSheets.

#385 introduces use of for (SASS/SCSS](https://sass-lang.com/)
and also introduces a linter. The linter is arguable - see https://github.com/pytest-dev/pytest-html/pull/385/files/8873bfb399a063747f19409f730cfb94cc944bd8#diff-63a9c44a44acf85fea213a857769990937107cf072831e1a26808cfde9d096b9

This issue is a reminder, to come b

[2020-11-30 17:46] jkowalleck opened #392 "github action step that ensures that scss was compiled into css for all PRs"
@gnikonorov proposed to have a  github action step that ensures that scss was compiled into css for all PRs.

see also the discussion here:  https://github.com/pytest-dev/pytest-html/pull/385/files/8873bfb399a063747f19409f730cfb94cc944bd8#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519

[2020-12-01 02:40] #374 closed

[2020-12-01 05:21] gnikonorov commented on #391
Thanks for opening this @jkowalleck. Can you update the links in the issue description? They seem broken

[2020-12-01 05:26] gnikonorov commented on #392
Thanks for opening this @jkowalleck. Can you update the link in the issue description? It seems broken

[2020-12-01 22:51] jkowalleck commented on #391
reopened conversation https://github.com/pytest-dev/pytest-html/pull/385/files#r531829346
so the link taret is not collapsed by default, to have it not look "broken"

[2020-12-01 22:54] jkowalleck commented on #392
updated link in description to  aworking one.

[2020-12-01 23:52] gnikonorov opened #395 "Fix flaky test_rerun test on Windows"
[test_rerun](https://github.com/pytest-dev/pytest-html/blob/master/testing/test_pytest_html.py#L189) is flaky only for windows environments. The root cause should be identified and fixed.

I have access to a windows machine, so I'll try and take a look soon. In the meantime, please rerun pipelines if this test fails for windows environments **only**, as it's most likely due to this issue and not a

[2020-12-02 13:39] fenchu opened #397 "pytest-html v3.0.0 extras handling"
with pytest-html v3.0.0 have how images being stored changed in the extras?

v2.1.1 I use my own ext fixture in conftest.py

[code]

and in my tests I use the following to clean ext if it is not needed:
[code]

and images are pushed like this to ext:
[code]
        if ext:
            if not ext.screenshots:
                ext.screenshots = []
            ext.screenshots.append(fname)
[code]

[2020-12-03 04:19] gnikonorov commented on #333
@k3v8ns, I believe what you're looking for is the [pytest_html_report_title](https://github.com/pytest-dev/pytest-html#report-title) hook.

I'm going to close this as I believe it'll solve your issue. If I closed this incorrectly please re-open this issue and @ mention me. Sorry for the response delay

[2020-12-03 04:19] #333 closed

[2020-12-03 05:28] gnikonorov commented on #373
@pranav165 this should be possible by doing something along the lines of:
[code]

However, it's not working for me right now. I'm not sure why this is. I need to dig in and see. I'll update this issue as I progress

[2020-12-03 05:50] gnikonorov commented on #373
Opened https://github.com/pytest-dev/pytest-metadata/issues/33 to see why this is.

[2020-12-03 15:49] TheCorp opened #399 "Control visibility of test results sections by query param"
Just like we can control collapsed test categories via query param (https://github.com/pytest-dev/pytest-html#display-options) would it also make sense to control whether test results sections are hidden or not (checkbox checked or not effectively) by query param? Something like:

`?checked=Passed,XFailed,Skipped`

The reason I am asking this is that it seems like this is nearly impossible to cont

[2020-12-03 16:00] BeyondEvil commented on #399
Feel free to contribute a PR with a proposed solution! @TheCorp 😊 👍

[2020-12-03 18:24] jkowalleck commented on #183
Hello @david-fliguer-ws ,

Had the same issue. here is what i did:
1. I used [pytest's junit feature](https://docs.pytest.org/en/stable/usage.html#creating-junitxml-format-files) to write junit/xunit/xunit2 reports.
1. I combined the unit-reports with [junitparser](https://pypi.org/project/junitparser/).
1. And finally i generated HTML reports with [junit2html](https://pypi.org/project/junit2html/

[2020-12-03 18:58] BeyondEvil commented on #183
It's live: https://github.com/pytest-dev/pytest-reportlog

[2020-12-04 04:16] gnikonorov commented on #374
Hi @VladimirPodolyan you can get this functionality by installing the latest version of pytest-html from [PyPI](https://pypi.org/project/pytest-html/)

[2020-12-04 04:16] gnikonorov commented on #376
Hi @brettnolan you can get this functionality by installing the latest version of pytest-html from [PyPI](https://pypi.org/project/pytest-html/)

[2020-12-04 08:08] TheCorp commented on #399
Awesome. I just wanted to make sure the idea itself didn't sound stupid 😄

[2020-12-04 15:12] jkowalleck commented on #275
related issue: https://github.com/indygreg/PyOxidizer/issues/69

[2020-12-05 23:43] BeyondEvil commented on #373
Hi @pranav165!

Yes, you can update the `metadata` dictionary in the `pytest_sessionfinish` hook. By that time all tests have run and you should have access to all the response times so you can do the calculations.

[code]

Please close this issue if you're satisfied with the solution. 😊

[2020-12-06 15:57] gnikonorov opened #401 "[PROPOSAL] Use read the docs"
The readme is very long due to our documentation.

I think it would be more convenient to have our documentation in [Read the Docs](https://readthedocs.org/) and have a link to it in the readme me in place of the documentation.

What do we  think @BeyondEvil and @ssbarnea ? If there are no objections, I'd like to set it up.

[2020-12-06 16:05] ssbarnea commented on #401
go for it!

[2020-12-06 17:52] BeyondEvil commented on #401
Indeed, go for it!

[pytest-selenium](https://pytest-selenium.readthedocs.io/en/latest/user_guide.html) uses it as well if you need inspiration. @gnikonorov

[2020-12-06 18:31] gnikonorov commented on #401
Thanks @BeyondEvil !

[2020-12-07 05:37] gnikonorov commented on #401
Opened https://github.com/pytest-dev/pytest-html/pull/402 for this. I don't want to mark it as closing this issue, since I want to verify docs are published properly which requires the PR to merge first

[2020-12-07 07:38] thach-incognito commented on #171
I'm in a situation that I want the log to be capture in my html report but not shown in stdout.
sorry for the silly question 'cause I'm new to pytest

[2020-12-07 13:56] hugovk commented on #358
GHA now has PyPy 7.3.3, so you should be able to re-enable it now: https://github.com/actions/setup-python/issues/163#issuecomment-739907048

[2020-12-09 03:44] #358 closed

[2020-12-09 09:20] BeyondEvil commented on #373
Closing. Feel free to reopen if not satisfied.

[2020-12-09 09:20] #373 closed

[2020-12-09 09:31] BeyondEvil commented on #395
Could you describe how it fails and maybe link to a test run where it failed (if it happens in GHA)? @gnikonorov

[2020-12-09 09:35] BeyondEvil commented on #397
Sorry that you've had to wait 7 days for an answer @fenchu !

Let me take a look at where we're at.

Have you tried the latest version (3.1.0 as of writing this), as I know there's been a bunch of bug-fixes released.

Could you try that and get back to us? 🙏

[2020-12-09 09:35] BeyondEvil commented on #399
Definitely not! @TheCorp

[2020-12-09 09:36] pranav165 commented on #373
Thank you , it is working as expected

[2020-12-09 15:20] gnikonorov commented on #395
Sure @BeyondEvil.

This is the output:
[code]

Here is a link to a sample failure: https://github.com/pytest-dev/pytest-html/pull/405/checks?check_run_id=1524749825

[2020-12-09 15:25] #388 closed

[2020-12-09 15:31] BeyondEvil commented on #395
Such a weird error... did we ever add what the report actually looks like somewhere, or did we only discuss it? @ssbarnea

[2020-12-09 15:33] BeyondEvil commented on #395
Could this be leveraged https://github.com/actions/upload-artifact ?

[2020-12-09 15:48] gnikonorov commented on #401
Confirming that autobuild on push to master works as expected

[2020-12-09 15:54] ssbarnea commented on #401
Next time use magic comments "Fixes: #12345" inside PR description to auto-closed linked ticket.

[2020-12-09 15:54] #401 closed

[2020-12-09 16:09] gnikonorov opened #406 "Fix headless chrome timeout error in grunt tests"
The JS tests run by grunt will occasionally fail with the error below. We should fix it. The error is sporadic and goes away on rerun ( usually )

[code]

Run link: https://github.com/pytest-dev/pytest-html/pull/405/checks?check_run_id=1525098011

[2020-12-09 22:51] VladimirPodolyan commented on #374
@gnikonorov The report looks fine now. Thanks for the poke!

[2020-12-09 22:55] gnikonorov commented on #374
Of course! Glad to hear it works as expected now.

[2020-12-10 10:11] ssbarnea opened #407 "Documentation should include sample reports"
We should really produce some sample reports that exemplifies features and include them in the documentation.

This will allow us to easily test the visual effects of various changes that we are doing and compare them with previous version.

[2020-12-11 05:36] gnikonorov opened #408 "Report arrows are missing off of head"
Currently, there are no more arrows on the report headers. This doesn't happen off of the version in PyPI. We should fix this before release.

My current browser is Firefox v83.0 on MacOS

@jkowalleck, any idea why it may be gone? Could it be related to the recent SCSS changes?

Head version:
![Screen Shot 2020-12-11 at 12 29 35 AM](https://user-images.githubusercontent.com/13026015/101867089-626e

[2020-12-11 07:41] BeyondEvil commented on #408
It was definitely the merge of https://github.com/pytest-dev/pytest-html/pull/393 that broke the report. Reverting to just before it brings the arrows back.

[2020-12-11 17:04] jkowalleck commented on #408
looking into it.

[2020-12-11 17:29] jkowalleck commented on #408
@gnikonorov  a bugfix is available: #409

[2020-12-11 17:48] jkowalleck commented on #407
which features should be showcased?
* pass
* warn
* fail
* extras
  * log messages
  * images
  * videos

what else?

[2020-12-11 20:24] BeyondEvil commented on #407
Dark mode, maybe? 🤔

[2020-12-11 23:28] jkowalleck commented on #407
web browsers will switch to dark mode automatically depending on user's preferences.

[2020-12-12 00:00] BeyondEvil commented on #407
I meant more to show what it looks like in dark mode.

[2020-12-12 09:39] #408 closed

[2020-12-12 12:38] ssbarnea commented on #407
How about starting with one and adding others later? Even one report today is better than 10 tomorrow ;)

Lets not open the selenium box yet. I do see value but is too far a stretch and I am not sure who has the bandwidth to do it and maintain it. Just produce some example(s) and we can rely on user to evaluate it. We can later write a UI changes evaluation checklist: which browsers to test, dark/

[2020-12-12 16:40] gnikonorov opened #412 "Report title should reflect in report tab name"
Currently the tab of the report always has its text set to "Test Report" regardless of what the actual title of the report is. I propose to instead always have it set to the [report title](https://pytest-html.readthedocs.io/en/latest/user_guide.html#report-title).

If there are no objections @ssbarnea / @BeyondEvil I'll go ahead and make a PR

[2020-12-12 16:42] BeyondEvil commented on #412
No objections from me @gnikonorov and I can't see a reason that @ssbarnea would object either, I think it's safe for you to go ahead and make a PR for it. 😊

[2020-12-12 16:44] gnikonorov commented on #395
As per https://github.com/pytest-dev/pytest-html/pull/410#issuecomment-743781533 the current proposal is to rerun the test, since it's flaky.

Personally I'm in favor of this. What do you think @ssbarnea ?

[2020-12-12 16:50] lukjak opened #413 "Numeric column sorting disappeared in v3"
Hello,

I've noticed that in v3 the ability to sort columns in report by numeric value has been removed. ("Numeric" class is no more detected and relevant key sorting function is removed).
Can I restore this capability from v2? Or is there any reason it's not in v3 anymore?

[2020-12-12 16:52] gnikonorov commented on #413
Hey @lukjak thank you for filing this issue!. Could you attach a screenshot with what you're describing? It'll be easier to investigate

[2020-12-12 17:00] gnikonorov commented on #413
If I understand correctly, you're referring to 'numeric' class. That was removed in https://github.com/pytest-dev/pytest-html/commit/b57ca0bcf25e77bc95f1216eed51c7d235cb270e. The reason it was removed is because it was only used to sort values in the 'Duration' column. That column used to be reported as a double value of seconds+milliseconds but is now reported as a formatted time string ( see [th

[2020-12-12 17:03] BeyondEvil commented on #395
My reasoning is that rerunning this flaky test is OK until a real user reports it as a bug/problem. Until then, I don't really have the time to chase down a heisenbug that no user has reported (yet).

Hope that makes sense. I'm aiming to draw up a PR for this later tonight once the family is asleep.

[2020-12-12 18:17] lukjak commented on #413
Hello

I observed it for a custom column (added "officially" via hooks) - so there is no issue in the default setup. It's used for test results ordering - so numbers are the most convenient.

[2020-12-13 09:48] jkowalleck commented on #407
i am currently preparing a demo_test for `pytest` & `pytest-html` to showcase all [mentioned features](https://github.com/pytest-dev/pytest-html/issues/407#issuecomment-743334812).

[2020-12-13 12:45] lukjak opened #417 "Adding multilevel output folding"
Hello,

In case of hundreds/thousands cases executed in a single run, it is hard to navigate single table with all the output.
Adding ability to collapse/expand not only the whole results table but also smaller groups would be very convenient.
See attached example which is output from PyCharm's "Export test results to the file" command + screenshot of source file structure.
I imagine that in the s

[2020-12-13 13:02] BeyondEvil opened #418 "Remove phantomjs dependency"
Since we're using chrome headless, we can remove the phantomjs dependency from package.js.

[2020-12-13 13:26] BeyondEvil commented on #417
Thanks for the feature request @lukjak !

This is a recurring request in different forms, and it's a good one.

However, it requires quite a bit of refactoring.

I suggest we add this to our next-gen project.

What do you think @gnikonorov @ssbarnea ?

[2020-12-13 15:41] gnikonorov commented on #417
I like it @BeyondEvil  and agree it is best to work on this once we're on next-gen.

Thank you for filing this @lukjak !

[2020-12-13 22:21] #412 closed

[2020-12-13 23:04] BeyondEvil commented on #395
#414 is merged. But I want to keep this issue open. At least for a while.

[2020-12-14 10:45] jkowalleck commented on #407
#422 is a quick shot. actually it is not great at all. its okay.
issues i have with it:
* reports are not consistent -- times(created), timings(summary, duration), environment variables and other things change on each creation of the demo
* not all stuff is showcased. for a designer, i guess,  its insufficient since not all combination of extras are shown as well as there are cases missing with lo

[2020-12-15 05:29] gnikonorov commented on #233
Hey @BeyondEvil this sounds like an interesting thing we should implement, I'm going to get started on it.

The approach I'll take is:

Am I missing any information to start working on this?

[2020-12-15 09:30] BeyondEvil commented on #233
Wow, that'd be great!

Excellent!

I don't think so.

I'm going back and forth in my head thinking about where this belongs.

But I think I've landed in this:

`pytest-metadata` shouldn't mask anything, it's impossible to foresee the use-cases consumers of the library may have. They may actually want to get secret values. Besides, there's both a hook and fixture to manipulate the data.

`pytest-ht

[2020-12-15 13:25] gnikonorov commented on #233
That makes sense @BeyondEvil. I'll implement this in two PRs then. One for redacting and one for masking.

[2020-12-15 13:28] BeyondEvil commented on #233
Turns out I don't have to do anything with `pytest-metadata`, it doesn't mask or anything currently. The "secret" environment variables were simple removed from the respective CI vendors list.

[2020-12-15 23:15] #418 closed

[2020-12-17 04:06] gnikonorov opened #428 "Investigate if we need to add a linter for Read the Docs"
Read the docs may or may not perform sufficient linting for us. The purpose of this card is to investigate our linting options and add a linter if needed

[2020-12-18 03:53] gnikonorov opened #429 "CI pipeline is broken with error 'Error: IS_WINDOWS is not defined'"
This seems to be related to https://github.com/actions/setup-python/issues/171. It's currently affecting the master build and PRs.

FYI @BeyondEvil / @ssbarnea

[2020-12-18 04:02] gnikonorov commented on #429
https://github.com/pytest-dev/pytest-html/pull/430 rolls back to the last stable version so we can unbreak the CI pipeline

[2020-12-18 09:59] hugovk commented on #429
Will be fixed by https://github.com/actions/setup-python/pull/172.

[2020-12-18 13:46] gnikonorov commented on #429
Thanks for the news, @hugovk! Once the fix goes to master when will a new release be made?

[2020-12-18 14:35] gnikonorov commented on #429
This could already be fixed as per https://github.com/actions/setup-python/issues/171#issuecomment-748114163. I'll confirm tonight (EST)

[2020-12-18 16:20] hugovk commented on #429
Yep, looks fixed on my repo: https://github.com/hugovk/tinytext/actions/runs/428941900

[2020-12-18 22:50] gnikonorov commented on #429
Can confirm it's fixed on PRs and master in this repo as well. Closing this issue then since no changes are needed

[2020-12-18 22:50] #429 closed

[2020-12-18 23:08] gnikonorov commented on #233
Starting work on the first part now, @BeyondEvil. I'll allow for users to specify a list of environment variables to remove from the table completely ( not mask ).

[2020-12-18 23:38] BeyondEvil commented on #233
You're the best @gnikonorov 💪

[2020-12-18 23:42] gnikonorov commented on #233
Question though, @BeyondEvil. Why not just have users delete items from the environment table ( e.g.:`del session.config._metadata["foo"]` )? Is the idea just to have a more convenient interface for users or is it not always possible to delete keys?

[2020-12-19 00:34] BeyondEvil commented on #233
I actually don't know @gnikonorov

It's over a year old and not a request that is coming in very often.

Perhaps your time is better spent on other things? 🤔 I mean, there's already two ways of removing items from metadata, maybe that's enough? Up to you really.

[2020-12-19 00:40] gnikonorov commented on #233
How about we implement redacting and close this issue once it's in master?

I was thinking we could let the user pass a list of strings/regexes and any metadata key that matches has its value redacted.

We could make it an INI file setting.

Thoughts @BeyondEvil ?

[2020-12-19 16:36] gnikonorov commented on #182
Hey @ExaltedBagel @BeyondEvil is this being actively worked on? If not, I'd like to implement this

[2020-12-20 00:41] gnikonorov commented on #399
Hey @TheCorp I'm going to implement this. Let me know if you're already working on a solution. If not, I'll make a PR in the coming days

[2020-12-20 06:03] gnikonorov opened #432 "Migrate JavaScript test framework to more popular alternative"
We currently use [QUnit](https://qunitjs.com/) for unit testing our JavaScript.

I propose that we move to a more modern testing framework ( the top five listed [here](https://codeburst.io/top-5-javascript-testing-frameworks-to-choose-out-of-in-2020-6903ae94461e) seem to pop up a bit ).

I would like to add that any library we migrate to should have good support for testing URL parameters. `QUnit`

[2020-12-20 06:23] TheCorp commented on #399
Oh wow @gnikonorov thank you! No I haven't had the chance to start on this yet so go for it. Really appreciate you taking this on.

[2020-12-20 14:54] gnikonorov commented on #399
Of course @TheCorp. I'll have something up today or tomorrow

[2020-12-20 23:51] BeyondEvil commented on #432
Yes!

[2020-12-20 23:55] BeyondEvil commented on #182
I think this also is a good candidate for Next-Gen.

[2020-12-21 00:51] #399 closed

[2020-12-21 00:54] gnikonorov commented on #182
I agree. Added the 'next-gen' label

[2020-12-21 01:22] gnikonorov commented on #163
I'm going to pick this up again, @BeyondEvil

The solution would involve making a separate 'warnings summary' table similar to the results table but with only 1 data point, the warnings for a test. It would only show tests that emit warnings and would be hidden from view if there are no warnings.

This would involve a merge into your next-gen branch. Do you have any opposition?

[2020-12-21 04:08] gnikonorov opened #434 "Add typing + mypy"
This project's python code should be typed, and type checking should be part of the CI pipeline. I propose using [mypy](https://mypy.readthedocs.io/en/stable/), we can look at [pytest](https://github.com/pytest-dev/pytest) for an example of how to integrate it.

I'm going to try and add in typing. I'll perform changes on a per module level so the reviews are smaller and close this issue when the t

[2020-12-21 22:47] BeyondEvil commented on #163
I have no idea what the implications will be, but we'll worry about that later. :)

[2020-12-23 09:44] jkowalleck commented on #434
don't forget to add a `py.typed` to indicate that types are used.
see https://www.python.org/dev/peps/pep-0561/#packaging-type-information

in previous projects, I used [flake8-annotations](https://pypi.org/project/flake8-annotations/) to ensure typing was in place everywhere -- maybe this helps.
i configured it, so that typing on `self` and `cls` was optional, by ignoring `ANN101,ANN102`

[2021-01-06 08:35] wangqian0818 opened #438 "Output the stdout in the use case to the console and html report at the same time"
I‘m useing pytest-html and find the plugin generally fantastic.
But I have been in contact with pytest-html for a short time. During the use, I found that adding the'-s' parameter to the pytest command can display the standard output of the use case to the console, but the standard output of the html report cannot be captured. With the'--capture=sys' parameter, the html report is captured, but the

[2021-01-14 14:40] fenchu commented on #397
Hi sorry for late answer, it is still the same extras not able to delete between tests.
[code]
pytest 6.2.1 and pytest-2.1.1 works fine together

[2021-01-14 14:44] fenchu commented on #375
it is the same with pytest-html3..1.1:
[code]

[2021-01-14 15:01] fenchu commented on #438
with pytest-html3.x.x `-s --capture=sys`give you all. if you pytest-html 2.1.1 you can finegrain the various combinations

[2021-01-21 10:11] xiaosanye886 opened #439 "I did not find a method available to insert a Pie chart into the report，so i did it myself, and maybe someone esle need this too."
![image](https://user-images.githubusercontent.com/66584897/105335928-993d5680-5c13-11eb-87f4-35e842d6b24b.png)

[2021-01-21 20:59] dramoz opened #440 "extra.svg(content: type?)"
Hi, what should be the content type to pass when appending extra.svg()?

While doing:
`extra.append(extras.svg(svg))`

with
[code]
https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/cc.svg

the generated .svg file in ./assets/xxxx.svg is not a valid svg file, but encoded (Looking at the code [src/pytest_html/result.py#L234](https://github.com/pytest-dev/pytest-html/blob/cc809864592638abe90c5c3a

[2021-01-23 03:26] #233 closed

[2021-01-23 08:15] jkowalleck commented on #440
this worked for me:
[code]

[2021-01-23 08:19] jkowalleck commented on #439
see  #441

[2021-01-25 16:47] dramoz commented on #440
Thanks, it worked with:
`b64encode(svg.encode("utf-8")).decode("utf-8"), name="regex_svg"`

[2021-01-25 16:47] #440 closed

[2021-02-02 06:58] lp120037920 opened #442 "how can i realize append html result other than overwrite html result?"
now I run 2 commmands:
1. pytest test1.py --html=report.html
2. pytest test2.py --html=report.html

finally, the second runned command which generate report.html will overwrite the first generated report.html, but i hope the two result can merged, that means report.html  include test1.py and test2.py result, could you tell me how i can do that?thank you very much

[2021-02-02 12:49] lp120037920 opened #443 "how can i realize append html result other than overwrite html result?"
now I run 2 commmands:

pytest test1.py --html=report.html
pytest test2.py --html=report.html

finally, the second runned command which generate report.html will overwrite the first generated report.html, but i hope the two result can merged, that means report.html include test1.py and test2.py result, could you tell me how i can do that?thank you very much

[2021-02-02 19:53] jkowalleck commented on #442
duplicates #442

[2021-02-02 20:02] jkowalleck commented on #443
hello @lp120037920

your question might be related to #183.
could you check if https://github.com/pytest-dev/pytest-reportlog solves your problem?

[2021-02-09 08:25] nnvkkumar2017 opened #444 "No log output captured in my Pytest HTML report"
Team, every time if i ran the HTML report in pytest getting below error .No logs are captured in that report.Please help me how to resolve this issue to get captured all the data..I have used below code

pytest -v -s nopecom_testPackage/test_admin_LoginPage.py --html=report.html
![Capture](https://user-images.githubusercontent.com/78788318/107335868-75688480-6ade-11eb-851a-236f6b1371f4.PNG)

[2021-02-09 23:50] kotavi commented on #444
I have the same issue when tests are executed in Gitlab pipeline
the command I'm using
`python.exe -m pytest -s  tests/step_defs/`
Versions:
pytest - 6.2.2.
pytest-html - 3.1.1

[2021-02-10 01:14] gnikonorov commented on #444
I'm a bit tied up with work lately but perhaps @BeyondEvil or @ssbarnea could assist if they have time

[2021-02-12 09:07] fenchu commented on #397
Fixed this by explicitly deleting screenshots from my Ext fixture in pytest_runtest_makereport() after they are pushed to never had to do before pytest-html v3:
[code]

Also using fixtures in hooks should be implemented. I need to make a global out of the Ext fixture to access it as a global not as a Fixture function.

[2021-02-12 09:07] #397 closed

[2021-02-12 09:14] fenchu commented on #444
Before pytest-html v3 the -s seem to have been ignored/overrided (It actually means do not capture), so it works as intended.

You can use --capture=tee-sys
If it is too much work changing use pytest-html v2.11

[2021-02-12 09:27] fenchu commented on #438
We really miss ways to finegrain output. --capture=fd and tuning the logging so it only output a stderr files, no stdout file is my current workaround.
But it is not sustainable because I like logging and output to be exactly like in production. (We often search for errors in test system if we see them in prod)

[2021-02-16 07:44] fenchu commented on #413
Duration fails in v3x:

[code]

[2021-02-16 09:41] fenchu commented on #413
You can patch this in main.js by adding a simple check for number and float and then subtract to find who is largest:

[code]

[2021-02-22 14:18] kotavi commented on #444
@fenchu --capture=tee-sys helped, thank you!

[2021-03-05 15:33] alexryabkov opened #446 "pytest-html suppresses terminal "Captured log teardown" output"
"Captured log teardown" section is absent in terminal output if pytest-html plugin is invoked.

pytest-html==3.1.1

Sample code:
[code]

**Without pytest-html invoked:**
[code]

**With pytest-html invoked:**
[code]

[2021-03-06 04:15] jayasimha3000 commented on #375
Probably broken by changes against #171 (PR #353 and #359).

[2021-03-10 06:09] lp120037920 commented on #443
@jkowalleck  if i use that plugin, finall, i get json file, but the html file is what i want, what further step should i do to get html file? json2html？

[2021-03-10 08:39] jkowalleck commented on #443
@BeyondEvil could you help out here?

[2021-03-10 08:44] lp120037920 commented on #443
@jkowalleck @BeyondEvil  i install pytest-reportlog and json2html，firstly, the json result is not merged，it is separately, secondly,json2html's resulst is totally different from pytest --html=report.html result，it is mess， can not be readed  for hunman

[2021-03-10 08:55] BeyondEvil commented on #443
There's not native way of merging two reports.

Either you run the tests in the same session or you have to find or write a utility that takes two html-reports and merges them.

I'm adding this as a feature request for V3 (which doesn't necessarily mean it will be implemented).

[2021-03-10 09:52] Pallavi-Sharma17 commented on #176
Hi Thank you for the code snippet. I am new to python. I want to use this piece of code to generate my reports, but finding difficulty. I want to replace "VCMS_TestAutomationReport.html" this hard code file name.Please help meto to run this from command line using -        pytest tests -v -s --html=reports/VCMS_TestAutomationReport.html --self-contained-html --capture=tee-sys

[2021-03-10 16:15] jkowalleck commented on #443
@lp120037920
what i did in the past, to merge multiple reports: https://github.com/pytest-dev/pytest-html/issues/183#issuecomment-738195470

but you might not see all the details `pytest-html` offers.
you might  probably miss environment variables and other features.

[2021-03-16 14:31] swbchangle commented on #171
[code]

From this code I understand that
If `--capture` is not "no", pytest-html puts it in html unless `--show-capture=no` is specified.
If `--capture=no `, pytest-html ignores anything in stdout/stderr/log, regardless of `--show-capture=no` specified or not.

But `--capture` only controls stdout/stderr. I am using logging module to log messages. I set `--capture=no`. In this case, nothing will b

[2021-03-28 07:37] aminK1 opened #448 "pdbpp doesn’t works after installing this package"
I have tried with few different venv. Once I still this package, I am not able to use brake point on my pytest. For debugging I use pdbpp. Please help as I would like to use this package.

[2021-03-30 06:47] shariquealam commented on #444
@fenchu --capture=tee-sys helped, thank you!

[2021-04-08 08:02] JCBdM opened #449 "Duration column does not sort numerically"
When ordering the test list by duration I obtain:

| Result | Test   | Duration | Links |
| ------ | -------| ---------| ----- |
| Passed | test_a | 9.31     |       |
| Passed | test_d | 47.04    |       |
| Passed | test_b | 4.52     |       |
| Passed | test_c | 1.63     |       |

This order is done by alphanumeric and not by duration.

[2021-04-12 08:25] cxdtotsj opened #450 "pytest terminal transcoding unicode conflict with report"
I use `pytest.mark.parametrize`,  then contest.py exists code:
[code]

if I execute `pytest -s -v --capture=sys --html=report/test.html .\test_01.py`,

![image](https://user-images.githubusercontent.com/42604280/114364129-9e51d800-9b68-11eb-9fcf-af89b3d2535f.png)

html report displayed title is garbled，but if pytest-ntml=2.0.0, there is no such problem.

[2021-04-12 10:58] priya24it commented on #304
How is this working ?

[2021-04-15 07:50] fenchu commented on #449
See https://github.com/pytest-dev/pytest-html/issues/413

[2021-04-15 08:45] fenchu commented on #375
I forked the v3.1.1 and added a filter so it only captures the stderr or file, also sets screenshots on a new line after log at a fixed size also clicking on screenshots open in new window and some more robust decoding of files
I have 30+ tests using this version now. the diff enclosed for the hack:
[code]

[2021-04-28 06:22] pansfy opened #452 "How to embed dynamic js script?"
I need to add a chart function to the pytest-html report, and I need to pass data to the js script.
How to achieve it?
Thanks.

[2021-04-28 06:23] #452 closed

[2021-05-05 21:11] mnaumann-plenty commented on #413
As a user, I also would expect that the Duration sort would be by the numeric value -- this makes it harder to seek tests of overly long duration.

![image](https://user-images.githubusercontent.com/62001077/117209821-be616980-adab-11eb-814a-0c91e9b15b1c.png)

[2021-05-09 02:21] northernSage commented on #446
It seems the culprit is `test_report.when = "call"` in [HTTMLReport._post_process_reports](https://github.com/pytest-dev/pytest-html/blob/master/src/pytest_html/html_report.py#L309). The assignment is setting all runtest "teardown" phases to "call" for the [pytest.reports.TestReport](https://docs.pytest.org/en/6.2.x/reference.html#testreport) objects and pytest isn't outputing "teardown" captures

[2021-05-09 18:11] northernSage commented on #448
Hey @aminK1 👋🏻

Conventionaly, as per [pytest docs](https://docs.pytest.org/en/6.2.x/usage.html#dropping-to-pdb-python-debugger-on-failures) you would use the following syntax to run your tests in order to get pytest to "drop" into [PDB](https://docs.python.org/3/library/pdb.html) in the event of a test failure: `pytest --pdb`. After testing, this seems to be working as intended with pytest-html.

[2021-05-09 20:34] aminK1 commented on #448
Hey @northernSage, Here is some detail and steps to reproduce the issue.
pip freeze
`atomicwrites==1.3.0
attrs==19.3.0
boto3==1.13.25
botocore==1.16.25
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
Faker==1.0.7
fancycompleter==0.9.1
glob2==0.7
idna==2.8
importlib-metadata==1.3.0
iniconfig==1.1.1
Jinja2==2.11.2
jmespath==0.9.4
Mako==1.1.0
MarkupSafe==1.1.1
more-itertools==8.0.2
packaging==19.

[2021-05-10 16:19] northernSage commented on #448
I'll go ahead and reformat your example a bit to make thinks a little more clear:
[code]
You will notice that I used `assert` instead of `print` here. To understand this better I would suggest you go through pytest's [getting started](https://docs.pytest.org/en/6.2.x/getting-started.html) docs.

Unfortunately I was not able to reproduce this issue on my end. Running the above test with the followi

[2021-05-12 04:30] aminK1 commented on #448
Hi @northernSage  thank you for formatting and looking into it.
I am using `pdbpp` to use sticky. Would you please give it a try with that?

[2021-05-17 19:26] andsimakov opened #456 "Test start/stop time in addition to duration"
Is it possible to add test's Start and Stop time columns in addition to duration column? I tried to do it in configs but no result. Is there any pleasant solution?

[2021-05-20 13:58] h-rueda opened #458 "Logs that are redirected to files are equally included in the HTML report"
**log.py**

[code]
Execute:
`pytest log.py --html=report.html --log-level=CRITICAL --log-file=debug.log --log-file-level=INFO`

Actual result :
* File `debug.log` successfully created with the intended log content (OK)
* File `report.html` includes the log content as `Captured stderr call` (NOK)
[code]
Expected result :
File `report.html` doesn't include the log content as `Captured stderr call`

[2021-05-20 14:27] harmin-parra opened #457 "Logs that are redirected to files are equally included in the HTML report"
**log.py**

[code]

Execute:
`pytest log.py --html=report.html --log-level=CRITICAL --log-file=debug.log --log-file-level=INFO`

Actual result :

* File `debug.log` successfully created with the intended log content (OK)
* File `report.html` includes INFO logs in the `Captured stderr call` section (NOK)
[code]
Expected result :
File `report.html` doesn't include INFO logs (only CRITICAL or higher

[2021-05-21 06:34] h-rueda commented on #457
We didn't have this behavior with pytest-5.4.3 and pytest-html-2.1.1

[2021-05-21 06:38] h-rueda commented on #458
duplicated issue

[2021-05-21 06:38] #458 closed

[2021-06-02 21:28] sethorpe commented on #176
You should create a `pytest.ini` file in the root of your project execution and include all your flags like this:

[code]
This way you can execute with a simple `pytest <filename.py>` command. Much cleaner

[2021-06-17 03:17] Tester-Dolores opened #459 "release > v2.1.1 html report 'No log output captured.'"
[env]
black==21.6b0
jsonpath==0.82
locust==1.5.3
pep8==1.7.1
pytest-assume==2.4.2
pytest-cache==1.0
pytest-rerunfailures==10.0
PyYAML==5.4.1
websocket-client==1.1.0

[result]
I tried to install v3.0.0 v3.1.1
all failed like this.
![image](https://user-images.githubusercontent.com/68461925/122325408-1d92cc00-cf5d-11eb-8f66-165cbc47f559.png)
But when I tried to use v2.1.1 . it work normally  like fe

[2021-06-23 19:56] hamajo87 commented on #176
Similar problem i am facing, i think the answer can be found in this thread.

I have the code running on a pre-emptive VM under /code as the rootdir, so long story short it needs to write to a sibling directory /tmp since that is the only writable directory before copying over to a bucket where all pytest log files are stored. How can you set the html path to output to that sibling directory? /tmp

[2021-06-29 07:49] bivas6 opened #461 "Show only row header in results table if no additional info"
Hi,
If there is no additional info to the test, for example if it xpassed and only sderr is captured - I expected to see only the row header, without blank row as test additional info.
For example:

![image](https://user-images.githubusercontent.com/40261105/123758404-8bc58000-d8c7-11eb-9d72-0bf32b6612bc.png)

Thanks

[2021-07-15 11:39] wassupxP opened #462 "Multiple interpret information inside html report while used with pytest-xdist"
Hello,
I encountered bug or weird behaviour after bump of pytest and pytest-html. There is unwanted output, whichis not dependent on number of cores but is added per each phase of test. I dind´t find yet any workaround so this extra output is included in every testcase log.

List of plugins:
pytest | 6.0.1
pytest-cov | 2.10.1
pytest-forked | 1.3.0
pytest-html | 3.1.1
pytest-metadata | 1.11.0
pytes

[2021-07-28 06:30] wassupxP commented on #462
@gnikonorov May I ask what is the intention behind https://github.com/pytest-dev/pytest-html/blob/5e4950b6f47479eb3ce90999474b93c473e5aa9c/src/pytest_html/html_report.py#L287 this lane? If there is something that I don´t see. This is what creates problem and adds interpret info for each phase of test (2nd lane in my actual results) and I am not sure if this is intentional and there is some use cas

[2021-08-04 23:36] gscelsi commented on #413
I thought it was a great idea to have a column with individual test durations, so that I could sort by that column and see which tests were consuming most time and maybe needed to be optimised/tweaked. Until I found that sorting was not numerical...

[2021-08-10 16:47] mnaumann-plenty commented on #413
I would assume (safely, I feel) that the consensus among users is that the sort here should clearly be numeric and not as a string (time-specific or otherwise). The value itself (either in fact or in visual representation) is not a time value. If anything, it would be a timedelta which would sort properly.

[2021-08-13 05:47] tarunmudgal opened #465 "Pytest throws misleading error if log file path has unsupported special char on Windows"
Hi,

This is related to pytest throwing misleading exception when log filepath contains special characters that are not supported by Windows OS in filenames.

Below is the exception that I got-
`Traceback (most recent call last):
  File "C:\Users\admin\mtarun\vmware\code\mangle-yaan-service\test_runner.py", line 693, in <module>
    main()
  File "C:\Users\admin\mtarun\vmware\code\mangle-yaan-serv

[2021-08-15 11:30] chau11ece commented on #186
Hi
I got this error message when I run your code

INTERNALERROR>     driver.get_screenshot_as_file('D:/report/scr'+timestamp+'.png')
INTERNALERROR> AttributeError: 'str' object has no attribute 'get_screenshot_as_file'

Can you help  solve the problem.

Thanks,

[2021-08-20 14:23] fenchu opened #466 "new feature request: adding a textfile as a clickable url to report"
I'm trying to add a file in .extras as a file and clickable url.
extras.html adds html and extras.text adds text directly into the report

It is the collected log along with the test it is way to big to show in report, but you can click it as you can with extras.images

Anyone having an example or idea on how to do this.

[2021-08-31 23:25] cauvery commented on #459
Having similar issue. I know we can remove -s from command line and the log output will be captured again in html report.
But as with 2.1.1, providin -s command option would still retain logs to html reports

[2021-09-22 17:28] CosteaIonut89 commented on #186
Hi
I go this error:
INTERNALERROR>     feature_request = item.funcargs['request']
INTERNALERROR> KeyError: 'request'

Can anyone help me too>

Thank you!

[2021-09-22 17:37] CosteaIonut89 opened #468 "Cannot take screenshots, it return me an internal error"
I got this code:
`import os
import selenium
from selenium import webdriver
import time
from datetime import datetime
import pytest
from selenium import webdriver as selenium_webdriver
from selenium.webdriver.chrome.options import Options

@pytest.fixture()
def setup():
    driver = webdriver.Chrome(executable_path=r'E:\Python Projects\StackField\testCases\chromedriver.exe')
    return driver

@pyt

[2021-09-24 18:35] Vic152 commented on #186
Why is your `driver` of type string? I would try to solve this mystery to troubleshoot it.

[2021-09-24 18:39] Vic152 commented on #186
It was a looong time since I wrote this code. I would try to understand what keys are in `item.funcargs`.
Also, maybe this helps: [https://github.com/pytest-dev/pytest/issues/3455](https://github.com/pytest-dev/pytest/issues/3455)

[2021-09-25 07:55] CosteaIonut89 commented on #186
I don't know if is this because I am noob in automation but here is what I go on contest:
`@pytest.fixture()
def setup():
    driver = webdriver.Chrome(executable_path=r'E:\Python Projects\StackField\testCases\chromedriver.exe')
    return driver
`

[2021-09-27 08:58] queyijiangnan opened #469 "how can i add diff html report generated by difflib.htmldiff to pytest report?"

[2021-10-05 07:53] CosteaIonut89 commented on #186
@Vic152 sorry but I forgot to mention you first time.

[2021-11-28 06:21] Azee77 commented on #304
can any one give details how did this work? What was the issue? For me it is not working, neither offline nor from jenkins artifacts

[2021-12-15 23:44] SoCalLongboard commented on #449
If PR #464 solves the issue, that would be fantastic. Is anyone looking into its efficacy?

[2021-12-15 23:44] SoCalLongboard commented on #413
If PR #464 solves the issue, that would be fantastic. Is anyone looking into its efficacy?

[2021-12-28 06:37] listerplus opened #476 "Lines on both \r and \n"
html report for log add lines for both \r and \n. This seems to be a bug.
Suppose we had a test:
def test_01_print():
    print("one")
    print("two\r\n", end="")
    print("three\raaa")
    print("four")
    assert True

Terminal would show:
__________test_01_print ________
----- Captured stdout call -----
one
two
aaaee
four

However, report adds a line with \r
![image](https://user-images.githu

[2021-12-28 08:00] RonnyPfannschmidt commented on #476
I believe it's intended to handle line rewrites

[2021-12-30 16:51] bedge opened #477 "The "create report" option, --html's parameter should be optional as it's possible to specify the name procedurally"
When one sets the report name procedurally, eg:

[code]

The is no need to have a parameter to the `--html` arg as it's being specified in the code above.

However, one currently still needs to provide this to satisfy the argparser:

[code]

It forces one to specify a parameter, eg: `--html=xx` solely for the parser validation.

In short, please make the `--html` arg's parameter optional.

thanks

[2022-01-01 22:09] myxo opened #478 "Configure logging format"
Hi. I would like to have a possibility to set logging format. Didn't find anything about it in documentation. Tried to modify format from logging library or pytest settings, but it didn't change output in html (maybe i didn't find the right knob?). My versions:
[code]

So for now this code

[code]
generate
![18](https://user-images.githubusercontent.com/2719353/147861022-e804e744-2f16-44b0-a84b-f8

[2022-01-14 15:42] fenchu commented on #478
you need to configure your logging, this one is a good starting point:
https://alexandra-zaharia.github.io/posts/make-your-own-custom-color-formatter-with-python-logging/
just add it to your own module (not call it logging.py) and import it or directly in the test

[2022-01-14 17:32] cdubwisdom commented on #265
Is there a workaround or a known fix for this? I am currently experiencing it today.

[2022-01-14 18:11] dhalperi commented on #265
If you have the same issue, it was fully resolved for us once my
pytest-selenium bug was fixed.

This one should be closed imo.

On Fri, Jan 14, 2022 at 09:32 Colin Wisdom ***@***.***> wrote:

[2022-01-14 19:01] BeyondEvil commented on #466
Did you ever find a way to do this?

If not, can you add some more information of exactly what you're trying to accomplish? It might be a candidate for development.

[2022-01-14 19:06] BeyondEvil commented on #413
I agree, will make sure to correct this in the next major release.

[2022-01-14 19:08] BeyondEvil commented on #477
Good point!

Will make sure this is how the next major release works. 👍

[2022-01-14 19:12] BeyondEvil commented on #265
Closing this for now.

[2022-01-14 19:26] bedge commented on #477
WooHoo! thanks!

[2022-01-14 19:47] mnaumann-plenty commented on #413
Thank you!

[2022-01-16 17:42] myxo commented on #478
Not sure if it's working now. Here is my minimal example
[code]

If I just run function, it's logged properly
[code]

But if I run it in pytest, logs in report does not change
[code]
![23](https://user-images.githubusercontent.com/2719353/149671129-d5842b65-a522-4b76-b05e-cdd89b98cbca.png)

[2022-01-17 12:12] BeyondEvil opened #481 "Fix Codecov"
There's at least two things to address.

1. Disable codecov on Nightly builds and to only run on a subset of tests. Example [here](https://github.com/pytest-dev/pytest/blob/main/.github/workflows/main.yml#L133)
2. Upgrade Codecov action to v2, v1 is deprecated and will stop working completely.

[2022-01-17 12:13] BeyondEvil opened #482 "Fix pypy3 tests"
At least two issues to address here:

1. pypy3-mac fails, this might be out of our control but likely related to python 3.6 EOL: https://github.com/actions/setup-python/issues/311
2. pypy3 tests are super slow, this will need some investigation.

[2022-01-17 12:24] BeyondEvil opened #483 "Drop support for python 3.6"
python 3.6 is EOL so we should drop support for it.

We can do something similar to what we do in the `2.7-support `branch.

[2022-01-17 17:32] mattip commented on #482
xref #485. As a PyPy dev, we have dropped support for PyPy3.6, and are going to drop PyPy3.7 soon.

A known issue is that coverage, which on CPython runs as a c-extension and in PyPy runs in pure-python mode, breaks the PyPy JIT so the coverage test run takes 3x-4x more time on PyPy than on CPython.

[2022-01-17 17:35] BeyondEvil commented on #482
Good to know, thanks!

As you saw in the PR, I'm trying to get it to work on 3.8.

Ah, interesting re. coverage! I have an issue to fix our coverage stuff as well - will keep this in mind then. 👍

[2022-01-19 09:50] kyoung-mo-yang opened #489 "Raised "TypeError Exception" when using pytest_html.extras.image"
When appending extra that is a "pytest_html.extras.image" such as:
[code]

raised "TypeError Exception" such as:
[code]

My Environment:
Packages | {"pluggy": "1.0.0", "py": "1.11.0", "pytest": "6.2.5"}
-- | --
Platform | macOS-11.6-x86_64-i386-64bit
Plugins | {"asyncio": "0.16.0", "cov": "3.0.0", "html": "3.1.1", "metadata": "1.11.0", "parallel": "0.1.1"}
Python | 3.9.9

[2022-01-19 09:53] kyoung-mo-yang commented on #489
I think the [except code](https://github.com/pytest-dev/pytest-html/blob/v3.1.1/src/pytest_html/plugin.py#L387) needs patch such as:
[code]

[2022-01-19 10:12] kyoung-mo-yang commented on #489
Sorry, the above is wrong.
The parameter type of pytest_html.extras.image is str, but aa value of the bytes type was passed.

[2022-01-19 10:12] #489 closed

[2022-01-19 17:14] cladmi opened #490 "Wrong assumption in `_post_process_reports` discards output to terminal"
When running with `--html`, the processing removes printing the fixtures `teardown` log to the terminal.

It comes from a wrong assumption that the last report status is valid for all.
https://github.com/pytest-dev/pytest-html/blob/fdcd5c6331861c338e12537313b395300007f42e/src/pytest_html/html_report.py#L279-L282
And, as the plugin modifies the `test_report` object it has side-effects on other user

[2022-01-20 10:45] fbrandao commented on #265
This is still not fixed. It might be fixed when you use pytest-selenium but if you use the general selenium package this problem is still happening to me. I have tried with multiple combination of versions of pytest and pytest-html and this issue still occurs.
`[packages]
pytest-xdist = "*"
geckodriver-autoinstaller = "*"
chromedriver-autoinstaller = "*"
requests = "*"
selenium = "*"
pytest = "==6

[2022-01-20 10:55] BeyondEvil commented on #490
Thanks for the report @cladmi, much appreciated! 🙏

This is a really good observation. We're working on the "next-gen" report and as such I'm trying to spend as little time as possible fixing bugs in the current plugin.

Are you OK with having this fixed in the next major release, or is this critical to you?

Btw, in "next-gen" leaving the report-object from pytest untouched is already handled. 😊

[2022-01-20 11:00] BeyondEvil commented on #265
Yeah, I've since been able to reproduce it myself. It's a bit tricky to fix.

1. For the "regular" report, we either need the absolute path or the path passed to the report needs to be relative to the path where the report is created. Alternatively we need to copy the file there.
2. For the self-contained, we need to read and base64 encode it.

This is definitely going to be solved in next-gen and

[2022-01-20 11:11] fbrandao commented on #265
@BeyondEvil thanks for reopening this.
Do you know if there is any work around for this or any combination of versions that solves this problem?

[2022-01-20 12:06] BeyondEvil commented on #265
As far as I can tell, this has never worked/been supported.

For a workaround you have (at least) two options.

1. Give the full path to the file(s), eg. `file:///path/to/file.png`
2. Copy the file so that the path is relative to where the .html-file ends up.

For example:

If you run with:
[code]

and you have
[code]

Then the file needs to be copied to `reports/screenshots/my_screenshot.png`

I

[2022-01-21 09:52] cladmi commented on #490
Thank you for your answer.

I do not rely on pytest-html at my job, except myself locally, so no "need" to have it fixed. It's only the terminal output that seems impacted at the moment.

Only thing that could be problematic with "next-gen" if I plan to use it, is that I see you plan to remove 3.6 support and we may still have 3.6 running for some time. Our fault but is just the current situation.

[2022-01-25 08:03] pulkit-rajpal opened #492 "Unable to fetch the path for theHTML report using the item.config.option.html in pytest-html"
Hey, Just try to build a new Html report for the test cases & attach a screenshot for the Failed test to My Html Report.
Got this piece of Code but was unable to get the HTML path for the report which is being created.
Is there a better to get the path without Hard Coding it, Please share?

OS : Windows 64
pytest==6.2.5
pytest-html==3.1.1

@pytest.hookimpl(hookwrapper=True)
def pytest_runtest_make

[2022-01-25 20:33] BeyondEvil commented on #492
Could you share what you are seeing instead? Stacktrace? Error? Mind sharing how you're executing pytest (command line with flags)?

[2022-02-01 12:36] fenchu commented on #213
Tried adding id to each resultline and use as anchor, but it also needs to expand the extras. I like to be able to just add  a `#anchor` to the end of the html and it will jump there and expand the result.

[2022-02-02 17:24] namigm commented on #444
Thank you, i just removed  -s and it helps me.

[2022-02-22 06:25] gs202 opened #497 "Pytest Jenkins report failure and skip messages are corrupt in version"
I'm not sure why, but after upgrading version 2.1.1 to 3.1.1 the jenkins report fail, skip and xfail messages corrupt.
As can seen from the screenshots below, only the plugging version is different in my setup:
Report in version 2.1.1
![image](https://user-images.githubusercontent.com/46564521/155074702-78b373ad-25e8-48bf-8612-42469a6ef0ff.png)

Report in version 3.1.1
![image](https://user-images

[2022-02-22 08:15] RonnyPfannschmidt commented on #497
is this in combination with a pytest update or in isolation?

[2022-02-23 06:16] gs202 commented on #497
In both cases pytest==7.0.1.
I've degraded pytest-html version only (from 3.1.1 to 2.1.1) and the report was displayed as expected

[2022-03-02 21:02] opyate opened #499 "Please document how to pass a linelist argument on the command line"
When I run `pytest --help`, I see (amongst other things):

[code]

I know how to specify this var in `pyproject.toml` or `pytest.ini`, but how do I pass it as a CLI argument?

[2022-03-04 06:59] LeiYangGH opened #500 "AttributeError: 'Config' object has no attribute '_metadata' when using pytest_configure"
I follow the [doc](https://pytest-html.readthedocs.io/en/latest/user_guide.html#environment)

[code]

When run it gives me error

[2022-03-04 07:24] LeiYangGH commented on #500
Worked after removing `@pytest.hookimpl(tryfirst=True)`

[2022-03-04 07:24] #500 closed

[2022-03-10 21:14] nileshpandey3 commented on #265
I am having the same issue:
`screenshot` folder is in my root
Run command: `pytest --html report.html`
pytest version: `7.0.1`
pytest-playwright version == `0.2.3`
`conftest.py` file contents
[code]

[2022-03-14 06:41] pavk88 commented on #375
Hi ,

is there anything about this issue ?
it blocks me for upgrading to pytest-html v3.0.0 .

I want to capture only the log calls, instead its all or nothing indeed.

[2022-03-15 13:41] kannkyo opened #501 "Multi byte character method name is garbled"
## issue

When use unicode in test method,

[code]

I got garbled text (mojibake) in html reports.

[code]

## reason

Method name ( report.nodeid ) is encoded as utf-8 and decoded as unicode_escape .

**src/pytest_html/result.py**

[code]

Multi byte character as utf-8 is different same one as unicode_escape.

[code]

[2022-03-16 09:30] acohen716 opened #503 "Generate partial HTML report on abort"
We are running into a situation with the combination of pytest-repeat and pytest-html where we repeat a test n times yet if aborted (for example by Jenkins) no HTML report is generated. This occurs even if n - 1 iterations ran successfully and PyTest execution was only aborted during the last iteration. I welcome any suggestions/solutions that I can implement myself (for example in `conftest.py`).

[2022-03-20 14:04] akavbathen commented on #183
Hi guys 👋

I have decided to develop a utility that is able to merge few pytest-html reports.
Very useful to those running pytest suites in parallel and want to combine the reports later.

**Check it out:**
https://github.com/akavbathen/pytest_html_merger

Please open an Issue or contribute directly by creating a PR

**Enjoy!**

[2022-03-20 14:08] akavbathen commented on #48
Hi guys 👋

I have decided to develop a utility that is able to merge several pytest-html reports.
Very useful to those running pytest suites in parallel and want to combine the reports later.

**Check it out:**
https://github.com/akavbathen/pytest_html_merger

Please open an Issue or contribute directly by creating a PR

**Enjoy!**

[2022-03-20 15:24] BeyondEvil commented on #183
Hey!

That's awesome!

Just a heads-up: We're rebuilding pytest-html from the ground up. It's very behind schedule at the moment, but it is moving forward - albeit slowly.

[2022-03-20 15:27] BeyondEvil commented on #499
I don't thing that option originates with this plugin @opyate

[2022-03-20 15:31] BeyondEvil commented on #503
This is going to be solved by `next-gen`, as the report is updated per test.

[2022-03-22 12:37] KjellMorgenstern opened #504 "binascii.Error if media file not present"
Using pytest-html 3.1.1 and xdist 2.5.0

Actually I am looking for two things here
1. binascii.Error should not happen. What encoding should the passed 'content' string have?
2. How to reference local media, which does not yet exist as a file?

More details:

We are using  'extra.addImage()' in combination with pytest xdist.
When generating the html report, the media files from the different testi

[2022-03-22 20:35] treussart opened #505 "pytest-7.1.1 pytest-metadata not works"
When I upgraded pytest 7.1.0 to pytest 7.1.1, the pytest-metadata plugin is not called.

With pytest 7.1.1
`pytest --verbose --html=report.html --self-contained-html`

Do not display on the console and in the HTML report the Environment section.

[2022-03-22 20:51] #505 closed

[2022-03-25 11:03] headtr1ck opened #506 "Editing environment broken"
I was trying to edit the environment information in the html report following the guide, i.e. in conftest.py:
[code]
and I get the error:

Same with `pytest_sessionfinish`.

Using pytest v6 it was working, was there a breaking change (might be also related to pytest-metadata v2)?

I am using
python==3.9.10
pytest==7.1.1
pytest-html==3.1.1
pytest-metadata==2.0.0

[2022-03-26 09:43] Northxw commented on #506
I had the same problem as you, I tried looking for the _metadata attribute in the config object in the latest version, but couldn't find it.
then, I checked the chagelog list and found no entries for the relevant changes, expecting an answer.

[2022-03-26 09:57] Northxw opened #507 "Controlling test results through query parameters does not take effect!"
I'm reading the latest documentation of the pytest-html plugin, when I try `?visible=error` to filter the failed results in the test report, but it doesn't work. for example：
[code]
So, is my method of use wrong, or there are some hidden problems that prevent it from taking effect, I hope to get an answer, thank you very much.

[2022-03-27 00:56] BeyondEvil commented on #504
What OS and python versions is this happening on?

[2022-03-27 00:57] BeyondEvil commented on #506
This was an issue with `pytest-metadata`, should be fixed in `2.0.1`.

[2022-03-27 01:00] BeyondEvil commented on #507
I'm not sure, I'll try to reproduce it locally.

What OS and python and plugin versions are you using?

[2022-03-27 07:29] Northxw commented on #507
Windows10-19043.1586
Python 3.6.5
pytest 6.2.5
pytest-metadata 1.11.0
pytest-html 3.1.1

[2022-03-27 08:47] KjellMorgenstern commented on #504
The OS is Ubuntu 20.04
The version output from pytest:
platform linux -- Python 3.9.7, pytest-7.0.1, pluggy-1.0.0
plugins: cov-3.0.0, instafail-0.4.2, html-3.1.1, xvfb-2.0.0, xdist-2.5.0, flaky-3.7.0, metadata-1.11.0, icdiff-0.5, forked-1.4.0

[2022-03-27 09:03] KjellMorgenstern commented on #504
I think the b64decode is intended to decode inlined graphics, that are embedded in the html as b64 encoded data. Decoding a filename or uri will not work.

[2022-03-27 13:36] BeyondEvil commented on #504
Out of curiosity, why do you want to reference a file that doesn't exist?

[2022-03-27 14:00] KjellMorgenstern commented on #504
We are using xdist, and files are spread over several VMs. The html report is generated from the data xdist collected. But only after the tests are finished, we run rsync to copy all media files into the report directory. So, the media files will exist shortly after the report.html is generated.

[2022-03-28 00:00] BeyondEvil commented on #504
Ah I see.

You could check if the file exists before adding it to the report (`extra.append(extras.image("doesnotexist"))`)

The best I can offer is to spit out a warning, but not error out.

[2022-03-28 05:53] KjellMorgenstern commented on #504
The file will exist, it is just not yet there. As I have understood it by now, the solution could be to detect if content starts with a "/", so we can distinguish relative URIs from data URIs?

[2022-03-28 07:54] headtr1ck commented on #506
Thanks!
Updating to `pytest-metadata==2.0.1` solved the problem :)

[2022-03-28 07:54] #506 closed

[2022-03-28 11:54] k3v8ns opened #508 "only 10 test cases bug"
[code]

[code]

[2022-03-28 12:23] BeyondEvil commented on #508
Interesting. What OS is this on?

[2022-03-28 12:24] BeyondEvil commented on #508
Can you reproduce this _without_ `pytest-timer`?

[2022-03-28 12:27] k3v8ns commented on #508
[code]

[2022-03-28 12:29] k3v8ns commented on #508
macos big  sur
v 11.6

[2022-03-28 12:29] BeyondEvil commented on #508
Thanks, I'll see if I can repro locally.

[2022-03-28 17:04] Tbruno25 commented on #508
I experienced the same issue -- this behavior only occurs when run in combination with `pytest-sugar` since they re-define a lot of hooks.

[2022-03-28 17:06] Tbruno25 commented on #183
This is **awesome** -- thank you for sharing!

[2022-03-28 20:20] BeyondEvil commented on #508
Any idea what the solution might be?

[2022-03-29 02:28] k3v8ns commented on #508
[code]

after  uninstall pytest-sugar,  20 passed results still  under  pytest-timer scope.

[2022-03-30 19:38] acohen716 commented on #503
Great, thanks @BeyondEvil!

2 follow-up questions:
1. Is there a target date for next-gen?
2. In the meantime as a temporary solution would there be any downsides to doing something like [this](https://stackoverflow.com/questions/53376144/is-it-possible-to-generate-a-pytest-html-report-on-a-timeout) (code snippet quoted below)?
[code]

[2022-03-31 00:23] BeyondEvil commented on #503
No target-date, sorry.

I'm sure there are downsides, the question is how relevant they are.

For one, this isn't being called: https://github.com/pytest-dev/pytest-html/blob/360f1204678e1e837cb2bcc8e27f7adb5db6a2e0/src/pytest_html/html_report.py#L270

You may also get issue when trying to overwrite an existing report.

[2022-03-31 06:06] mattip commented on #482
No, that is indeed strange. We expect tests to run 2x slower since that is roughly the speed of our interpreter vs. CPython (without the JIT) and tests typically do not run long enough for the JIT to kick in. How would you suggest I run the tests directly (without tox) so I can profile?

[2022-03-31 10:07] BeyondEvil commented on #482
Put yourself in a venv with pypy3.8 (that's the version used in GHA) and just run `pytest`. Make sure you install the dependencies listed in `.tox`

[2022-03-31 13:51] mattip commented on #482
I did not properly install pytest-html. Now I get a different error, the html does not capture the log:
[code]

[2022-03-31 14:14] mattip commented on #482
On ubuntu 20.04, when I run with PyPy 3.8 I get 20 seconds, with CPython 3.8 10s. This is the 2x I would expect. Running CPython with coverage does not slow down things very much, maybe 11s. On CI, ubuntu20.04, the relationship is again 2x. One windows CI shows a worse ratio: CPython is about 3x slower.

I think this is all within the range of expectations.

[2022-03-31 15:50] mattip commented on #482
I missed the 4x on macOS. Now that we see the problem we can try to work on it. Very strange that macOS and windows are that much slower. @cfbloz.

[2022-04-05 16:33] kbroch-rivosinc commented on #508
I am experiencing the double counted test problem as well.  For me it seems to be an interaction betwen `pytest-html` and `pytest-sugar`

Below did the following:

* `pytest` w/o html reporting generation but sugar enabled: correct count: 11
* `pytest --html=test-results/report.html` also with sugar: incorrect count: 22
* uninstall pytest-sugar
* `pytest --html=test-results/report.html`: correct c

[2022-04-07 17:44] jeffwright13 commented on #508
One thing I noticed is your pytest.ini has `log_cli=True`. This option populates the output with seemingly double the test traffic. In reality, what is happening is the same test info gets sent to the terminal while the test is happening, and then the aggregated results get sent to the terminal again after the whole test run is complete.

What happens when you set `log_cli=False`?

[2022-04-07 17:47] jeffwright13 commented on #468
This is a coding error, nothing to do with pytest-html. You never define the `request` variable.

[2022-04-08 14:31] davidcasarez opened #510 "Pytest-html generates html report even if no tests were run with VSCode"
I am using VSCode and each time the test explorer runs a discovery/collects tests, a report.html file is generated even if no tests were run. I currently have my framework set up to create folders for each run with a report.html similar to the structure below. I am procedurally setting the the htmlpath in pytest_configure for pytest-html.

    /runs
    ..../2022-04-08-10-25-00
    ......../tests

[2022-04-08 14:50] BeyondEvil commented on #510
I think this is an edge case we haven't considered, or it's a regression.

At the same time, I'm not sure what the expected behaviour should be. No report when zero tests or an "empty" report. 🤔

[2022-04-08 14:51] BeyondEvil commented on #510
Can you repro it outside of VSCode?

[2022-04-08 15:08] davidcasarez commented on #510
It works as intended when ran outside of VSCode. I was using VSCode in order to leverage the test explorer to select tests versus using the command line to run them. VSCode is somehow faux running the tests without actually running the tests when running test discovery and thus triggering the pytest_configure method.

[2022-04-08 15:20] BeyondEvil commented on #510
Thanks!

So what do you think makes the most sense for the default behaviour? @davidcasarez

[2022-04-08 15:27] davidcasarez commented on #510
@BeyondEvil

I would think the default behaviour should be:
If no tests were run, then don't generate a report.

Not sure if there is a way to determine this. I tried looking into this and possibly leveraging the pytest_sessionfinish hook to determine if tests were run and intercepting the _generate_report method.

[2022-04-08 16:09] davidcasarez commented on #510
@BeyondEvil

I solved it by updating my pytest_configure to check if collectonly is set to true and if it is then setting htmlpath to None:

    @pytest.hookimpl(tryfirst=True)
    def pytest_configure(config):
      if "session_date" not in config.stash:
        config.stash["session_date"] = datetime.now().strftime("%Y-%m-%d-%H-%M-%S")

      [...]

      if config.option.collectonly == True:

[2022-04-08 16:34] #510 closed

[2022-04-11 07:36] k3v8ns commented on #508
with   disable log_cli options
[code]
and  get  output

[code]

[2022-04-11 07:58] k3v8ns commented on #508
not same as me.

[2022-04-11 12:13] jeffwright13 commented on #508
Same issue for me with pytest-sugar.

Here is the summary info output I get running WITHOUT pytest-sugar:
[code]

And here is the output WITH pytest-sugar:
[code]

[2022-04-13 15:21] Kuper101 opened #511 "PytestConfigWarning: Unknown config option: environment_table_redact_list"

[2022-04-14 00:51] kisscelia commented on #444
Thanks， i removed -s and it's useful.

[2022-04-19 06:08] Kuper101 commented on #511
@Zac-HD Thanks for the clarification.

[2022-04-19 07:58] BeyondEvil commented on #511
I wonder how to solve this. 🤔

[2022-04-27 18:25] wu-clan commented on #450
Is there a good solution to this problem at present?

[2022-04-27 20:46] BeyondEvil commented on #450
Unfortunately not. At least not one that I'm aware of.

We plan to address this in next-gen however.

[2022-04-28 11:18] wu-clan commented on #450
Thank you for your answer, look forward to

[2022-05-06 14:13] mubarakl-netapp commented on #171
I am still facing thi

I am also facing this issue. Is there any fix or workaround? Please help

[2022-05-12 16:34] leirons commented on #308
is it already fixed?

[2022-05-13 13:56] mattip commented on #482
Could I add something like [this](https://github.com/napari/napari/pull/4518) to the test setup to upload `--durations` timings as an artifact, and then compare them via https://carreau.github.io/pytest-json-report-viewer/ ?

[2022-05-14 00:41] BeyondEvil commented on #482
Absolutely!

[2022-05-18 19:10] Rickkwa commented on #507
I'm seeing this behavior too, the page without the `visible` query parameter, and the page with it is unchanged.

pytest 7.0.1
pytest-metadata 1.11.0
pytest-html 3.1.1

And just so I'm clear, the expected behavior is the `visible` query parameter controls which checkboxes are checked initially on page load?

I also tried downgrading pytest-html to 3.0.0, 2.1.1, 2.0.1 and none of these had the quer

[2022-05-18 23:13] Rickkwa commented on #507
It seems this might be an unreleased feature. In [main.js of the latest tag](https://github.com/pytest-dev/pytest-html/blob/v3.1.1/src/pytest_html/resources/main.js#L65) (3.1.1 at time of writing), there is no reference to "visible" at all. But in the [master branch (e09ebfa at the time of writing), it's there](https://github.com/pytest-dev/pytest-html/blob/e09ebfafac024e58a5c5b8d05c37723baa473f12

[2022-05-20 10:04] zaeemalee commented on #146
"pip3 install pytest-html"

run this command and it will solve your issue.

[2022-05-20 12:08] premkumarwp commented on #146
When I execute python executable file getting below error. python=3.9

MacBook-Pro:dist$ ./example
Running tests, tests_file = /var/folders/lc/jj6rl3p14pgfvmndp_jghnmc0000gn/T/_MEIyyLKQu/tests.py
ERROR: usage: example [options] [file_or_dir] [file_or_dir] [...]
example: error: unrecognized arguments: --html=report.html --self-contained-html
  inifile: None
  rootdir: /Users/Downloads/example-pytes

[2022-05-20 14:22] BeyondEvil commented on #146
Did you install `pytest` with `pip3` as well?

[2022-05-20 14:44] premkumarwp commented on #146
Yes, here is the list of packages installed

MacBook-Pro:$ pip3 list
Package                   Version
------------------------- ---------
altgraph                  0.17.2
appdirs                   1.4.4
argparse-addons           0.7.0
art                       5.2
attrs                     21.4.0
bcrypt                    3.2.0
bincopy                   17.9.0
certifi                   2021.5.30

[2022-05-23 06:04] premkumarwp commented on #146
@anand853 Did this issue resolve?

[2022-05-23 09:36] GaganGD commented on #146
Hello, I'm facing a similar issue when I try to execute for .exe file creation

:::
pyinstaller --onefile --noconfirm --nowindow --exclude-module PyQt5 \
    --add-data "3rdparty/pytest_html:./pytest_html" \
    --add-data  "tests:tests" \
    --add-data "mypkg:mypkg" \
    --additional-hooks-dir=hooks \
    --hidden-import=pytest_html \
    -n example mypkg/main.py
:::

After running the above co

[2022-05-24 20:39] cfbolz commented on #482
FWIW, I have been running the pytest-html test suite with coverage locally as a kind of real world benchmark for coverage performance (see linked issue). seems we can speed up coverage on pypy for pytest-html (and I suspect many other projects) by a decent amount.

[2022-06-08 08:35] voobel opened #517 "extras.png doesn't accept image base64 bytes (--self-contained-html)"
I'm using `--self-contained-html` flag and want to add Playwright-created screenshots to HTML report on failure. I can't use non-self-contained because paths are valid only in executor machine and not in Jenkins.

[code]
^ printed type here is `<class 'bytes'>`

Error I get (same with `extras.image`):
[code]

Should I be able to pass image as base64 bytes as many answers from Google hint?

[2022-06-08 09:01] voobel commented on #517
Got it, user error. Had to decode it, error was misleading.

Working solution in case anyone's interested:
[code]

[2022-06-17 06:26] jxcangel commented on #375
my packages are these but got same issue:

[code]

[2022-07-01 22:49] andrewcopley23 commented on #508
This seems to only happen on pytest-html release 3.0.0 and higher. If you downgrade to 2.1.1, the issue goes away for me.

[2022-07-01 22:58] harmin-parra opened #521 "Being able to choose the default initial-sort column"
By default, the` initial-sort` css class is set to the Result column
`<th class="sortable initial-sort result" col="result">Result</th>`

Could we be able to change the initial sorted column ?
In my personal case, I prefer to have the sort applied to the Test column (`col="name"`)

I do know we can achieve this by using the `pytest_html_results_table_header` hook.

But I think it would be easier a

[2022-07-01 23:44] BeyondEvil commented on #508
It’s such a weird issue.

And I’m reluctant to spend any time on it since we’re working hard on the v4 release.

v4 is basically a complete rebuild of the plugin, so with a little luck this issue won’t resurface.

v4.0.0-rc1 should be released within two weeks as we’re working on the final tweaks.

[2022-07-01 23:45] BeyondEvil commented on #521
You can provide your own CSS file(s). It’s additive, so you should be able to override only the bits you want.

[2022-07-01 23:46] BeyondEvil commented on #521
If that doesn’t work, we could support a query param that sets initial sort.

[2022-07-02 00:09] harmin-parra commented on #521
You could add the following lines of code

file: `plugin.py`

[code]
file: `html_report.py`

[code]

[2022-07-02 00:17] BeyondEvil commented on #521
Thanks, but we're rebuilding the plugin from scratch, so that won't be possible. But it will likely be straightforward to do it via query-param.

Look out for v4.0.0-rc1 in the coming weeks.

[2022-07-02 00:19] BeyondEvil commented on #511
@davehunt Hey, need some help here.

I see there's a webhook for read-the-docs. Do I need a login or something and fix this from their side? I'm guessing for some reason they're sourcing from master branch instead of the latest tag.

Or am I missing something? I couldn't find anything obvious in the source in the repo.

[2022-07-02 01:44] jeffwright13 commented on #508
V4 FTW!! Let me know if you need help testing it.

[2022-07-04 14:21] davehunt commented on #511
@BeyondEvil I don't have pytest-html listed as one of my projects at https://readthedocs.org/dashboard/ so perhaps someone else set that up? I see https://readthedocs.org/projects/pytest-html/ lists @ssbarnea and @gnikonorov. Perhaps they can help?

[2022-07-04 14:35] BeyondEvil commented on #511
Is the release-drafter and/or notes in any way related to readthedocs?

Because readthedocs shouldn’t source the docs from master but from the latest published tag.

Can you add davehunt and myself to readthedocs for this plugin?

@ssbarnea

[2022-07-04 14:42] ssbarnea commented on #511
I added both of you on RTD. Re irc, I do not know, i think I may have made a mistake, probably the channel works only on matrix and gitter. Main address appears as `#pytest:matrix.org`.

[2022-07-05 08:29] kloczek opened #526 "3.1.1: pytest is failing"
+++ pytest is failing
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest

[2022-07-05 08:29] kloczek commented on #526
Here is pytest output:
<details>

[code]
</details>

[2022-07-07 08:03] MartykQ commented on #34
In `conftest.py`:

[code]

[2022-07-11 21:55] BeyondEvil commented on #526
Could you try with this branch: https://github.com/BeyondEvil/pytest-html/tree/combined-fe-and-be ?

Also, any idea why it's failing?

[2022-07-11 22:12] kloczek commented on #526
In that repo there a re much more vesion tags than here.
If you have any fix fot that issue pleae open PR here and I'll be glad to test it.

[2022-07-11 23:07] BeyondEvil commented on #504
Yeah, we could detect that.

I'm thinking I'm might flip the logic here...

- Make a best effort check to see if the content is base64, if it is, write to assets folder.
- If relative path, turn into absolute path and just add it (make zero attempts to validate, that's up to the user to make sure it exists).
- If absolute path, prefixed with `file` or `http`, just add it (no validation).

Basicall

[2022-07-14 12:19] 1Mark opened #530 "pytest-html doesn't always flush the results"
I believe there is some sort of race condition going on, sometimes I get the report generated at the right time but the results are just not there.

My setup for pytest is very simple
[code]

[2022-07-15 11:05] nck974 opened #531 "How can I unescape html added through the pytest_html_results_summary hooks?"
Hello I would like to add some code to the summary or some point outside the test results. I tried with the following hook:
[code]
But si displayed as follows:
![image](https://user-images.githubusercontent.com/18548911/179210961-dd3a4f52-8d47-4dc6-806d-2e36788f3ee2.png)
Checking the html I can see it was escaped:
[code]
If I unescape that manually after the generation it looks as i want:
![image]

[2022-07-15 11:28] BeyondEvil commented on #531
Before I start debugging this, what happens if you do:

[code]

[2022-07-15 11:34] nck974 commented on #531
I just tried with:
[code]
And
[code]
Both generates:
[code]

[2022-07-15 12:27] BeyondEvil commented on #375
Sorry that you're having issues and that this has lingered for so long.

I will make sure to revisit this for v4.x which is going to be in beta in a week or two.

Hopefully, with the complete rebuild we're doing for v4, this won't be an issue.

[2022-07-15 12:51] RajuRekadi commented on #444
yes its working fine when i was remove   -s.

[2022-07-15 17:46] BeyondEvil commented on #531
Mind sharing some environments stuffs?

OS, python version, pytest version, other plugins, etc.

[2022-07-15 18:00] nck974 commented on #531
Sure I have tested this bot in the linux subsytem and windows with this output in the pytest-html:
<html><body>

Packages | {"pluggy": "1.0.0", "py": "1.11.0", "pytest": "7.1.2"}
-- | --
Platform | Linux-4.4.0-19041-Microsoft-x86_64-with-glibc2.31
Plugins | {"html": "3.1.1", "metadata": "2.0.1", "parallel": "0.1.1"}
Python | 3.10.4

</body>
</html>

And pip freeze:
[code]

[2022-07-15 21:56] BeyondEvil commented on #531
Ok, so after finding this: https://github.com/pytest-dev/py/issues/274

The solution was to wrap the string in `raw` from `py.xml`.

You could also clean it up a little bit:

[code]

Please close the issue if this solved your problem. 🙏

[2022-07-15 23:46] nck974 commented on #531
Yes, that solved the problem, thanks a lot.

[2022-07-15 23:46] #531 closed

[2022-07-18 08:45] nck974 opened #533 "How can I modify the summary with test results after testing has finished?"
I have been able to modify the summary with the following snippet from another issue:
[code]
And I am also able to gather the results after the session finishes with:

[code]
My problem is that I can not make a connection to write what I have in session finish with what I have in the summary. The summary hook seems to don't have have access to anyinformation of the session.

Furthermore, after mak

[2022-07-18 10:04] MartykQ opened #534 "Gathering some test run statistics at the end of the test run and displaying them in summary section"
Hi all!

I have a situation where I do some REST API calls during pytest run. Each request is saved in DB with the session_id field which is either some random uuid generated in session scoped fixture or `testrun_uid` fixture from pytest-xdist

At the end of the session I would like to query my database that holds all needed data and gather some statistics, for example, a number of made requests/a

[2022-07-18 20:18] BeyondEvil commented on #533
Not sure what the correct solution is.

But let me label this `next-gen`, and once we've figured out how to deal with the hooks that modify the report - we can look at this use case.

[2022-07-18 20:22] BeyondEvil commented on #534
Have you looked at https://pytest-html.readthedocs.io/en/latest/user_guide.html#extra-content ?

[2022-07-18 22:17] anogowski opened #535 "Report pytest-stress results individually for each iteration in pytest-html"
I asked a question on stack overflow but haven't gotten a response and saw that this section was pretty active, so I figured I would try here.
https://stackoverflow.com/questions/73000833/report-pytest-stress-results-individually-for-each-iteration-in-pytest-html

I am trying to get the results from pytest-stress to look like repeat by adding the iteration number after it. Currently multiple runs

[2022-07-18 22:45] anogowski commented on #535
I

[2022-07-18 22:45] #535 closed

[2022-07-19 06:39] MartykQ commented on #534
The question I meant was not about how to insert the data, but rather how to get data from fixture to `pytest_html_results_summary` hook. As for now, I've managed to work around it with writing to file after cleaning up the session scoped fixture and reading the same file in `pytest_html_results_summary` hook

[2022-07-19 13:23] Alfeshani-Kachhot opened #536 "How to add additional column in pytest html report"
I need help regarding pytest html report customization. I need to print failed network request status code(By TestCase wise) in report so I did the below code. StatusCode column created successfully but not getting data in html report. also, test case-wise statuscode row does not appear in the report.

[code]

[2022-07-19 14:00] BeyondEvil commented on #536
With a little luck, it's due to a typo here: `pytest_html_result_table_row`

should be `pytest_html_results_table_row`

[2022-07-19 21:37] BeyondEvil commented on #534
How about the solution discussed here: https://github.com/pytest-dev/pytest-html/issues/144

[2022-07-20 04:56] Alfeshani-Kachhot commented on #536
@BeyondEvil

Yes, thank you for your help. but now I m getting below error. Can you please help? I tried but did not get much documentation help regarding customization of pytest html report.

line 51, in pytest_html_results_table_row
    cells.append(html.td(report.statuscode))
AttributeError: 'TestReport' object has no attribute 'statuscode'

[2022-07-20 09:30] BeyondEvil commented on #536
That's probably because the `pytest_html_results_table_row` hook is called before the `pytest_runtest_makereport` one.

[2022-07-24 04:23] Upma-Shruti commented on #146
`python -m pytest --html=report.html `
This worked for me, but
`python3 -m pytest --html=report.html`
is giving below error
`Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.`

[2022-07-24 11:08] BeyondEvil commented on #146
This is unrelated to pytest-html.

If your python binary (python.exe) is 2.x you need to install a python 3.x binary.

If not, you can just use python insted of python3.

Or you can symlink python3 to python.

[2022-07-25 10:00] madhav-pai opened #537 "help in handling error case from report attribute using the pytest-html plugin"
i need help in the way pytest_runtest_makereport handles error

    pytest_html = item.config.pluginmanager.getplugin("html")
    report = outcome.get_result()
    extra = getattr(report, "extra", [])
    LOG.info(f"Now in test {item.nodeid} {call.when}")
    error = hasattrb(report, "waserror")

am unable to get the error variable to true even though i have a error test and have a logger statemen

[2022-07-25 19:54] BeyondEvil commented on #537
I need more info to help.

Can you show the entire function and what output you _do_ get?

[2022-08-08 13:51] Sandeepjiqvia commented on #444
while copying or moving the report.htm to other folder the html styling gets broken every time

[2022-08-08 13:52] Sandeepjiqvia commented on #444
command used was pytest -n 5 html=report.html

[2022-08-08 18:31] BeyondEvil commented on #444
Yes, you have to also move the assets folder.

Or run with ”—self-contained-html”

[2022-08-22 07:03] cxdtotsj commented on #450
Thank you. When is the next version expected to be released?

[2022-08-22 07:07] RonnyPfannschmidt commented on #450
I'd like to note that mutation of nodeid is absolutely unsupported and any breakage is on the person doing it,

It's not a use case that should be supported

[2022-08-26 20:17] lefty1975 commented on #444
I'm having issues where I'm not capturing log output details for any of my test runs, failed, passed, error, etc. Is this still an open issue or has it been resolved in a newer version?

I'm currently running 3.1.1

[2022-08-26 20:19] BeyondEvil commented on #444
@lefty1975

It's been resolved, but not yet released. I'm working on the final bits as we speak and I'm hoping to release the new version within a week.

Thanks for your patience!

[2022-08-26 20:22] lefty1975 commented on #444
@BeyondEvil stay evil and thank you!

I thought it was me actually. I did not encounter this issue with other projects using the same version on a mac os. It wasn't until I started a new project in a windows environment that this occurred.

[2022-08-30 12:02] MartykQ opened #545 "Unescape logs section to display custom html logs"
Is there a way to disable html escaping to display custom logs directly from `logging.info()`

Example:

[code]

it is displayed as a raw text in the html report, but I would like to have it displayed as a separate div

[2022-08-31 10:04] BeyondEvil commented on #545
Maybe this https://pytest-html.readthedocs.io/en/latest/user_guide.html#extra-content

or this https://pytest-html.readthedocs.io/en/latest/user_guide.html#modifying-the-results-table

[2022-09-02 14:40] mrhouzlane opened #547 "ERROR: usage: pytest [options] [file_or_dir] [file_or_dir] [...]"
I have install pytest

I am in a virtual environment using pipenv sync , pipenv run shell.

Environment : `macOs`
pytest v : `pytest 7.1.3`

I have this error when running pytest:

[code]

[2022-09-03 01:23] RonnyPfannschmidt commented on #547
Looks like options for Pytest-cov got added in adopts but Pytest-cov is not installed

[2022-09-04 11:44] mrhouzlane commented on #547
Fixed.

[2022-09-04 11:44] #547 closed

[2022-09-09 21:33] BeyondEvil commented on #450
Any day now 😅

[2022-09-22 04:12] LeiYangGH opened #548 "[help] just curious how `--self-contained-html` option works?"
I searched the whole src folder and only see single [occurance](https://github.com/pytest-dev/pytest-html/blob/master/src/pytest_html/plugin.py#L29) and cannot find anywhere to reference this option.
can anyone help me understand how this option work?

[2022-09-22 10:03] BeyondEvil commented on #548
Start here: https://pytest-html.readthedocs.io/en/latest/user_guide.html#creating-a-self-contained-report

[2022-09-22 10:05] BeyondEvil commented on #548
And then here: https://github.com/pytest-dev/pytest-html/search?q=contained

[2022-09-22 10:05] BeyondEvil commented on #548
Feel free to reopen if you need more help.

[2022-09-22 10:05] #548 closed

[2022-09-22 15:09] LeiYangGH commented on #548
thanks!

[2022-09-26 03:13] python012 opened #549 "The report is not collecting the fail log when it"

[2022-09-26 05:49] python012 commented on #549
ok... I figure out after doing some research, it's "caused" by `pytest -s`, if I removed `-s`, just run it using `pytest -v --html=report.html --self-contained-html`, the failing logs are collected and displayed well, let me close this..

[2022-09-28 13:55] BeyondEvil commented on #206
I'm sorry you're experiencing this problem @bkashigar.

It's been fixed in the next major version.

Hold tight and thanks for understanding!

[2022-10-17 09:50] AZ-201 opened #552 "Is there a way to reduce html size without removing logs?"
I got a lot of test.  Actually the report size is about 120M.
![thumbnail_a8b2d61f3253b4469a80e55d708f02ac](https://user-images.githubusercontent.com/47150065/196147135-fd9e1b24-c7ea-4d74-affc-20583c9c662c.png)
[code]
The browser won't load it normally, and crashed sometimes. I can't checkout the boxes and fold the results.
Is there a way to reduce the size of it?
The logs are necessary for debug.

[2022-10-17 09:59] AZ-201 commented on #552
I tried gzip the report html, got only 3.5M.
Maybe there is a lot of room in optimization.
[code]

[2022-10-17 12:50] BeyondEvil commented on #552
There are a couple of optimizations we're looking at.

One of them is to paginate and lazy load assets.

We welcome other suggestions!

[2022-10-18 03:45] AZ-201 commented on #552
Glad to hear that. Looking forward to it.

[2022-10-18 03:45] #552 closed

[2022-10-20 08:11] AZ-201 commented on #552
I checked the docs and found a visibility filter feature unreleased two years ago. May be considering add that feature in the next release is a good idea

[2022-10-20 11:43] AZ-201 commented on #552
I tried that feature mentioned before. It works, though loading still takes a lot of time.
It has not been released yet. You can simply replace `main.js` to get it work.

[2022-10-20 23:18] BeyondEvil commented on #552
Yep, it's already added. So are a couple of other filters that might help with loading.

[2022-10-25 08:39] smartEBL opened #553 "Missing Dependency "py.xml" with pytest 7.2.0"
With latest pytest 7.2.0 we get a
`ModuleNotFoundError: No module named 'py.xml'; 'py' is not a package`

The py package dependency was removed here: https://github.com/pytest-dev/pytest/commit/19dda7c9bdc8ef71c792e0f77a9595bfad8d9248

This could be fixed by specifying the dependency in the pytest-html package itself.

[2022-10-25 08:43] mielune commented on #553
Same for me.

[2022-10-25 09:00] PeterStolz commented on #553
#554

[2022-10-25 09:05] smartEBL commented on #553
https://github.com/pytest-dev/pytest-html/pull/555

[2022-10-25 09:47] vgonisanz commented on #553
I have the same problem after updating pytest 6.X to pytest 7.X, are someone planning to release a new version of the plugin?

[2022-10-25 10:20] DaffaPintu commented on #553
same for me

[2022-10-25 12:21] PeterStolz commented on #553
Thanks for merging and releasing this quickly :100:

[2022-10-25 12:31] #553 closed

[2022-10-26 06:52] elubs opened #558 "Report fails to escape '\N' and '\U' characters in test parameter"
running tests including non-escaped characters in parameter value causing plugin to throw the following exception
"UnicodeDecodeError: 'unicodeescape' codec can't decode bytes in position 167-168: malformed \N character escape"

create a test with parameter including non-escaped param for example 'C:\\Program Files (x86)\\New Folder', results the exception below:

[code]

[2022-10-26 12:42] kleinyonatan commented on #444
Hi, just got the same issue on pytest-html==3.2.0, was this fixed?

[2022-10-26 12:52] BeyondEvil commented on #444
Yeah, sorry no. It wasn’t part of the v3 release, it will be part of the v4 one. Which we are currently wrapping up for a RC release.

[2022-10-27 12:32] robsan00 opened #559 "UnicodeEncodeErrors in report creation with pytest-html 3.2.0"
Consider the following simple dummy test module:
[code]

Using a virtual environment with the following packets (which you get if you simply get pytest and pytest-html):
[code]

Triggering the tests will result in a UnicodeEncodeError:
[code]

When downgrading to pytest-html 3.1.1, the error disappears.

It's not just \x81 that leads to such problems, unicode characters also show this issue. This

[2022-10-27 14:57] BeyondEvil commented on #559
Hopefully this is solved in the v4 release. which I hope is not too far away. I'm planning an RC release before EOW.

[2022-11-02 09:37] elubs commented on #559
could this solve issue#100? it seems to be related. it looks as if test_id should be escaped