[2015-04-15 15:20] The-Compiler opened #1 "pip install pytest-html doesn't work"
`pip install pytest-html` as mentioned in the README does not work, as the project [doesn't seem to be](https://pypi.python.org/pypi?%3Aaction=search&term=pytest-html&submit=search) on PyPI.

[2015-04-15 17:57] RonnyPfannschmidt opened #2 "toplevel resource file"
at that point its better to create a package and put the other files in

[2015-04-20 13:18] davehunt commented on #2
Fixed, thanks!

[2015-04-20 13:18] #2 closed

[2015-04-20 13:19] davehunt commented on #1
The README was in anticipation of the initial release, which has just been made.

[2015-04-20 13:19] #1 closed

[2015-05-07 06:57] The-Compiler opened #3 "Python3 support"
What's the state of Python3 support with `pytest-html`?

In `html/plugin.py` I noticed this:

[code]

However python3 tests were removed in 30a37b7b4ddb06db36659dd7c22740030fe9ca8d and it doesn't seem to work - one reason seems to be the `html` package name conflicts with the [html module in the stdlib](https://docs.python.org/3/library/html.html):

[code]

Would a pull request for python3 support

[2015-05-07 10:23] davehunt commented on #3
A pull request would certainly be welcome! I had hoped for Python 3 support out of the box, but as we're still using python 2.7, I kind of gave up at the first sign of problems! :smile:

The package name makes more sense as `pytest_html`, so let's go for that!

As for the extra dependency, I'd prefer to avoid this if possible. This is just a small package so I'm guessing it won't be too hard for s

[2015-05-07 10:24] davehunt commented on #3
Of course, please also restore the Travis tests for Python 3 in your patch.

[2015-05-08 14:01] davehunt commented on #3
Done via pull #4

[2015-05-08 14:01] #3 closed

[2015-05-26 14:27] reddypdl opened #7 "AttributeError: 'TestReport' object has no attribute 'extra'"
Tried to add the code below, but got error - AttributeError: 'TestReport' object has no attribute 'extra'

from py.xml import html
from html import extras

def pytest_runtest_makereport(__multicall__, item):
    report = __multicall__.execute()
    extra = getattr(report, 'extra', [])
    if report.when == 'call':
        xfail = hasattr(report, 'wasxfail')
        if (report.skipped and xfail) or

[2015-05-26 15:26] davehunt commented on #7
It looks like you've just copy/pasted the example from the README. There was an error in this were the code tries to access report.extra before it's set, which I've now fixed. I've also simplified the example because it was relying on a TestSetup having a Selenium object.

[2015-05-26 15:26] #7 closed

[2015-05-30 18:26] ionelmc opened #8 "Add captured output (stdout, stderr) to report"
Captured logs are included but captured stdout/stderr is not.

(tested with pytest 2.7.1)

[2015-06-01 16:11] davehunt commented on #8
Could you elaborate on what you're expecting to see in the HTML report?

[2015-06-01 16:16] ionelmc commented on #8
So in terminal I get something like this:
[code]
But in the html report I don't see the stderr stuff anymore

[2015-06-02 14:59] davehunt commented on #8
By saying 'anymore' are you suggesting this is a regression? Currently only the long string representation of the failure is included in the HTML report, see https://github.com/davehunt/pytest-html/blob/master/pytest_html/plugin.py#L110

Adding stdout and stderr would certainly be a nice enhancement.

[2015-06-19 10:18] TanushreeM opened #9 "AttributeError: 'module' object has no attribute 'url'"
Hi,
 I get following error when I am trying to use code snippet provided by you to add details to the HTML reports.
    extra.append(extras.url('http://www.example.com/'))
AttributeError: 'module' object has no attribute 'url'

Here is the code we are trying to run-

[code]

[2015-06-19 11:05] davehunt commented on #9
Sorry about that, the code snippet needs updating. Can you try the following:

[code]

[2015-06-19 11:06] #9 closed

[2015-06-19 11:10] TanushreeM commented on #9
It worked. Thanks a lot :)

[2015-07-01 08:46] The-Compiler opened #10 "addhooks() got deprecated in pytest git version"
It's probably rather early to report this, but I thought I'd do so anyways.

When using `pytest-html` with the latest pytest version from their [git repo](https://github.com/pytest-dev/pytest) with `-rw` (show warning texts) I get this:

[code]

[2015-07-14 16:19] shat00n opened #11 "Show extras with screenshot for passed tests as well"
Hi, Dave!
Is it possible to show a screenshots for the passed tests as well?
This is my code:

[code]

Both passed and failed tests has an URL field,
however, only failed tests are displayed with screenshot.

BR and thanks for the great plugin :)
Michael

[2015-07-16 13:31] davehunt commented on #11
Are you using the latest version (1.3.1)? I fixed this in https://github.com/davehunt/pytest-html/commit/094009750bcc9d7c8b143a3dc1281dc3c6bd86ab so any extra content is shown, regardless of the result.

[2015-07-18 19:21] shat00n commented on #11
Hi Dave,
Yes, I saw this commit and I'm using the latest version:
pip freeze | grep pytest-html
pytest-html==1.3.1

I'm working on:
Python 3.4.3 -- py-1.4.30 -- pytest-2.7.2

Regards,
Michael

On Thu, Jul 16, 2015 at 4:31 PM, Dave Hunt <notifications@github.com> wrote:

[2015-07-20 10:25] davehunt commented on #11
I also updated all of the tests for the plugin that send extras to the report to pass, and they appear to be okay. Can you try running from the master branch instead of PyPI to see if that fixes it for you? Also, perhaps try fully uninstalling the plugin or creating a fresh virtual environment. I've had issues before when two versions of the same package have been installed, and pip freeze shows t

[2015-07-20 10:52] davehunt commented on #10
Thanks @The-Compiler, we could check for `add_hookspecs` and use it if it exists, reverting to `addhooks`. Once a new version of pytest with this change is released we can either increase the dependency or leave this check in place.

[2015-07-24 10:33] shat00n commented on #11
Hi,
Thanks for suggestoins, I've tried both (virtual env and plugin from
master), without success though.
I noticed then, when I'm opening a report, all screenshots appear for a
half second and then disappear except the one for failed test.

It seems like plugin does save a screenshot for the passed tests, but
 "extra" table is not displayed for them.

Here is a test report https://www.dropbox.com

[2015-07-24 10:49] davehunt commented on #11
I've removed the HTML from your comment as it made it impossible to read. This does look like a genuine bug in the CSS. See https://github.com/davehunt/pytest-html/blob/master/pytest_html/resources/style.css#L110 could you perhaps try removing that line and see how it looks?

[2015-07-24 11:46] shat00n commented on #11
Sorry for HTML, I've replied from google without checking how it looks like on git.
Anyway, I removed line 110-113:
[code]
But the result is the same - https://www.dropbox.com/s/vix2fio7gllhf89/report_L110.html

I'm not familiar with js,
but I found the following code in my html report:
[code]
If I understand it properly,
Since passed result does not have a .log, so empty td class created instead

[2015-07-24 12:33] shat00n commented on #11
Well,
All pictures are displayed regardless result after removing
[code]
And replacing
[code]
By
[code]

[2015-07-24 12:54] davehunt commented on #11
Okay, I'll take this and see if I can get it fixed today. Thanks for the details.

[2015-07-24 14:29] davehunt commented on #11
@shat00n could you try installing from the issue11 branch and let me know if this solves it for you?

[2015-07-25 08:30] shat00n commented on #11
Hi,
Yeap when using branch 11, all screenshots are displayed regardless test result with "No log output captured." as a log message
And also putting ```extra.append(pytest_html.extras.image(screenshot, ''))```
under ```if (report.skipped and xfail) or (report.failed and not xfail):``` works as before - shows a screenshot only for failed tests.

Thanks!

[2015-07-27 13:08] davehunt commented on #11
Great, thanks! I'll merge this and make a release.

[2015-07-27 13:11] #11 closed

[2015-07-27 13:12] davehunt commented on #11
Released as: https://pypi.python.org/pypi/pytest-html/1.3.2

[2015-08-11 19:11] The-Compiler opened #12 "UnicodeEncodeError when parametrizing tests with unicode surrogates"
On Python 3, when I have a test file like:

[code]

I get:

[code]

Since I was the one contributing python 3 support, I can look at this issue in some days/weeks, but I'm rather busy currently.

[2015-08-11 20:09] davehunt commented on #12
Thanks @The-Compiler I'll leave this unassigned for now.

[2015-08-12 12:00] #12 closed

[2015-08-23 00:13] hprem opened #17 "Not able to customize the environment section of the report"
I am trying to add some content to the Environment section of the report
On adding the following code to my conftest.py file,
[code]
I get the error
[code]

Has the path to _html changed?

Regards
Prem

[2015-08-23 22:21] hprem commented on #17
Sorry... I didn't seem to have "--html" parameter in my py.test cmd line, by mistake. Adding that solved this

[2015-08-23 22:22] #17 closed

[2015-08-24 09:16] davehunt commented on #17
Yes, this is only present when the HTML report plugin is in use. You can easily check in your code using `if hasattr(config, '_html')`.

[2015-09-03 14:24] davehunt opened #18 "Environment is not populated when using pytest-xdist"
The environment section in the HTML report is missing when we run tests in parallel using pytest-xdist. I'm hoping that @RonnyPfannschmidt can take a look and suggest how we can fix it. :smile:

[2015-09-04 16:02] RonnyPfannschmidt commented on #18
its impossible to share the information as is

the current implementation basically relies on "global variables"

pytest-xdist has the concept of a `slaveoutput`, which i a dictionary

you can pass normal strings/numbers with ease using that

the objects you should interact with on the slave are
`config.slaveinput` and `config.slaveoutput`

to finish the reporting there is a hook called `pytest_te

[2015-09-08 12:09] davehunt commented on #18
Thanks @RonnyPfannschmidt, I've been able to fix this in pull #19. Would you be able to take a look and let me know if there's anything concerning in my changes?

[2015-09-08 13:38] #18 closed

[2015-09-22 01:52] #8 closed

[2015-10-16 10:15] ionelmc opened #21 "AttributeError: 'SlaveController' object has no attribute 'slaveoutput'"
I got this weird error with 1.6:
[code]

Any idea what's going on?

[2015-10-16 13:42] davehunt commented on #21
It could be that you don't have `pytest-xdist` installed. It shouldn't be required, but I thought `pytest_testnodedown` was only called if it was. We may be able to just guard against this by checking for this attribute before https://github.com/davehunt/pytest-html/blob/master/pytest_html/plugin.py#L61 like we do at https://github.com/davehunt/pytest-html/blob/master/pytest_html/plugin.py#L53

[2015-10-16 14:22] The-Compiler commented on #10
f8a5a5c934b335cf87fc463abfa3fbcee779c980 removed the hooks mechanism, so this isn't an issue anymore.

[2015-10-16 14:22] #10 closed

[2015-10-16 14:28] The-Compiler commented on #21
This is odd - `pytest_testnodedown` is indeed defined in xdist's [`newhooks.py`](https://bitbucket.org/pytest-dev/pytest-xdist/src/8e1f81f8113ad87c9fab6ac346e8e71ecd2dc1ad/xdist/newhooks.py?at=default&fileviewer=file-view-default), and `SlaveController` is a [class from xdist](https://bitbucket.org/pytest-dev/pytest-xdist/src/8e1f81f8113ad87c9fab6ac346e8e71ecd2dc1ad/xdist/slavemanage.py?at=default

[2015-10-16 14:30] ionelmc commented on #21
I'm pretty sure I had xdist installed. Might be something else?

[2015-10-16 14:32] The-Compiler commented on #21
From xdist:

[code]

So I think `SlaveController` not having `slaveoutput` means the slave never finished properly?

I'm guessing this happens when the slave crashes in some way, so I guess checking for that attribute is the way to go.

[2015-10-16 14:35] ionelmc commented on #21
Well, I did have some other failures in that jenkins build ... sounds like that might be the problem.

[2015-10-16 15:02] RonnyPfannschmidt commented on #21
one can acceptance test for this with a unittest that calls os._exit(0)
i think it should be solved from the xdist side as well (better docs about the node object state)

[2015-10-19 08:28] davehunt commented on #21
Fix has been reverted due to issues with pytest 2.8.x and Python 2.x

[2015-10-19 16:39] davehunt commented on #21
I relanded but xfailed the problematic test.

[2015-10-19 16:39] #21 closed

[2015-10-20 09:52] rarelam opened #23 "[Feature request] Able to add "html" to addopts in setup.cfg"
Hi,

I would like to request to add "html" to addopts in setup.cfg.

Thank you

[2015-10-20 09:55] The-Compiler commented on #23
I'm guessing you mean the `[pytest]` section there? That works fine for me. How doesn't it for you?

[code]

[2015-10-20 09:56] davehunt commented on #23
As mentioned in https://github.com/davehunt/pytest-selenium/issues/37 you should already be able to do this:

[code]

[2015-10-20 09:56] #23 closed

[2015-10-20 10:28] rarelam commented on #23
I was expecting a easier way to add HTML on setup.cfg.

But addopts will work fine for me too.

Thank you.

[2015-11-25 17:10] faleev opened #24 "Is it possible to remove "No log output captured." report section in case when additiomal HTML has been used?"
I would like to have an ability to suppress log section in case if I'm using additional HTML in the report and log itself does not contains any information besides of "No log output captured."

(could you just remove [lines 143-145](https://github.com/davehunt/pytest-html/blob/master/pytest_html/plugin.py#L143-L145) and move [additional_html.append(log)](https://github.com/davehunt/pytest-html/blo

[2015-12-01 11:50] davehunt commented on #24
Could you explain in more detail what you are wanting to see? Perhaps you could mock something up and submit a screenshot? The 'No log output captured' is included to make it clear that there was nothing captured, rather than it being captured but for some reason not displayed on the report.

[2016-01-04 06:25] YuvalAdler opened #25 "How can I watch the report in Gmail?"
Hi,
I managed to send the html result (say report.html) through mail, but Gmail shows the mail without all the coloring, tables etc.
Any idea?
Here's out it looks on Chrome (great) and Gmail (not so great). I guess I miss something in my e-mail header:
To: yuval.adler@kukuriku.net
From: Integration@kukuriku.net
Content-Type: text/html; charset=UTF-8
Subject: kuka

<!DOCTYPE html><html>
  <head>

[2016-01-04 12:34] davehunt commented on #25
This could be a security feature of Gmail, not allowing inline CSS, JavaScript, or images from being displayed. It's not clear to me if you're sending an e-mail with the content of the report, or if the report is an attachment. Either way, I suspect the issue is with Gmail and not something I can fix in the plugin. If it turns out I'm wrong, please reopen this issue with details.

[2016-01-04 12:34] #25 closed

[2016-01-16 00:57] frimmy opened #26 "Add how to add screenshots to html report to documentation"
I love this plug in, is this included in pytest by default now?
I've incorporated in jenkins, and it works well, save for the screenshot bit.

Any help?

[2016-01-16 01:10] frimmy commented on #11
ahh --- this thread is helpful for issue #26

[2016-01-16 01:32] frimmy commented on #26
ah --- perhaps pytest updated the way pytest_runtest_makereport is implemented as well
```(item, call)``` instead of ```(__multicall__, item)``` for args

[2016-01-18 13:15] davehunt commented on #26
I'm glad you like the plugin! It's not in pytest by default, and suspect it will remain a plugin as this is not an essential core feature.

I've just updated to remove the use of `__multicall__` from the README and tests, as it has been deprecated in the latest version of pytest. For an example of including an image in your HTML report, you can see [this test](https://github.com/davehunt/pytest-ht

[2016-01-18 13:15] #26 closed

[2016-01-25 21:55] birdsarah opened #27 "pytest-html is trying to encode my data inappropriately"
I'm using:
* pytest-selenium 1.1
* pytest-html 1.7
* selenium 2.49.2

I get the following error on a test fail:

[code]

When in pdb, just running `b64encode(content)` works great - maybe PY3 check isn't quite right? Could we check what content is instead?

[2016-01-26 12:22] davehunt commented on #27
@birdsarah could you paste more of your stack trace? I'm most interested in what content is, and where it's being provided. I assume this is one of the debug items from pytest-selenium but it's not clear which one. Note that pytest-selenium doesn't officially support Python 3.x, and it's possible it could be fixed there. That said, we probably want to support `bytes` objects in pytest-html too.

[2016-01-26 13:29] davehunt commented on #27
I was able to replicate this, and have addressed it in #28. I am still interested in where this bytes object is being created though, if you could provide more information.

[2016-01-26 17:34] davehunt opened #29 "Support a restricted version of the HTML report for security reasons"
When Jenkins addressed their [stored XSS vulnerability through workspace files and archived artifacts](https://wiki.jenkins-ci.org/display/SECURITY/Jenkins+Security+Advisory+2015-12-09), the HTML reports served became very limited. While it's possible to relax the security in Jenkins, it's not advisable. I wonder if we could degrade the HTML report gracefully for this case.

These are the [default

[2016-01-26 18:35] The-Compiler commented on #29
I'd welcome having the default sort order in the generated HTML in any case - for me (with 3500 tests) it takes around 5 seconds until the full page is loaded and the results are sorted properly.

[2016-01-28 16:13] The-Compiler opened #31 "TestHTML.test_environment_xdist_reruns does weird stuff"
When doing `tox -e py27` locally, `TestHTML.test_environment_xdist_reruns` hangs for about a minute, eats 10 GB of RAM, and then fails with 12000 lines of output:

[code]

@ronny @nicoddemus @bobsilverberg any idea what's going on here? I'm not familiar with xdist/execnet at all. The test source is here:

https://github.com/davehunt/pytest-html/blob/master/test_pytest_html.py#L310-L323

[2016-01-28 16:27] The-Compiler commented on #31
Seems like this is a `pytest-rerunfailures` issue, I can reproduce this with their testsuite.

Opened here instead: https://github.com/gocept/pytest-rerunfailures/issues/24

[2016-01-28 16:27] #31 closed

[2016-01-28 18:56] davehunt commented on #27
My guess is that this is caused by pytest-selenium encoding [here](https://github.com/davehunt/pytest-selenium/blob/db3f61afa2477735a6ec8bf29737e011fd7bdc9b/pytest_selenium/pytest_selenium.py#L153) and [here](https://github.com/davehunt/pytest-selenium/blob/db3f61afa2477735a6ec8bf29737e011fd7bdc9b/pytest_selenium/pytest_selenium.py#L226). This is necessary for Python 2.x but perhaps not for 3.x? @

[2016-01-28 19:19] The-Compiler commented on #31
Err, of course I meant @RonnyPfannschmidt (who is `ronny` on Freenode) - sorry @ronny!

[2016-01-28 19:38] The-Compiler commented on #27
As per the "[unicode sandwich](http://nedbatchelder.com/text/unipain.html)" concept (decode/encode at the borders, deal with unicode everywhere else), I think that'd make sense, yeah.

[2016-02-10 15:41] alexandermomot opened #32 "Export screenshots and log data into external sources"
Hello folks!

Seems to be, screenshots for the report (as for selenium tests) stored right in the report file, encoded as base64 and then linked to the document. Also, driver log, browser log is stored same way. Is it possible to handle the screenshots data and send it to external source (file, or using external server by uploading as POST form-data), and return the link to the source instead of t

[2016-02-10 15:50] davehunt commented on #32
This is related to #29 and I'd certainly welcome a patch that does this. The initial idea was that it can be more convenient for hosting/sharing if there's just a single file, however I see there are good reasons for using external resources. I can see two approaches here: either pytest-html could handle writing the files to disk and including relative links in the report, or like you suggest a UR

[2016-02-10 16:35] alexandermomot opened #33 "Group report by module/class/function levels"
Report is now plain, which means that you cannot "overview" whole list of checks and assume which one is whole failed, and which one contains errors in steps.

Its very important for step-dependent runtime, where stepA is the function which performs authorization, purpose of stepB is to click several times in order to go to the subservice on the website, stepC contains steps for sanity checks, etc

[2016-02-10 17:45] davehunt commented on #33
I think this is a good idea. We should ensure that it degrades gracefully when JavaScript is not available.

[2016-02-11 10:44] alexandermomot opened #34 "Docstring as alternative description for test method/class"
One more suggest from me. Hope I'm not impudent, well not yet :)

Docstring is a cool feature, and with it we don't have to describe out tests somewhere else istead of test itself. I would suggest to read docstring from class/function and append it to the title here:
https://github.com/davehunt/pytest-html/blob/master/pytest_html/plugin.py#L154
optionally. Optionally, because when someone wants to

[2016-02-11 10:54] davehunt commented on #34
Thanks for all the suggestions! Perhaps the description could be shown when you hover over the test name to prevent excessively long names?

[2016-02-18 17:58] davehunt commented on #27
Closing as the content should be encoded properly before sending it to pytest-html. I'll be fixing this in pytest-selenium.

[2016-02-18 17:58] #27 closed

[2016-03-01 23:54] birdsarah opened #35 "Provide a hook to document arbitrary additional details about each test run."
I'm using `pytest-html` with `pytest-selenium`. My selenium tests are doing an image diff.

I want to include the results of a failed image diff test in my pytest-html report.

However, if I just use `pytest_html.extras.append(...)` then my output gets mixed up with pytest-selenium's output and makes for a very incoherent report e.g.

<img width="1321" alt="screen shot 2016-03-01 at 3 51 00 pm" sr

[2016-03-02 05:59] The-Compiler commented on #35
This is slightly offtopic, but do you have a blogpost or something (or a project link, if it's some library) about how you generate those diffs? I plan something similar for [qutebrowser](http://www.qutebrowser.org/)'s tests, so that'd be very helpful!

[2016-03-02 06:51] birdsarah commented on #35
@The-Compiler - here's the PR: https://github.com/bokeh/bokeh/pull/3975/files

It's very early days, I'm expecting some work figuring out what make tolerant diff tests, and to have to tweak with the perceptualdiff parameters a fair amount.

[2016-03-02 10:23] davehunt commented on #35
@birdsarah would it work for you if the report had improved support for multiple images? It's not something I've ever played with, but it feels like we should present these images as a gallery, possibly with the ability to provide captions and to indicate which image should be displayed on top. From your full report, it appears that both Diff and Base links are also showing the same image.

[2016-03-02 19:53] birdsarah commented on #35
@davehunt, that sounds great, I was just thinking of something simple and generic, and not too customized to my use case. I think the big challenge is running out of space on that row that already gets populated with an auto-generated screenshot, a video, and a log.

Yes, you'll notice in my hacked report, I just use " " as the link text to hide them.

[2016-03-02 19:57] birdsarah commented on #35
For what it's worth I see no value in the image link feature. Browsers already let you get access to image links if you really need them. I do like the idea of supporting externally linked images though. That's how our examples test report works: https://s3.amazonaws.com/bokeh-travis/113026629/examples.html - this would be far too big an html report to handle with b64-embedded images gracefully.

[2016-03-02 23:04] davehunt opened #36 "Add CI variables to environment section when present"
If the tests are running in a familiar CI, then we should grab certain environment variables for inclusion in the environment section of the report.
- [Jenkins environment variables](https://wiki.jenkins-ci.org/display/JENKINS/Building+a+software+project#Buildingasoftwareproject-JenkinsSetEnvironmentVariables)
- [Travis environment variables](https://docs.travis-ci.com/user/environment-variables/#

[2016-03-03 07:54] davehunt commented on #35
Yeah, I'd by default have the screenshot as the key image in the gallery if there's more than one, so we don't use up any additional space. Not sure how best to handle if JavaScript is disabled though - perhaps screen width would have to be a sacrifice there.

This is planned as part of #32

[2016-03-07 11:18] davehunt opened #37 "Add support for automatic reruns"
The [pytest-rerunfailures](https://pypi.python.org/pypi/pytest-rerunfailures/) plugin automatically reruns failed tests. We should include the reruns in the HTML report, including any debug information. This can help to identify if persistent failures are failing in a consistent manner. Each rerun should have its own row similar to failure but the status should be orange. The total number of rerun

[2016-03-07 11:23] davehunt opened #38 "Allow filtering report by test outcome"
It would be useful for users with large reports to be able to filter them by outcome. This will likely require JavaScript, but should degrade gracefully when this is not available. A suitable message should be displayed if no results match the filter applied. I imagine a list of outcomes with a checkbox, all checked by default, and unchecking a box would hide the associated results.

[2016-03-26 11:17] gmagno opened #39 "Allow breaking the list of results in pages"
Useful when you have thousands of tests and the browser struggles to open them all.

[2016-03-29 10:57] davehunt commented on #39
This sounds like a nice enhancement. We could have a sensible default number of results and beyond that introduce pagination. My only concern is how filtering (#38) and sorting would be expected to work as these will be limited to the results on the page. It could simply be a not that's added to the page when pagination is present.

[2016-05-06 09:33] michael-hart opened #40 "Report Table Configuration"
A feature request - would it be possible to add makereport hooks that allow the user to configure columns to add, or even hide? For instance, add a column with the docstring for a test description.

[2016-05-06 09:33] michael-hart commented on #40
Possible solution to #34

[2016-05-20 11:19] hailin-xiao opened #43 "Error or failure information can be collapsed"
Hi,

Could you please add a new feature that user could collapse the error or failure log? it's a little bit hard to find the useful information once there're hundreds of errors or failures in the report.
For better understanding, I would like to give an example: <div class='log'><details>balabala</details></div>
Thanks very much and looking forward for that.

Regards,

Hailin

[2016-05-23 01:01] RibeiroAna commented on #38
Hello, I'll start to write a design for this! Just to make sure that I understood what you mean, by "outcome" do you mean: seeing the report by the results, like seeing all the tests which passed, all which failed, etc.

[2016-05-23 03:42] RibeiroAna commented on #38
Hi! I did a draft solution for that [here](https://github.com/RibeiroAna/pytest-html/commit/4c8051eef26da9ac4fe949b58ae4e6da47b48465), the idea is a search box, so users can search by anything (test outcome, test name, links or duration).

[2016-05-23 09:26] davehunt commented on #38
I do like the idea of the user being able to filter by test name, but I'm not sure about having a single search box to include filtering the outcomes. Ideally the user would be able to display multiple outcomes, and I suspect the most common use will be to hide tests that passed from the results.

A few designs that come to mind are:

- A list of checkboxes for each outcome, possibly replacing the

[2016-05-23 22:10] davidedelvento opened #44 "Show text output for succeeded runs"
I'm trying to replicate #11 for a purely text case, but I can't figure out if it's possible and if yes how. Pointer to documentation would help. Neither starting from the example in #11 nor from the one in the front page helped (at most I got "No log output captured." section)

Thanks!

[2016-05-24 08:27] davehunt commented on #44
Fixed in https://github.com/davehunt/pytest-html/commit/77fef3cc37023fc696e9b4a560741dc6eba7812e and released as 1.8.1.

[2016-05-24 08:27] #44 closed

[2016-05-24 15:19] davidedelvento commented on #44
Wow, that was fast, thanks!

[2016-05-24 15:21] davidedelvento commented on #43
@davehunt - I think this becomes even more important because of #44 (at least for some people).
I'll be happy to work on a rudimentary javascript implementation and make a PR, if no one is working on it already.

[2016-05-25 03:24] hailin-xiao commented on #43
@davidedelvento @davehunt
Thanks for your quick response. Actually, we have made a temporary solution to satisfy our project. It's to make some changes on main.js. Please refer to the changes listed below. Any comments are appreciated. Thanks

Hailin

![changes](https://cloud.githubusercontent.com/assets/17964912/15527221/19569c24-226b-11e6-825e-3475c1efa1df.jpg)

[2016-05-25 12:52] davehunt commented on #43
Interesting, so this hides all log content by default and allows users to show the logs by clicking anywhere in the row? For my use case I prefer the log to be displayed by default, though I agree with @davidedelvento that I might prefer logs from passing tests to be hidden. Perhaps we could have a 'display log' link for these, and a 'hide log' link for any logs displayed?

We could also have 'sho

[2016-05-25 16:24] RibeiroAna opened #47 "Search test by name"
It would be nice if there was a search box where the user could search by the test tittle

[2016-05-26 00:52] hailin-xiao commented on #43
@davehunt Thanks for your reply. It's just a temporary workaround for this  as we don't have enough time  to do this. I definitely agree with your solution. It could be great for user to choose display or hide the logs. But it would be better to let each log have such an option. We're looking forward to the solution be committed. Thanks a log.

Hailin

[2016-05-26 01:20] RibeiroAna commented on #43
Hi @davidedelvento, I just did a piece of code on the PR #46 that may help you when working on that issue, the first main change is that I've put an [ID](https://github.com/RibeiroAna/pytest-html/blob/filterTestsOutcomes/pytest_html/plugin.py#L157) on the "extra html" div and I did some [JS](https://github.com/RibeiroAna/pytest-html/blob/filterTestsOutcomes/pytest_html/resources/main.js#L194) (wit

[2016-05-26 03:07] davidedelvento commented on #43
Hi @RibeiroAna that sounds good, having that ID will be helpful. I'll give it a try, hopefully tomorrow. Thanks.

[2016-05-31 21:55] gmagno opened #48 "Add a mechanism for merging multiple html reports"
Would it be possible to expose a flag that allows merging multiple html reports?
This is something that could probably be done with a separate script, but I think it makes sense to add this functionality to the plugin. Something like:
py.test --merge-html result1.html result2.html ... resultN.html

Cheers,
Goncalo

[2016-06-02 20:21] davidedelvento commented on #47
How would that differ from CTRL-F in the browser?

[2016-06-02 20:26] davidedelvento commented on #39
I think that instead of just spitting the result in multiple "dumb" pages with a fixed number of tests in each (nobody said so, but it "felt" like the natural implementation of this enhancement), it would be nice to have the HTML pages structured in a hierarchy.

In the common py.test use case, there will be `test_something.py` files in different directories. Each directory (or maybe each file, po

[2016-06-02 20:30] davidedelvento commented on #33
To me, it looks this and #39 are asking for the same thing in different ways.

[2016-06-02 20:39] davidedelvento commented on #29
Not sure if it's just me, but I like having CSS inline, so I have to shuffle around one file only. Maybe a configuration option to select either inline or separate file would be nice.

However that would change with the splitting the output in multiple htmls for #39 so maybe this single file to be shuffled convenience won't last anyway. I like the idea of selecting a directory

[2016-06-02 20:40] davidedelvento commented on #29
@The-Compiler hopefully #39 and/or #33 will help with that part. However I agree, making javascript optional is more robust.

[2016-06-02 21:33] davidedelvento commented on #48
Why would you like to do that? It looks like we want to go in the opposite direction, namely splitting the html file in multiple ones, see #33 and #39

[2016-06-02 22:19] davidedelvento commented on #43
I've finally found some time to look at this (note that I'm not a javascript/html expert, so I plan to use very naive approach and a better one may be possible: suggestions welcome).

First, the ID that @RibeiroAna is using is not helpful for me, because it's in a separate `html.td` tag. My idea was to add to the `html.td` containing the log something like `id="1"` (with different number for each

[2016-06-03 11:15] gmagno commented on #48
I understand that this might not be needed by most of the people. In my case it is useful because I do a lot of functional testing with pytest, not necessarily testing python code, but tools that I wrap with subprocess and then parametrize and exercise with pytest. I test these against different platforms and have to kick separate runs for each one, ending up with several .html reports. It would b

[2016-06-03 11:51] davehunt commented on #48
I think this is out of scope for the pytest plugin. You could create a new tool that takes multiple test outputs (such as the HTML report, or XML, etc) and generates a single report. This tool could probably even depend on pytest-html and reused some of the methods, though perhaps it would need some refactoring to expose them appropriately. I'm going to close this, but I'm happy to review any patc

[2016-06-03 11:51] #48 closed

[2016-06-03 12:00] davehunt commented on #43
I have no objections to any changes that do not regress the current functionality. Issue #29 will make sure the report is presented and functional when JavaScript is disallowed, but that doesn't mean that we can't have additional functionality when JavaScript is allowed. Note that id should be unique, and perhaps you'll be able to do what you need with data attributes instead?

[2016-06-03 12:03] davehunt commented on #29
A configuration file is an option. The original idea of using a single file was so that it's easy to move around, send via email, etc.

Each HTML file could still be self-contained, so I think this is still relevant.

[2016-06-03 12:08] davehunt commented on #39
I like this idea better than creating pagination. It's possible there will still be thousands of rows though if the tests are parameterised. Would splitting HTML files by module/class/function work for your needs @gmagno?

This is a great idea!

[2016-06-03 12:09] davehunt commented on #47
I believe this would filter the results, rather than jump to the next/previous occurrence. It could be useful for showing tests within a certain class, etc.

[2016-06-03 13:47] gmagno commented on #39
That seems reasonable.

[2016-06-03 22:33] davidedelvento commented on #43
The fact that id should be unique is not a big deal, since you want each click on a `results-table-row` hide/show the relevant `extra` row for that row and not for something else.

The problem I have at the moment is that `split_extra_onto_two_rows()` generates two `extra` rows instead of only one as I expected looking at the browser. Inspecting the generated HTML, the first `extra` row is empty a

[2016-06-04 07:21] davehunt commented on #43
The row split is being removed as part of the outcome filtering. Hopefully this will make your work a little easier when it lands.

Dave Hunt

[2016-06-04 11:41] davidedelvento commented on #43
Yes I saw that work in progress, but I wanted to give collapsing a first shot against the current release. As a workaround, I can use data attributes as you say (instead of IDs) and my current code should work.

Is the row split removal imminent, or is there still a fair amount of work needed? On one hand, I don't want to add a functionality which will need to be rewritten as part of that removal,

[2016-06-04 14:16] davehunt commented on #43
I think it will be ready by the end of this week.

[2016-06-08 06:50] RibeiroAna opened #49 "Unit tests to JS code"
There could be unit tests to the JS code, there are none until now! I personally like Mocha to do that: https://mochajs.org/

[2016-06-13 04:26] karandesai-96 commented on #35
Hello @davehunt @birdsarah, I have read the conversation here, before this whole support is worked upon, we can have a quick support for multiple images like this:
![image](https://cloud.githubusercontent.com/assets/10494087/15997027/62573b6e-314c-11e6-8b1d-919952511e34.png)

I am using this plugin for [TARDIS](https://www.github.com/tardis-sn/tardis), we are uploading our reports like [this one h

[2016-06-22 09:50] #37 closed

[2016-06-22 09:57] RibeiroAna opened #53 "Collapse Rerun"
Since #37 Pytest-html gives support to rerun, it would be nice if we could collapse all the reruns by test name

[2016-06-22 10:39] davehunt commented on #38
This was fixed in https://github.com/pytest-dev/pytest-html/commit/fb4d5947fa0e264fffc0aacba6f4a854e97a7cd8

[2016-06-22 10:39] #38 closed

[2016-06-22 10:41] davehunt commented on #36
We've discussed moving the environment functionality to a separate plugin. This could then be used by pytest-html to display the values, and by other plugins to manipulate/add the values.

[2016-06-29 10:34] davehunt commented on #35
@karandesai-96 sorry for the late response - I think a patch that makes displaying of multiple images better would be great. I'm not sure I understand your approach, but I'd be happy to discuss it in a pull request.

[2016-06-29 10:38] karandesai-96 commented on #35
@davehunt That's great. I'd do that this weekend !

[2016-07-03 03:53] karandesai-96 opened #55 "IDE specific auto-generated files need to be in gitignore."
In the recent times many IDEs have become popular for Python development. Among them are Jetbrain Community's [Pycharm](https://www.jetbrains.com/pycharm/) and [PyDev](http://www.pydev.org/), an IDE extended from Eclipse for Python development.

Upon opening a project within, these IDEs generate certain files and directories which are specific to them, and are not project specific.

These files an

[2016-07-04 10:39] davehunt commented on #55
Fixed by https://github.com/pytest-dev/pytest-html/commit/8ed69218b494bf0611057aafae5c2e3836e2d41a

[2016-07-04 10:39] #55 closed

[2016-07-04 19:05] RibeiroAna opened #58 "Order table without JS"
This is one enhancement related to issue #29

[2016-07-05 09:26] davehunt commented on #58
To add a little more detail, this issue relates to sorting the results in the HTML content itself to avoid an initial JavaScript sort when the page loads. This improves performance when there are hundreds or thousands of results, and also means that the results are displayed in a useful order when JavaScript is not permitted.

[2016-07-05 19:46] redixin opened #59 "Sorting is working extremely slow in Firefox"
Firefox 47.0 Ubuntu 16.04 LTS

Browser is asking to stop script when trying to open big html report.

Here is the sample report with 2558 tests: https://r-ci.tk/stuff/pytest-old.html

[2016-07-06 07:49] #59 closed

[2016-07-11 15:13] RibeiroAna opened #62 "Create a separate CSS file by default for improved CSP support"
Because of CSP restrictions on inline CSS, the CSS file should be written apart

[2016-07-12 13:17] leitzler commented on #43
@davehunt any new eta? ;)

[2016-07-12 13:24] davehunt commented on #43
The row split code was removed in 1.9.0, which should make this easier to implement. I am not currently working on this though - perhaps @davidedelvento is still interested?

[2016-07-13 20:57] davidedelvento commented on #43
Yes, I am very interested and I plan to work on this.

[2016-07-13 21:03] leitzler commented on #43
I created a PR proposal. I didn't add any "show all/hide all" links, but there are js-functions for them added. The entire javascript file could use some love, but I guess that's another issue :).

(didn't know if you were interested @davidedelvento, sorry)

[2016-07-14 11:40] RibeiroAna commented on #29
Just doing a Checklist to this enormous issue:
- [ ]  Splitting the log and additional HTML onto a separate row
- [ ]   Default sort order of test results
- [ ]   Write CSS and HTML in separated files
- [ ]    Handling of images

[2016-07-15 17:38] davidedelvento commented on #43
I tested your PR for my use case. Other than the missing of  "show all/hide all" links (which would be very convenient for me, in addition to the checkboxes that totally hide the entries in the table), the thing behaves very nicely.
Hope it gets merged soon.
PS: I haven't found the time to look at the code yet, so can't comment on that.

[2016-07-18 15:54] RibeiroAna opened #65 "Improve handling of images when CSP is enforced"
According to #29 , if the JS is removed, we lost the ability to load images in data URI

[2016-07-18 16:00] RibeiroAna commented on #65
I have some questions about this issue:

- Where exactly in JS is this handled?

- Could you provide an example of pytest code that generates a report with larger data URL?

- How do we know that a URL is to larger data?

[2016-07-18 17:01] RibeiroAna commented on #29
Just to make sure I understood, @davehunt, In "We also lose the handling of images that prevents large data URLs to be duplicated in the HTML", what do you exactly means by duplicated?

[2016-07-19 08:57] davehunt commented on #29
Currently the images are represented as base64 encoded data URLs, which are very large strings. We use this string for the `img` tag's `src` attribute, but also for the two link destinations. We're using JavaScript to pull the `src` of the image and use it as the `href` for the links, therefore avoiding repeating the long data URL.

[2016-07-19 09:02] RonnyPfannschmidt commented on #29
wouldnt it make sense to write a folder and/or a web archive (that fancy .hta format, thats a zip of html + assets)

[2016-07-19 09:06] davehunt commented on #29
@RonnyPfannschmidt the current plan is for @RibeiroAna to write images to a subfolder, and the `--standalone-html` option being introduced in #63 can then be used for anyone wanting to retain this feature for their HTML report. The web archive is an interesting idea to explore.

[2016-07-20 08:38] #58 closed

[2016-07-20 10:02] davehunt commented on #43
This landed in https://github.com/pytest-dev/pytest-html/commit/a8841db7c3dfcc2d4103ea30509512ba711b940c and will be available in the next release.

[2016-07-20 10:02] #43 closed

[2016-07-20 10:04] davehunt commented on #32
Images will be taken care of in #65 but I'm going to leave this open because it also mentions other types such as text and JSON.

[2016-07-20 10:07] davehunt commented on #24
With #43 the extra details can be collapsed (and are collapsed by default for passing tests). Please reopen with more details if this is not sufficient. Note that the feature will be in the upcoming release.

[2016-07-20 10:07] #24 closed

[2016-07-20 10:09] davehunt opened #66 "Do not display filter checkboxes when JavaScript is unavailable"
When JavaScript is disabled (such as via CSP) we should not display the filter checkboxes. The functionality is dependent on JavaScript, and without it they are just a distraction.

[2016-07-20 10:11] davehunt opened #67 "Do not display reruns in summary when the plugin is not in use"
We should not include the 'reruns' in the report summary when the pytest-rerunfailures plugin is not registered.

[2016-07-20 10:17] #62 closed

[2016-07-25 16:07] giordan12 commented on #33
Any updates on this? I think this would be pretty useful for long tests with multiple steps as @alexandermomot says

[2016-07-26 16:07] RibeiroAna commented on #67
by not in use, do you mean no reruns or the plugin is not installed? If you mean when the plugin is not installed, I could have something like "hasarg(rerun)", but how we could test it?

[2016-07-26 17:15] davehunt commented on #67
I was thinking installed and registered. We should be able to use [config.pluginmanager.hasplugin](http://docs.pytest.org/en/latest/writing_plugins.html?highlight=pluginmanager#_pytest.config.PytestPluginManager.hasplugin) for this. For testing, you could try passing `-p no:rerunfailures` in the arguments.

[2016-07-26 23:41] kiran-vemuri opened #69 "Display test_case docstring as description in test report"
Along with result, test, duration and links, it'd be great if we have a test_case description field in the test report. The values for the description field will be the docstring for that specific test case.

If we already have a way to achieve this, please let me know.

[2016-07-27 09:38] RibeiroAna commented on #69
I think it is related to the issue #40

[2016-07-27 10:13] davehunt commented on #69
This looks like a duplicate of #34, which could indeed be resolved by #40, though I think it's a reasonable default to include docstrings in the report somewhere.

[2016-07-27 10:13] #69 closed

[2016-07-27 10:17] #65 closed

[2016-07-27 10:20] #29 closed

[2016-07-27 11:25] RibeiroAna commented on #67
What do you mean by registered? Do you mean when it is passed as parameter such as --rerun=2 or something like that? Because even when we don't pass anything it returns false

[2016-07-27 11:54] RibeiroAna commented on #32
I think this one can be the next issue I can work on, @davehunt , it will be easier since I have already done it to images

[2016-07-27 12:36] davehunt commented on #32
@RibeiroAna sure, that makes sense to me. I'll add it to the 1.10.0 milestone.

[2016-07-27 13:08] davehunt commented on #33
As far as I know, nobody is working on this. It's possible that @RibeiroAna will look into it during her participation, but I'd say it's also available if anyone else wants to work on it.

[2016-07-27 17:24] #67 closed

[2016-07-28 09:16] #66 closed

[2016-07-29 19:13] davehunt commented on #35
@karandesai-96 are you still interested in working on this?

[2016-07-29 20:07] karandesai-96 commented on #35
@davehunt Yes I am, but I am through final weeks of GSoC project, hence might not be able to work on it till 15 August. I'll open a PR soon after my GSoC is done. Cheers !

[2016-07-29 20:46] davehunt commented on #35
Awesome, thanks! Good luck with your project.

Dave Hunt

[2016-08-09 21:51] #32 closed

[2016-09-09 03:18] karandesai-96 commented on #35
Hi @davehunt: Finally my project has concluded. The source code here has moved pretty fast, it'll take time to analyze and re implement my logic in this new setting. I'm letting you know that I'll be starting to address this issue now. Cheers ! :smile:

[2016-09-09 11:57] premkarat opened #74 "Retaining ANSI colors for logging level in html report"
Currently I use ANSI colors for logger levels (info, debug etcc.) and it comes up nicely in console. However this is not retained in final html reports while using pytest-html.

The results output shows something like this.

----------------------------- Captured stderr call -----------------------------
[32m[INFO][0m INFO messages[0m
[36m[DEBUG][0m DEBUG messages[0m
[31m[ERROR][0m ERROR messages[

[2016-09-09 12:02] davehunt commented on #74
Interesting idea - perhaps we could use something like [ansi2html](https://pypi.python.org/pypi/ansi2html/).

[2016-09-09 17:29] premkarat commented on #74
Dave,
Thank You for considering this use case. (its quite an imp one for us). I have no clue on html  libraries but I did gave a shot since we need this feature badly. I request your review on this patch. Since this is my first attempt, there is a good chance that i might have overlooked something.

I have extensively tested this and am attaching a test log for your reference.

PFA the patch and t

[2016-09-12 11:29] davehunt commented on #74
Thanks for the patch @premkarat - I've invited you to collaborate on this repository so I can set you as the assignee.

[2016-09-15 15:17] silne30 opened #76 "Not specifying a report name causes test file to be overwritten with html report contents"
# Steps to reproduce:
Test assumes that you already have pytest-selenium installed into your virtualenv.

Create a simple test called test_debug_pytest_html.py

[code]

Now run this test from the command `py.test --driver Firefox --html test_debug_pytest_html.py`

**Expected result**: Run test with a report written to some file name like report.html

**Actual Result**: The html report is appended

[2016-09-15 16:35] davehunt commented on #76
The `--html` command line option takes a path argument for the report to be written. Your command line is giving it the path of an existing python file, so it is being replaced with the report. What I expect you want to do it something like:

[code]

Closing as working as expected.

[2016-09-15 16:35] #76 closed

[2016-09-16 10:57] lambourn commented on #32
In my case, I do not have base64 encoded extra content when the report gets generated. Instead, my test logic already creates an external folder where screenshots are stored during test execution (so essentially no need to create assets at all as I do have everything in place)

Now I'l like to link to them (or use <img /> tag to "embed" them) just by using a file:// URL.

Any ideas how I could get

[2016-09-16 11:02] davehunt commented on #32
@lambourn you could append it as a link such as: `extra.append(pytest_html.extras.url('file://path/to/image', name='my image'))` or perhaps we could enhance `extras.image` to accept a path/URL as an alternative to a base64 encoded PNG. If you'd like this, please open a new issue.

[2016-09-21 09:15] lambourn opened #77 "Enhance extras.image to accept a path/URL"
Feature enhancement: enhance extras.image to accept a path/URL as an alternative to a base64 encoded PNG.

Implementation: check the content type of the extra content. If it is not base64 then just assume it to be a path/URL. The resulting href/src for the <img /> should be the provided string value as-is (optionally: could check if path starts with file: or http(s))

Background: In my setup, I do

[2016-09-21 09:15] lambourn commented on #32
nice. Added this as https://github.com/pytest-dev/pytest-html/issues/77

[2016-09-21 20:54] kottenator opened #78 "Screenshot images are broken"
Hi!

Your plugin is great! But since version `1.10.0` I get all the screenshot images broken:

![screenshot](https://cloud.githubusercontent.com/assets/371674/18728606/f223d91e-801b-11e6-9af6-cfcd7c6f5f46.png)

[2016-09-22 10:56] davehunt commented on #78
Could be a duplicate (or the real issue behind) https://github.com/pytest-dev/pytest-selenium/issues/79. Are you able to provide me with the damaged image for inspection, or perhaps steps to reproduce?

[2016-09-23 10:06] davehunt commented on #78
I can replicate this with python 3.5.2 (but not python 2.7.12). It's related to creating the assets file, so a temporary workaround would be to add `--self-contained-html` to the command line.

[2016-09-23 13:19] davehunt commented on #78
@kottenator could you try installing the v1.10.1 release candidate and let me know if the issue is fixed? `pip install --upgrade --pre pytest-html`

[2016-09-23 21:36] davehunt commented on #78
I got confirmation from someone else, released 1.10.1, so closing this. Please reopen if you still see issues: https://pypi.python.org/pypi/pytest-html/1.10.1

[2016-09-23 21:36] #78 closed

[2016-09-24 20:46] kottenator commented on #78
Sorry, I was extremely busy. Yes, I can see that it works now. Thanks a lot! ;)

[2016-10-04 03:54] kiran-vemuri commented on #47
Since you're already using a table to display results, you could use datatables api to achieve sorting and searching with minimal code https://datatables.net/examples/api/regex.html

[2016-10-06 14:14] #49 closed

[2016-10-07 18:12] engelmav opened #79 "node.slaveoutput has no key 'environment' when used with xdist and cygwin"
I know, this is a horrendous configuration; it's what we're working with.

On line 73 of `pytest_html/plugin.py` the key `environment` is not present in`node.slaveoutput`. As the title says, this condition is reached when executing pytest with xdist over multiple ssh hosts, that themselves are running ssh daemons with cygwin. I've been able to get around this using:

[code]

But I am this certain

[2016-10-07 18:29] RonnyPfannschmidt commented on #79
i have no real idea what you mean, please show an example that makes it clear

(also i am the current xdist guy)

[2016-10-14 08:21] karandesai-96 commented on #35
I managed to take out some time for this issue, a lot had changed in the code but I finally managed to have this:

![image](https://cloud.githubusercontent.com/assets/10494087/19380554/5dc80464-9215-11e6-9e79-3940ad999bfb.png)

[2016-10-14 08:22] karandesai-96 commented on #35
@davehunt I'll open a PR for review soon. :smiley:

[2016-10-14 08:54] davehunt commented on #35
Hey @karandesai-96 that looks great! I think it would be great to present multiple images in a gallery style, but that can easily be split out into a separate issue.

[2016-10-14 09:08] karandesai-96 commented on #35
@davehunt Yes I agree with you, gallery style display will look great, and developing things incrementally also makes sense. Once we have a working code in place we can certainly extend it further. I'll try to stick around with it and enhance it as well !

[2016-11-04 04:44] jfthuong opened #82 "Custom 'environment' does not work with pytest-xdist"
Hi,

Great job for pytest-html: I like it very much!

I am customizing the "**Environment**" part in my html report and it works fine when running tests one by one.

However, when using **pytest-xdist**, this part is set to the default 2 values: Platform and Python.

Is it a but or am I using the wrong implementation?

_Note: Might be related to issue #79 ..._

Thanks

This is the code I have in *

[2016-11-04 05:28] jfthuong commented on #82
Hi,

I have modified my code as following and now it works with and without **pytest-xdist**:

Not very trivial. An external plugin to manage Environment (as mentioned in another issue) would be helpful.

[code]

[2016-11-04 05:28] #82 closed

[2016-11-04 05:41] jfthuong opened #83 ""xpassed" marked as "passed""
Hi,

I have a test which is "xpassed", reported as such by pytest and recorded as "passed" in the html report.
![report_xpassed](https://cloud.githubusercontent.com/assets/1401809/19995648/4b402d14-a294-11e6-9901-a5c2438c124e.png)

I have the following test file

[code]

[2016-11-04 06:56] baid86 opened #84 "Marking Test XPassed as opposed to XFAILED"
When a Test is FAILED and wasxfail is set why it is marked as XPASSED, Shouldn't it be XFAILED?
Also when wasxfail is set and test is PASSED why it is not marked as XPASSED?
[code]

IMO above code should be modified as
[code]

[2016-11-04 15:02] davehunt commented on #82
This should already be taken care of in pytest-html's [pytest_configure](https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L64-L65) hook. Are you implementing your own pytest_configure hook to cause this not to be executed?

[2016-11-04 15:08] davehunt commented on #83
This is working for me. Please provide details of the versions of pytest and pytest-html in use.

[2016-11-04 18:25] baid86 commented on #84
So when a test is Failed and wasxfail is set the result would be XPassed?
Shouldn't it be XFailed?

[2016-11-05 00:04] davehunt commented on #84
This is how it worked in pytest < 3.0, yes. Please note these are pytest internals, and the user would only see 'XFailed' in this case.

[2016-11-07 01:36] jfthuong commented on #83
pytest-3.0.2
pytest-html-1.10.0

[2016-11-07 12:24] davehunt commented on #83
Please upgrade to pytest-html 1.10.1. As the [release notes](https://github.com/pytest-dev/pytest-html/blob/master/CHANGES.rst) states this includes "Fix issue with unexpected passes not being reported in pytest 3.0"

[2016-11-07 12:24] #83 closed

[2016-11-08 11:46] davehunt commented on #74
Merged in https://github.com/pytest-dev/pytest-html/commit/24e169d9a4b1ab0d4018442582a96af8034ea945

[2016-11-08 11:46] #74 closed

[2016-11-08 11:51] davehunt opened #86 "Add plugin version number to report generation header"
At the moment the report generation header looks something like:

It would be useful when diagnosing problems if the plugin name was mentioned with a link to the project on PyPI, and the version was included such as:

[2016-11-09 02:15] jfthuong commented on #83
It's working. Thanks.

Good job for the many updates: it's nice to see a project so active.

[2016-11-09 10:54] davehunt commented on #83
You're welcome. Thanks for using the plugin and reporting your issue! 😄

[2016-11-11 18:26] denisra commented on #86
Hello @davehunt, I can help with this one. Will make a pull request shortly.

[2016-11-11 18:39] RonnyPfannschmidt commented on #86
it should perhaps include all plugin distributions

[2016-11-11 18:43] davehunt commented on #86
I think that's a further enhancement, to add that information to the environment section. Possibly we could save this for the pytest-environment plugin that I'm planning.

[2016-11-11 22:59] denisra commented on #86
@davehunt First time committing to the project, so forgive me for any mistakes.
And please let me know if you need me to change anything.

[2016-11-17 16:05] bhzunami opened #89 "Add support for other image types"
At the moment it is not possible to have JPG or SVG graphics in the report.
This is because the type PNG is fix written in the code.

See Pull request #87

[2016-11-23 13:31] denisra commented on #47
I spent some time looking into this and using datatables might not be as simple as it sounds in this case. The problem is that we use multiple <tbody> tags and datatables doesn't know how to handle them. I can think of 2 potential solutions to this problem:

1 - Restructure the table so it will have a single <tbody> tag and everything else will be <tr>. We can still collapse/hide these rows fairly

[2016-11-24 12:26] vashirov opened #90 "Title of checkbox disappears when unchecked"
![image](https://cloud.githubusercontent.com/assets/1745018/20598329/fb860ad6-b248-11e6-86bb-f8381410e3ec.png)

![image](https://cloud.githubusercontent.com/assets/1745018/20598332/0253f9cc-b249-11e6-80c3-8e46070e1c19.png)

Regression was introduced in 972058bb. Reverting changes for main.js returned previous behaviour.

[2016-11-24 14:44] davehunt commented on #90
Thanks for raising this! Are you interested in working on the fix?

[2016-11-24 16:23] vashirov commented on #90
Fix is a simple revert of changes done to main.js fitler_table by previous commit.

[2016-11-25 09:31] #90 closed

[2016-11-30 09:14] #86 closed

[2016-11-30 09:23] #89 closed

[2016-12-06 08:42] srujanred opened #93 "Need a method to process the generated report"
With the existing implementation, we can only generate and save report to local disk. It will be more useful if we have a method which can be called after the saving the file on disk (Like allowing user to upload the test reports once the test completes.).

In my case, i wanted to upload the generated html report to hp alm. i tried adding this code in autouse fixtures with both module and session

[2016-12-06 09:49] nicoddemus commented on #93
`pytest_sessionfinish` is a standard pytest plugin, so you can write a [hook wrapper](http://doc.pytest.org/en/latest/writing_plugins.html#hookwrapper-executing-around-other-hooks):

[code]

You might be able to obtain the filename from the session object, but I'm not sure about the details.

[2016-12-06 12:05] srujanred commented on #93
Thanks for quick response. The above hook is getting executed for each run. I'm looking for a way to call my report processing functions just after saving the report to disk.

I found a workaround with [atexit](https://docs.python.org/2/library/atexit.html). I added report upload related stuff in atexit function, and the solution is working fine.

`C:\TAUT\MyProject>py.test Training_test.py
======

[2016-12-06 12:10] nicoddemus commented on #93
What do you mean by "each run"? Each test or each test session?

`pytest_sessionfinish` seems to be the perfect choice, because it is at that moment that [pytest-html saves the report](https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L458).

[2016-12-06 12:40] srujanred commented on #93
Sorry for the type. I meant each "call" ( for each test_* function).
Also, i need request object for getting the object of HTMLReport.

[code]
[code]

[2016-12-06 12:45] srujanred commented on #93
Added below code, and its getting executed before generating html report.

[code]

[code]

[2016-12-06 12:47] nicoddemus commented on #93
What happens if you do this?

[code]

It is just that the `generated html file` message is displayed after the html report has been generated.

[2016-12-06 14:25] BeyondEvil opened #94 "Report is generated and written to disk regardless of selenium_capture_debug"
In pytest.ini I have:

selenium_capture_debug = failure

However, pytest-html still generates a report if all tests pass. Same goes for if I set it to 'never'.

Now, in pytest-selenium#pytest_runtest_makereport(), it works as expected: the item.config.hook.pytest_selenium_capture_debug() is never called.

But, in plugin.py (pytest-html), pytest_runtest_logreport() and pytest_terminal_summary() are

[2016-12-06 14:28] BeyondEvil commented on #94
My hope was to provide a PR to fix it, but I'm not sure how the whole hooks.py thing works. I couldn't find any references to them in other files (apart from pytest_selenium.py and hooks.py)

[2016-12-07 14:22] davehunt commented on #94
`selenium_capture_debug` is a feature of pytest-selenium that allows you to control when additional debug information is gathered for tests. By default, this will happen on failures, but sometimes it can be useful to do so when tests pass (though it does increase the size of the report considerably). I'm not sure what your expected outcome is, or how this worked previously. Could you provide more

[2016-12-07 14:30] davehunt commented on #93
I believe @karandesai-96 does something similar, which is why he refactored generate and save in pull request https://github.com/pytest-dev/pytest-html/pull/57. Perhaps another approach might be to add a custom hook for saving the report? For what it's worth, I usually leave the publishing of these files outside of pytest. For example, a post-build step in your continuous integration.

[2016-12-08 12:29] srujanred commented on #93
Thanks Oliveira, the code you posted is perfectly working.
 -Thanks.

[2016-12-08 12:29] #93 closed

[2016-12-12 12:49] BeyondEvil commented on #94
Sorry for the late response @davehunt, I've been home sick.

So, from memory, this is how I remember it used to work:

You provide the --html commandline flag and in your ini file (in our case pytest.ini) you provide the 'selenium_capture_debug' flag. With set to 'failure' the combination of the two would only produce the report if there was a failure.

No, if I remember incorrectly and the way it

[2016-12-14 23:10] westhomas opened #95 "Capture logging by loglevel setting"
Hey there! Great plugin!

I have a ton of debug logs (using `logging.debug`) that appear in the stdout. I'd love to capture this data in the html report.

I saw some reference to this in the issues backlog but I'm not seeing how it can be done. Is this a current feature?

[2016-12-15 15:57] brianbruggeman opened #96 "ansi2html's license now superceedes MPL"
I think this is just an awareness thing.  But based on the licensing pytest-html is not longer actually being distributed via MPL and is officially GPL3 due to the addition of ansi2html.  Since this is a tool, I'm not sure it really matters, but it would be good to have that identified somewhere.

[2016-12-15 17:51] RonnyPfannschmidt commented on #96
indeed, unless ansi2html is made optional i believe its impossible to avoid infection
furthermore i believe its even necessary to completely rip it out of pytest-html

@davehunt this looks like a massive licensing bummer

@brianbruggeman thanks for bringing this unfortunate issue to attention

[2016-12-15 23:43] JensTimmerman commented on #96
No it does not, since ansi2html is just a dependency and not of the copyrighted code is actually distributed in the pytest-html project the python-html project can still be distributed under MPL.

People using python-html also do not need to agree to the GPL3, GPL only covers distributing the code or binaries, so only people who want to distribute pytest-html without having to agree to the GPL wou

[2016-12-16 10:08] RonnyPfannschmidt commented on #96
@JensTimmerman while IANAL, i noticed it tends to be helpful, in particular for companies that use this to be free of any uncertainties and pitfalls

while a typical python installation by the common tooling has less trouble,
importation is linking and its easy to end up creating a setup that as a whole is suddenly in violation of the GPL

i believe its unfair to down-streams to expose them to tha

[2016-12-16 14:43] davehunt commented on #96
@brianbruggeman thank you for bringing this to our attention. Would it be acceptable to make the ANSI feature optional? The user would need to install it via something like `pip install pytest-html[ansi]`. We could then mention in the README, LICENSE, and setup.py file that this feature is licensed by GPL via the ansi2html project.

[2016-12-16 14:48] RonnyPfannschmidt commented on #96
@davehunt the ansi2html is already working on re-licensing to LGPL2+ and it seems it will be completed before the weekend

[2016-12-16 16:10] davehunt commented on #95
If the tests are failing then the full stdout should be included in the HTML report. If they're passing you may need to run pytest with `-rpP` to include this in the report. If you mean that you'd like to add this extra data as an asset in the report, the following snippet modified from the one in the README should help. You'll need to stash `log` somewhere so that it can be accessed from the `pyt

[2016-12-16 22:50] brianbruggeman commented on #96
@davehunt Yes.  I think making it optional should allow for picking a license and updating the README/LICENSE/setup.py will help at least awareness and choice.  Thanks for being proactive on this.

@JensTimmerman
As far as I am aware (based on consulting with FSF), LGPL does not actually remove the GPL downstream requirement from _Python_ packages and that's explicitly because Python is an interpr

[2016-12-16 23:01] JensTimmerman commented on #96
@brianbruggeman I'm sorry for my short sighted answer before, I was thinking about how we distribute python software. We generate rpms and push them to our repository. And push it to pypi and letting people run `pip install xx` or `easy_install xxx` or even clone it from github and run `python setup.py install`

All of these options mean that the dependencies do not get distributed in the rpm or .

[2016-12-17 05:08] brianbruggeman commented on #96
@JensTimmerman
In a nutshell, yes.  Your example was windows, and mine is actually embedded software where we distribute a full environment with a piece of hardware.  And in either case, I think LGPLv2 wouldn't really change anything.

We also asked our FSF consultant about cloud services, which has no true distribution.  And the response was similar, though the thought was it's more murky.  A pro

[2016-12-19 11:51] davehunt commented on #94
Sorry to hear that. 🙁

I think you're remembering incorrectly, the option to only capture debug on failure in pytest-selenium should not prevent a HTML report from being generated.

You don't need to use GeckoDriver with Selenium 3.x, so you should be fine to upgrade. If you see issues then please file them against pytest-selenium and I can look into them.

[2016-12-19 11:52] davehunt commented on #94
I'm going to close this, as I believe it's invalid.

[2016-12-19 11:52] #94 closed

[2016-12-19 15:40] davehunt commented on #96
@brianbruggeman would you mind looking over #97 before I land it and push a new release? I decided not to even have the package as an optional dependency. If it's installed, then it will be used, otherwise it will not.

[2017-01-03 14:31] axinom-raido opened #98 "UnicodeEncodeError when creating detailed/fail report for pytest-selenium test run"
Hi!
Stumbled upon a problem when attempting to generate html reports for my selenium tests (in pytest), that I don't seem to be able to resolve.
When a test fails or if I increase the selenium debug level (by "_selenium_capture_debug = always_") I receive an error (see console output below). Any kind of help is much appreciated.

For the sake of clarity I created an example test that results in sa

[2017-01-04 17:22] davehunt commented on #98
I suspect there are characters in the page source that are causing issues during encoding. If you try running with the environment variable `SELENIUM_EXCLUDE_DEBUG=html` this should confirm it. I'll look into this when I get some time, but if anyone else wants to pick it up, that would be great!

[2017-01-05 06:57] axinom-raido commented on #98
I ran the example test through with `SELENIUM_EXCLUDE_DEBUG=html:logs:screenshot` added to _pytest.ini_ - same result.

[2017-01-15 12:37] andrewshadura opened #100 "pytest-html isn’t escaping HTML special characters in logs"
I’m seeing things like:

    auth.py                    518 DEBUG    Auth User is now <authuser('id:1[default] auth:true')>

in the HTML sources of the generated reports. That’s apparently due to a [missing escape call](/pytest-dev/pytest-html/commit/f84482bc6a28a547602b5f4e07ffc9044ee427b0#commitcomment-20481987).

[2017-01-16 10:45] davehunt commented on #100
I'm not sure I understand this issue. Could you provide details of the expected output? Also, if you've identified the cause, perhaps you could provide a pull request with a fix and a test? Thanks!

[2017-01-16 11:20] andrewshadura commented on #100
You’re not escaping `<`, `>` and other HTML special characters in the test output. The example above shows that very clear, `<` and `>` should have been replaced by `&lt;` and `&gt;`.

[2017-01-16 11:20] andrewshadura commented on #100
That happens only when ANSI parsing is disabled, which it is by default.

[2017-02-05 16:54] einsteinsfool commented on #98
I got the same error and got around it by setting LC_ALL variable to 'en_US.utf8' with this command on Linux:
`export LC_ALL='en_US.utf8'`
To reproduce this bug you may set LC_ALL to 'C'.

[2017-02-06 07:19] axinom-raido commented on #98
Grateful for the comment. Unfortunately don't know if or how I can use it since I encountered the issue on Windows 10. But maybe it can help to shed some light onto the essence of the issue, and at least it helps Linux users.

[2017-02-06 19:08] einsteinsfool commented on #98
Well, LC_ALL is the environment variable that overrides all the other localisation settings. So perhaps changing your system language to English might help, if you're willing to do that.
Follow this tutorial, if you're interested:
https://www.howtogeek.com/232659/how-to-change-the-display-language-in-windows-10

[2017-02-07 07:04] axinom-raido commented on #98
Thanks for the effort, but my system language is already English (United States), so that's not the case.

[2017-02-09 07:48] braunman commented on #100
Caught same problems, it will be fixed?

[2017-02-09 10:23] davehunt commented on #100
I haven't had time to look into this. If you have a fix, please submit a pull request with a test and I'll happily review it.

[2017-02-14 13:17] einsteinsfool commented on #98
Perhaps try writing in cmd one of these commands:
`set LANG=English_USA.1252`
`set LANG=.fglutf8`
...as presented [here](http://4js.com/online_documentation/fjs-fgl-manual-html/c_fgl_localization_017.html).

[2017-02-23 18:38] davehunt commented on #36
The pytest-metadata plugin gathers such details. A quick solution would be to simply replace the current environment section with the contents from pytest-metadata. I have a patch locally that does this, so I'll assign this to myself. Building a link from the data would likely be a future enhancement either for pytest-metadata or pytest-html.

[2017-02-23 18:39] davehunt commented on #96
This was resolved by #97

[2017-02-23 18:39] #96 closed

[2017-02-23 19:52] davehunt commented on #100
This should be fixed by #102. I have a few other items to look into before a new release, but it should be soon! Thanks for the report.

[2017-02-24 11:00] jo-as opened #103 "Order/Sorting of tests in the reports"
Hello,

is there any way keep to original order of the tests. Currently I can sort for "Result", "Test" or "Duration". Unfortunately I do not have any unsorted order.. (so in the order were the test was executed).

The reason for that:
we are performing many tests with fixture-parametrization (eg. 20 different tests on 100 test-cases), when several tests fails, it is quite difficult to analyze whe

[2017-02-24 11:10] davehunt commented on #103
I don't believe the test order is guaranteed by pytest at all. Also, if tests are running in parallel it would be difficult to represent the order in which they were run. This did come up before in #20. My suggestion at the time was to add a timestamp column for each test, which could then be sorted. Would this work for you?

[2017-02-24 11:18] jo-as commented on #103
Hello,
thanks for your reply.
The test-order is not guaranteed, thats clear. But it is difficult to follow the results in the html, when the order of the results in the html is not the same as the order of the test-execution.

A column with the execution-timestamp and the possibilty to sort for it would be perfect!

Best regards,
Josef

[2017-02-24 12:55] #98 closed

[2017-02-24 12:55] #100 closed

[2017-02-24 12:55] davehunt commented on #100
I'll release 1.14.0 soon (maybe today) with this fix.

[2017-02-24 12:56] davehunt commented on #98
I'll release 1.14.0 soon (maybe today) with this fix.

[2017-02-24 14:47] davehunt commented on #103
@jo-as I've fixed this by allowing users to implement their own hooks to modify the results table, and given an example that adds a sortable timestamp. If you have some time, please take a look over #104. Hopefully I can release 1.14.0 soon with this enhancement.

[2017-02-24 14:51] davehunt commented on #34
@alexandermomot I've fixed this by allowing users to implement their own hooks to modify the results table, and given an example that adds a description column with the docstring of the test function. If you have some time, please take a look over #104 and leave feedback. Hopefully I can release 1.14.0 soon with this enhancement.

[2017-02-25 08:22] jo-as commented on #103
Hello,

I have tried your unreleased version and it works fine. The solution is perfect for our needs now (as we were using 1.9.0, we did not use the other benefits, yet.. especially the "show", "hide" feature).

Thanks for the work, it is a very useful plugin!

Best regards,
Josef

[2017-02-27 11:05] sylvinus opened #105 "Ability to skip the captured log of successful tests"
Hello,

We have a few thousand tests and the generated HTML file weights close to 100Mo, basically unreadable in a browser.

I've made this patch to make the file much smaller, because typically only the captured output of failures is interesting:
https://github.com/pricingassistant/pytest-html/commit/0df1e0e249cfe322592e87a3868342a401d64b1e

Could this be merged behind a new configuration flag?

[2017-02-27 11:17] davehunt commented on #105
You want the passing tests to be omitted from the report? That sounds reasonable to me for such large result sets. Please submit your change as a patch with the configuration flag.

[2017-02-27 11:24] davehunt commented on #105
Actually, with #104 merged and released you should be able to do this via a `conftest.py`:

[code]

It's worth testing to see if this works - it could be that the we'd need to support making cells `None` and skipping the append row.

[2017-02-27 11:28] sylvinus commented on #105
@davehunt yes that PR looks great, it would indeed be good to add control over the `append_log_html` call as well. We do want to display the successful tests, just not their whole log output.

thanks!

[2017-02-27 11:29] davehunt commented on #105
Ah, I see. Let me see what I can come up with.

[2017-02-27 13:11] davehunt commented on #105
@sylvinus let me know if the new commits to #104 work for you. If so, I'll hopefully be doing a release later today.

[2017-02-27 13:23] sylvinus commented on #105
yes I think that would :) thanks!

[2017-02-27 15:39] davehunt commented on #105
Fixed by adding hooks in bc2e8a35554df68113cd2ae911dc396cd32cfe93 available in v1.14.0.

[2017-02-27 15:39] #105 closed

[2017-02-27 15:39] davehunt commented on #103
Fixed by adding hooks in bc2e8a35554df68113cd2ae911dc396cd32cfe93 available in v1.14.0.

[2017-02-27 15:39] #103 closed

[2017-02-27 15:39] davehunt commented on #40
Fixed by adding hooks in bc2e8a35554df68113cd2ae911dc396cd32cfe93 available in v1.14.0.

[2017-02-27 15:39] #40 closed

[2017-02-27 15:40] davehunt commented on #36
Fixed by integration with pytest-metadata in b5b3e26906fa3f7a0adad50da4c3e6aa92f45b22 and a1413ed734edbf5859c527d05af332c38195bfc8.

[2017-02-27 15:40] #36 closed

[2017-02-27 15:41] davehunt commented on #34
Fixed by adding hooks in bc2e8a3 available in v1.14.0.

[2017-02-27 15:41] #34 closed

[2017-02-27 15:42] davehunt commented on #95
Closing due to lack of further details.

[2017-02-27 15:42] #95 closed

[2017-02-27 15:43] davehunt commented on #79
Environment has been replaced by pytest-metadata integration. If you're still having issues please open a new issue with further details against the appropriate plugin.

[2017-02-27 15:43] #79 closed

[2017-03-03 16:58] micheletest opened #106 "encoding error"
I just tried to update to the latest pytest html and I'm getting an encoding error. The line referred to isn't encoded that I see, so perhaps that needs an update. I can try to look more into this later.

[code]

[2017-03-06 10:20] davehunt commented on #106
Interesting.. it looks like your test is being timed out by pytest-timeout. Perhaps that is causing an issue with pytest-html. I had hoped that all the encoding issues were fixed, but they keep popping up! If you're able to create a test for this that would be really helpful.

[2017-03-07 14:50] micheletest commented on #106
Agree, this seems to do with pytest-timeout. I can replicate this locally when it times out, but only in that case. What fixes the issue for me is to remove the if PY3 in data_uri (line 74 of plugin.py) and let it encode/decode the content in all cases.

I'm having trouble running the tests which I want to do before adding a new one. Are there preconditions to get going? Just doing pytest doesn't

[2017-03-07 16:22] davehunt commented on #106
The tests are run using tox, so you'll need to pip install that first. This manages the Python versions and virtual environments for you. For example, to run the tests against the latest version of Python and pytest, run: `tox -e py36-pytest30`, or for Python 2.7: `tox -e py27-pytest30`

[2017-03-08 16:26] davehunt commented on #106
I have a potential fix in #108. Please give that a try and let me know if it's working for you.

[2017-03-08 19:33] micheletest commented on #106
Just marked on the PR, this fixed the issue for me. Thanks for looking into it.

[2017-03-10 12:36] #106 closed

[2017-03-10 12:37] davehunt commented on #106
Thanks @micheletest! I've merged and tagged, so v1.14.2 should be available soon!

[2017-03-13 09:47] axinom-raido commented on #98
Thank you for the fix, much appreciated.

[2017-03-13 22:59] shreyashah opened #109 "How to add additional content to Summary section?"
I need to add a Score value to the summary section in html report. There is a mention about how to add additional content to Environment section but not for summary. Please guide me on this.

I am developing a feature to score the test module based on the weightage given to test cases and applying mathematics to obtain the final score for the entire module. I need to print this score either in sum

[2017-03-14 11:03] davehunt commented on #109
Interesting, though the summary section is not limited to a module, it represents the entire test session. It sounds like you'll need a new hook for extending the summary section. Please feel free to open a pull request introducing a `pytest_html_results_summary` hook. You could either try to add a structure, so this hook gets a list of key, value pairs for the label and value, or just pass around

[2017-05-05 09:01] davehunt opened #110 "Add links to images in self contained report"
When `--self-contained-html` is used we should provide links to any images in the HTML report. We should avoid duplicating the large data URI values, so it makes sense to use JavaScript to enable this functionality.

The links in the report column could be hidden by default and displayed via JavaScript, and the href destination could be taken from the associated img src. Similarly, the img could b

[2017-05-10 14:58] liiight opened #113 "Add ability to create custom assets"
If such ability already exist and I missed it, I apologize.
I have some api calls using `requests` module. I want to add a CURL format of the request when the test fails.
I use the `metadata` plugin to inject my string:
[code]
Then I'm overriding the table as such:
[code]
This return the unprepared asset, which I would like to run using [create_asset](https://github.com/pytest-dev/pytest-html/blob

[2017-05-11 21:30] tomga opened #114 "INTERNALERROR> UnicodeEncodeError: 'ascii' codec can't encode characters in position 496-497: ordinal not in range(128)"
On some data exception from subject occurs. Part of backtrace is following:
[code]

I've managed to fix (or maybe just workaround) this issue locally with following diff:
[code]

[2017-05-12 07:58] tomga commented on #114
I forgot to write that issue occurred on python2 and fix seems to work on this version. I don't know if problem exists on python3 and if the fix work/doesn't break on python3.

[2017-05-12 10:52] davehunt commented on #114
😢 More encoding issues... Please could you submit a pull request with your fix and a test?

[2017-05-15 11:12] davehunt commented on #113
If you append your value to `report.extra` then it should create an assert and link to it from the HTML report. You shouldn't need to create a new column just for this new content:

[code]

Here's a screenshot from the report generated using the above code in `conftest.py`:
![13fac7ff-3886-4781-9cc9-7b1bd36ed17d](https://cloud.githubusercontent.com/assets/122800/26055198/9ae701c0-3967-11e7-9888-b9

[2017-05-15 11:12] #113 closed

[2017-05-15 11:15] liiight commented on #113
Thanks, this will indeed work for me.
The docs mentioned nothing about creating URLs like this using a 2nd arg, probably worth adding.

Thanks for this great plugin!

[2017-05-15 11:19] davehunt commented on #113
@liiight you're right, we should mention the optional arguments when constructing extras. It's the 'name' argument, which is common to most extras. The code is here: https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/extras.py. If you're interested in writing a patch for the documentation, I'd be happy to review/merge it.

[2017-05-17 15:54] APshenkin opened #116 "Change color for text in HTML report"
Hi!

First, thank you for this plugin!

I want to recommend to change font color in report because read grey text on white background is "hard" for eyes. Also if we can increase font size it would be great!

Thanks in advance!

[2017-05-18 16:29] m8ttyB commented on #116
@APshenkin thank you for pointing this out. Let me spend some time investigating options.

[2017-05-22 17:55] m8ttyB commented on #116
@davehunt what's your preference.
* tweak the existing CSS to change the font coloring to be a bit darker (provide more contrast)
* allow a user to specify a CSS file that overrides the one used by pytest-html

[2017-05-22 18:11] davehunt commented on #116
@m8ttyB let's tweak the contrast of the current CSS to improve accessibility by default. I think having an option to provide a CSS file as an override would be neat, but it's not clear if there's a thirst for this. @APshenkin do you have any thoughts?

[2017-05-22 19:17] m8ttyB commented on #116
@APshenkin An additional question to go along with @davehunt's It's also possible to increase the font-size, although would using the built-in ability of your browser to increase font-size work in this instance?

[2017-05-23 20:45] tomga commented on #114
What is the proper way to run already implemented tests?

I did:
[code]
and received:
[code]
Is it normal? Without existing tests working properly I can't really understand how to write test for my problem.

[2017-05-23 21:37] tomga commented on #114
with following patch (removing one line):
[code]
results are better:
`test_pytest_html.py ........................FFFFFFFFFF..FFx..`

and many of those failing tests fail due to different value generated by: `hash_generator.hexdigest()`

[2017-05-23 21:45] tomga commented on #114
Installing `pytest-rerunfailures` fixed situation much more (with clean sources):
`test_pytest_html.py ....................................FFx..`

[2017-05-23 21:55] tomga commented on #114
Installing `pytest-xdist` fixed rest of tests:
`test_pytest_html.py ......................................x..`
but I think it would be much better to xfail all those tests without those plugins installed or loudly inform that they don't work without those two plugins. It would save me some time. Maybe I would have a test for my issue now :-)

[2017-05-24 00:22] nicoddemus commented on #114
@tomga did you try using `tox`? Tox is usually considered the de-facto standard for running tests in Python projects as it will take care of creating an appropriate virtual environment and running the tests using the appropriate flags.

I just noticed that there's no information about that in the README, so I added one in #117. 👍

[2017-05-24 06:02] tomga commented on #114
I didn't know about this tool. Unfortunately with `tox -e py27` it starts to spawn many python processes before result of `testing/test_pytest_html.py::TestHTML::test_environment_xdist_reruns` is printed.
Those processes are: `pytest-html/.tox/py27/bin/python2.7 -u -c import sys;exec(eval(sys.stdin.readline()))`.
I've killed tests when number of those processes was close to 200 and system started

[2017-05-24 12:36] nicoddemus commented on #114
I see thanks!

Hmm 1.8.0 is quite old (Sep 24, 2014), so this might be resolved by updating the `tox` version you have installed, or creating a virtual environment and installing the latest tox on it (2.7.0).

Regardless, if `py34` is working that should be enough for you to test locally. Once you open the PR pytest-html will run a complete test in Travis. 😁

[2017-05-25 12:08] tomga commented on #114
I have a problem with creating a testcase for this. To reproduce you need to have `longrepr` in `report` that has unicode characters. The only way I'm able to create such case is when using plugin from:
`https://github.com/okken/pytest-expect` (need to be installled from git because there is a different package with same name on pip). It uses internally `pytest_runtest_makereport` and creates `lon

[2017-05-26 07:27] APshenkin commented on #116
@m8ttyB @davehunt
option to provide a CSS file would be great I think. This will unblock other users to customize the report as they want. But if it requires more time, the solution to change current CSS will be OK.

[2017-05-26 14:48] Alex-Bogdanov opened #118 "Pytest always outputs traceback for XFAIL [NOTRUN] test"
Hi!
Is there anybody who can elaborate what is going wrong with _pytest-html_, which generates results for **XFailed** tests on _'setup'_ without running the actual test? It is always printing this traceback in details:
`self = <CallInfo when='setup' exception: [NOTRUN] Failed due to changes in functionality>, func = <function call_runtest_hook.<locals>.<lambda> at 0x7fc6c50d9f28>, when = 'setup'

[2017-05-26 16:00] davehunt commented on #118
Could you provide more context, or a minimised test case that reproduces this issue? It would also be useful to know what versions of pytest and the plugins you're using. A full console log would include this.

[2017-05-26 16:02] davehunt commented on #118
Wait, are you saying that the traceback is appearing in the HTML report for an xfailed test that is marked to not run? If so, I agree that it makes sense to not output this in the report. I'll label this as an enhancement request, and maybe someone will be able to work on it soon.

[2017-05-26 16:13] Alex-Bogdanov commented on #118
Yep! Exactly. So, since I've posted it, maybe I can rewrite this code, generating html output for xfailed tests marked not to run?=)

[2017-05-28 16:03] tomga commented on #114
Finallly I've found out how to make a testcase and made a pull request. Some tests are failing on configurations with pytest29 but not only mine so I assume it is acceptable. I think the problem is more with testcase itself than with a fix.

[2017-05-29 06:06] tomga commented on #114
I've checked history on travis and it seems that previously all tests were passing. Is seems it is due to usage of `longreprtext` which is not available I think on `pytest29`. Would you wannt a copy of code of this property be made in `pytest-html` or a conditional for diffferent fix for `pytest29` version or some other solution?

[2017-05-29 13:24] Alex-Bogdanov commented on #118
Looks like it is pytest code base issue, not plugin

[2017-06-06 11:03] davehunt commented on #118
Have you raised an issue against the pytest project? Could we workaround the issue in the plugin?

[2017-06-06 11:10] nicoddemus commented on #118
@Alex-Bogdanov if you could reproduce this problem in a simple case and post to https://github.com/pytest-dev/pytest/issues it would be great!

[2017-06-06 13:32] #77 closed

[2017-06-09 15:14] #114 closed

[2017-06-09 17:45] silvana-i opened #122 "New 1.15.0 version gives AttributeError: 'TestReport' object has no attribute 'longreprtext'"
With latest version of pytest-html 1.15.0 we are seeing this error:
`INTERNALERROR> AttributeError: 'TestReport' object has no attribute 'longreprtext'`
Same issue is not visible with the previous 1.14.2.

We use it in its most straight forward way. Calling it from py.test with `pytest --html=report.html`.

[2017-06-09 17:49] nicoddemus commented on #122
1.15.0 now pytest 3, unfortunately this was not specified in `setup.py` (should be fixed by #123).

[2017-06-12 15:29] davehunt commented on #122
I've merged #123 and tagged for a release of 1.15.1. Thanks @silvana-i and @nicoddemus!

[2017-06-12 15:29] #122 closed

[2017-06-12 15:35] nicoddemus commented on #122
🎆

[2017-06-21 21:14] Alex-Bogdanov commented on #118
@nicoddemus I will try to reproduce without html plugin, it's god damn tricky

[2017-07-11 08:59] ngavrish opened #124 "path too long on windows when saving report with screenshots"
I have following code to generate screenshots in reports
[code]

And you have line in plugin.py where you get file content and validate if its path. And in my case file content contains binary representation of image. When windows is trying to validate this long path, it fails into INTERNAL ERROR.

INTERNALERROR>   File "c:\python36\lib\site-packages\pytest_html\plugin.py", line 112, in __init__
I

[2017-07-17 16:57] davehunt commented on #124
Thanks for the bug report. It sounds like we need to catch this exception.

[2017-07-26 09:50] bhatnagarvaibhav commented on #116
@m8ttyB
Any updates on this one where we can provide a CSS file of our own?

Thanks in advance.

[2017-08-02 20:24] g-bon opened #125 "Tests failing because rerun plugin might not be present"
[assert_results_by_outcome](https://github.com/pytest-dev/pytest-html/blob/master/testing/test_pytest_html.py#L65) makes all tests that use it fail.

The assertion is made false by the absence of rerun tests in the report when the plugin is missing.

[2017-08-03 14:16] davehunt commented on #125
pytest-rerunfailures is a dependency for running the tests, as specified in [tox.ini](https://github.com/pytest-dev/pytest-html/blob/master/tox.ini#L13). You should be using `tox` to run the tests as [mentioned in the README](https://github.com/pytest-dev/pytest-html#contributing), and the plugin should be installed in the virtual environments it creates.

[2017-08-03 14:16] #125 closed

[2017-08-16 18:44] m8ttyB commented on #116
@APshenkin apologies, this thread fell of my radar. Let me take a look at this again early next week and scope a solution.

[2017-08-28 19:42] micheletest opened #128 "Chrome blocking data uri"
I'm running Chrome 60 and cannot click to open any of the Links (Browser Log, Server Log, etc.) in my self-contained pytest-html report. This seems to be due to Chrome blocking top frame navigation to data urls.  See [here](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/GbVcuwg_QjM) for their developer discussion on this. The console error is ```Not allowed to navigate top frame

[2017-08-28 22:36] sveinugu commented on #116
+1 on adding option to specify a custom CSS. I was just planning to fork the code in order to change CSS when I noticed this issue.

[2017-08-29 12:36] davehunt commented on #128
Another workaround would be to avoid using the self-contained report. I'm not sure how we can support a self-contained report without using data URIs. I'll leave this open for now in case there are suggestions, but otherwise we might just need to put a notice in the README.

[2017-08-29 15:37] m8ttyB commented on #116
@davehunt what's your preference, tweaking the existing CSS (defining the write ratios could take awhile), or allowing users to insert their own CSS styling?

[2017-08-29 17:57] davehunt commented on #116
@m8ttyB I like the idea of having a `--css` command line option that could be a path to a local CSS file. When present, we could read in this file and write it out inline or as an asset. I also like the idea of a `--theme` option for predefined styles. The currently style would be the default, and we could ship with high-contrast or other accessible options. These two features could be implemented

[2017-08-29 18:00] davehunt commented on #116
I would also propose that the theme is always set as a base style, and the user specified CSS simply allows selected styles to be replaced. That way, the two features would be able to work together.

[2017-09-04 10:27] tomer commented on #25
For the record, `--self-contained-html` should do the trick, but some content is blocked by Gmail, such as JavaScript code required for column-sorting and filtering, and they also cropping long HTML messages. Publishing the report as an email attachment also not perfect, as Gmail does filtering the HTML code for preview, so it is required to download the report from the email message and open it l

[2017-09-05 10:49] lcofre opened #130 "Text on successful execution"
Awesome plugin, thanks for it!

I have a question: How can I show some text when the execution is successful?
my tests print() details and make asserts, but the report shows "No log output captured".

Thanks in advance for your help!

[2017-09-05 11:09] davehunt commented on #130
@lcofre try adding `-r P` to your command line. This will report summary information for passing tests when they have output. From `pytest --help`:

[code]

[2017-09-05 12:39] lcofre commented on #130
Thanks @davehunt for the clear explanation. It worked perfectly!

[2017-09-05 12:39] #130 closed

[2017-09-07 09:36] iwanb opened #131 "Report fixture setup and teardown"
Hi,
I would like to vizualize when fixtures are set up and teared down, the time they take, their output and if they failed.
I think they could be added in the Results section, filtered by default, around the tests.
It might add a lot of information, so it would look better along with #33

Would you be open to such an enchancement? (It could be optional if needed.)
Do you see issues it might creat

[2017-09-07 12:33] davehunt commented on #131
There are already command line options for showing these, as shown below from `pytest --help`:

[code]

I don't think any of this will be displayed in the HTML report though. I'd be happy to merge a patch that adds the fixture details to the HTML report when `--setup-show` is specified.

[2017-09-12 07:31] rasmuspeders1 opened #133 "Improved list value in metadata table"
Hi,
I have created a pull request with a proposal for a small enhancement.
metadata values which are lists (or list like)  of strings are currently just presented as one long concatenated string of all members in the list.
My proposed fix simply creates a comma separated string of with the list members.

pull request here: https://github.com/pytest-dev/pytest-html/pull/132

[2017-10-05 14:39] ainomc opened #134 "How to store more than one report in Jenkins?"
Can I have more than one report per job in Jenkins?
I can generate current date and add it to name of report. But Jenkins use workspace for reports and rewrite it.

Is any way to store more than one report in Jenkins?

[2017-10-05 14:40] RonnyPfannschmidt commented on #134
soun ds like a jenkins question - in general the way to go is an actual artifact storage that takes the artifacts out of the build dir and into a permanent storage - there should be jenkins plugins for that

[2017-10-05 14:46] davehunt commented on #134
Check out the [HTML publisher](https://plugins.jenkins.io/htmlpublisher) plugin for Jenkins. You can publish multiple HTML reports and they'll appear as tabs in the output.

[2017-10-16 10:45] tomer commented on #133
Since #132 is merged, I suggest resolving this issue. @davehunt

[2017-10-16 10:47] #133 closed

[2017-10-23 10:39] camillake commented on #124
@davehunt This issue could be resolved, please refer to https://github.com/pytest-dev/pytest/issues/291. More about windows path: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

[2017-10-23 17:04] #134 closed

[2017-10-29 16:21] nicoarg opened #135 "Adding log to HTML report when show details"
Hello there, I use these kind of test with pytest and the html pluging:

[code]
Is there a way to get the output of log.info in the report? Even when the test is passed? I only get output when the test fails.

[2017-10-30 10:27] davehunt commented on #135
@nicoarg can you try adding the pytest argument `-r=P`, which will show extra test summary for passing tests with output?

[2017-11-04 15:12] nicoarg commented on #135
Hi Dave, I tried but I still get get "No log output captured" :(

[2017-11-04 15:39] nicoarg commented on #135
I found a solution adding `--caputre=sys`.

[2017-11-04 15:39] nicoarg commented on #135
You can close the issue if you want.

[2017-11-06 09:52] davehunt commented on #135
Thanks

[2017-11-06 09:52] #135 closed

[2017-11-28 07:19] jayant2014 opened #137 "Installing pytest-html corrupting existing pytest."
I had pytest module already installed. Then I installed pytest-html using pip. Then I could see pytest is corrupted. This used to work earlier.

[code]

I could reintsall pytest by clearing the corrupted one, but never use pytest-html after this.

Following are version info.

[code]

[2017-11-28 08:22] RonnyPfannschmidt commented on #137
the pytest_metadata plugin iunadvertedly uses a private api, thats a bug in pytest_metadata

[2017-11-28 08:25] RonnyPfannschmidt commented on #137
this is davehunt/pytest-metadata#5

[2017-11-28 08:25] #137 closed

[2017-11-28 09:05] jayant2014 commented on #137
Thanks Ronny got it.

[2017-12-03 03:56] EtheriousNatsu opened #138 "how to support chinese?"
![image](https://user-images.githubusercontent.com/12187260/33522193-0722cbd2-d821-11e7-9528-a8c845710b7f.png)

[2017-12-04 12:17] davehunt commented on #138
This test name is reported from pytest, so https://github.com/pytest-dev/pytest/issues/2996 would need to be addressed.

[2017-12-04 12:17] #138 closed

[2017-12-05 14:23] henklaak opened #139 "pytest-html breaks on pytest 3.3.0"
[code]

[code]

[2017-12-05 14:30] henklaak commented on #139
Never mind. My pytest-metadata was out of date. 1.5.1 solves it.

[2017-12-05 14:30] #139 closed

[2017-12-05 14:32] nicoddemus commented on #139
Yep, was about to comment about that. I opened conda-forge/pytest-metadata-feedstock#1 to update the conda package.

[2017-12-05 16:42] nicoddemus commented on #139
@henklaak the `1.5.1` package is [now available](https://anaconda.org/conda-forge/pytest-metadata/files). 👍

[2017-12-05 17:29] henklaak commented on #139
Awesome 👍

[2017-12-08 07:20] logan2013 opened #140 "delete html file if passed"
We have large files to test in custom order. so we sort all tests files, then test one by one use command "py.test filename".  The result is one test file have a html result file, it is so hard to check the whole result.

We have two ideas, but we don't know how to implement any of them:

1) generate all result in one html file
2) delete the passed html file

anyone can help, thank you so much!!!

[2017-12-13 06:23] rsmrahul1 opened #141 "Can we make a report of tests without running the plugin with the --collectonly attribute?"
I tried but list is empty.

[2017-12-18 22:48] noamkremen opened #142 "Defer html generation until after testrun is complete"
Hi,
I currently have a scenario where a report row needs to be augmented with links to log files collected via a setup/teardown fixture. I'm trying to achieve this via the pytest_runtest_makereport hook but as far as I understand, this is not currently possible since:
A) append_failed/passed only run for report.when=='call', thus no report rows are generated for teardown/setup.
B) Keeping a refere

[2018-01-02 11:40] davehunt commented on #116
Are you still interested to work on this @m8ttyB or should I unassign in case someone else can take it?

[2018-01-02 12:26] davehunt commented on #140
I can understand why you'd want to generate all results in one HTML file, but not why you might want to delete the HTML file. Unfortunately it would be non-trivial to combine HTML files for multiple sessions, but perhaps a better solution would be to sort your tests so they are executed in your custom order so you can run them all in a single session.

There are some plugin that might help, such a

[2018-01-02 12:29] davehunt commented on #141
Could you please provide some more details? I don't current understand the request.

[2018-01-02 13:44] davehunt commented on #142
A failure in setup/teardown [will be reported as an Error](https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L281-L283), and any extras associated with the report at this time should be included. This can mean that a single test has two rows, for example if the 'call' passes but the 'teardown' fails. Note that if 'setup' fails then 'call' will not be executed.

It is true

[2018-01-03 07:39] RonnyPfannschmidt commented on #141
is this perhaps about getting a html report of existing tests without running them?

[2018-01-03 09:36] rsmrahul1 commented on #141
when using with --collectonly , the report does not contain the list of tests

[2018-01-04 12:48] #124 closed

[2018-01-04 13:05] davehunt commented on #141
I see. I think it should be possible to create an alternate HTML report if `--collectonly` and `--html` are specified by implementing a `pytest_collection_finish` hook. The style of the existing report could be reused, but as most of the content of the existing report is related to the test outcomes, a lot will be irrelevant.

[2018-01-04 13:20] davehunt commented on #124
pytest-html [1.16.1](https://pypi.python.org/pypi/pytest-html/1.16.1) has been released with a fix.

[2018-01-04 17:18] ohayak opened #144 "add custom test results to report"
Hi,
I have a test function like this:
[code]
and many other functions using this pattern, I can't figure out a way to retrieve output value inside pytest_html_results_table_html hook.
Do you have any suggestions ?

Thank you

[2018-01-05 13:20] davehunt commented on #144
You could store the values on `request.node` as demonstrated here:

**test_score.py**

[code]

**conftest.py**

[code]

If you have several items, you could use a single dict to store them such as `request.node._metadata`.

The above created the following report for me:

![screenshot-2018-1-5 test report](https://user-images.githubusercontent.com/122800/34610905-267b7204-f21b-11e7-8819-4e891424577

[2018-01-06 01:49] ohayak commented on #144
works like a charm, Thank you

[2018-01-06 01:49] #144 closed

[2018-01-19 11:04] mayankchugh commented on #142
While we are on the subject of holding off the report generation until test completion, I can see that the report is created at desired path only after teardown fixture has run.

Is there a way to keep on generating the report side-by-side? My use case is to send the HTML report in email in teardown. However, my email function in teardown is not able to find the report as HTML is saved only after

[2018-02-08 13:12] PhilippSelenium opened #145 "Teardown log not shown in html"
The teardown log is not shown in the html despite being shown on the cmd line.

[2018-02-09 09:33] davehunt commented on #145
Please provide more details, as this feature is working fine for me. If you can reproduce with a simple test case, that would be ideal. Thanks!

[2018-02-09 20:15] anand853 opened #146 "unrecognized arguments: --html=report.htm"
I see below error when i tried to run my py test

command tried : pytest test_blank_pages.py --html=report.html

[code]

[2018-02-09 21:35] nicoddemus commented on #146
It seems `pytest-html` is not installed, can you please post the output of `pytest --version`?

[2018-02-12 06:07] Formartha opened #147 "pytest suite split in the report"
One of the things I'm missing in the report is the ability to split the files into "suites".
Suite is a folder which holds 1 or more tests.

Each iteration, pytest is going and grabbing the specific suites and executes it.
in the HTML report, we can see all the tests, but it's not grouped in that way..

So for example, I have around 600 e2e tests and it will be easier to see the report with one mo

[2018-02-12 11:36] davehunt commented on #147
This sounds like a duplicate of #33

[2018-02-12 11:36] #147 closed

[2018-02-12 12:10] davehunt commented on #145
Thank you, your additional information demonstrated that this in fact is fixture related setup/teardown. This is a duplicate of https://github.com/pytest-dev/pytest-html/issues/131 and I'd be happy to review any patches that add this functionality.

[2018-02-12 12:10] #145 closed

[2018-02-12 18:49] Formartha commented on #147
@davehunt  - No eta for it? :(

[2018-02-12 19:04] davehunt commented on #147
@Formartha sorry, I'm not aware of anyone working on it. I'm happy to review/merge a patch, but I don't have time to work on enhancements for the plugin myself at this time.

[2018-02-12 21:44] Formartha opened #148 "Failures (fatal) in py.test are not showing in the HTML report"
Hi,
I'm using pytest-html and I saw that that there is a critical defect..

We are using the  `--continue-on-collection-errors parameter` to avoid breaking the build where there are any compile errors.

However, when looking into the html log, I see that it can't grab the error and present it.
In the *.xml file that py.test produces, I can see the fail..

Can you please aid?

##
Step to reproduce

[2018-03-02 06:33] i-am-david-fernandez commented on #116
To throw my two cents into the discussion, I vote for user-supplied CSS rather than a change to the core styles. This will provide a package-based solution that can be individually tailored as required.

Much of my current test output is unreadable: I use `colorlog` for coloured log output that gets captured and ansi-formatted into the HTML report, and the default ansi colors for debug level messa

[2018-03-02 09:18] davehunt commented on #116
Thanks for your thoughts @i-am-david-fernandez, I think the best way forward is allowing a user to specify a `--css` path that allows users modify the core styles. I've unassigned @m8ttyB (I hope that's okay, Matt!) so if anyone has time to work on this I'd be happy to mentor and review. If not, I'll try to keep this in mind for when I next have some time to hack.

[2018-03-02 13:50] mike-maliska opened #149 "Custom metadata missing from environment table when all tests are skipped"
If a user skips all tests then the 'Environment' table does not show in the html report.

[2018-03-02 15:10] mike-maliska commented on #149
Sorry this is no longer an issue with version 1.16.1
I was still using 1.10.0

[2018-03-02 15:10] mike-maliska commented on #149
Sorry this is no longer an issue with version 1.16.1
I was still using 1.10.0

[2018-03-02 16:23] davehunt commented on #149
Thanks for using the plugin @mike-maliska! I'm glad your problem is resolved in the latest version. 😄

[2018-03-02 17:39] mike-maliska commented on #149
:(  sorry need to reopen the issue in a new format.
It seems that if ALL tests are skipped the ENV section does show up but my custom fields to not.

I am running this fixture:
@pytest.fixture(autouse=True, scope='session')
def _environment(request):
    request.config._metadata[' Test Suite Name'] = my_test_suite_name

This added the custom row to the env table without any problem as long as 1 te

[2018-03-02 17:50] davehunt commented on #149
Thanks @mike-maliska, and sorry that you've found a bug. I've labeled this as help wanted for now. Hopefully someone can fix this and introduce a test to prevent it from happening again.

[2018-03-02 17:51] mike-maliska commented on #149
![all_tests_passing](https://user-images.githubusercontent.com/22179425/36913586-73ae0388-1e18-11e8-9f4b-7f243221b8c7.JPG)
![all_tests_skipped](https://user-images.githubusercontent.com/22179425/36913587-73bf9cba-1e18-11e8-9423-93b0db61918c.JPG)

[2018-03-02 17:53] mike-maliska commented on #149
Thanks David, we will work around the issue for now.
We are parcing the html report to do metric gathering is how we stumble across it.
I don't think we should be running any suites where all test are skipped anyways :-)

[2018-03-03 03:12] i-am-david-fernandez commented on #116
@davehunt I've submitted a PR for my attempt at implementing this. Hopefully I've accurately captured the needs and desires as described here.

[2018-03-23 14:37] david-fliguer-ws commented on #131
Hi, sorry for the bump but any news about this ?
In my case before the first test is run I do a series of actions and I want to output to the HTML report some information about it
Any workaround that can be done by now in a more or less clean way ? (Like saving all the text in a variable and then adding it manually to the HTML) ?

[2018-03-23 14:56] iwanb commented on #131
I have not really looked into it yet.

It should be easy to make a workaround adding to pytest-html extra content from the pytest_fixture_setup hook.

[2018-03-23 22:17] j19sch commented on #149
I did some testing and it seems the fixture is never executed.

In this example the exception is never raised :
[code]
Comment out the `@pytest.mark.skip` and the exception is raised. So the source of this behavior is in pytest itself.

[2018-03-25 09:18] j19sch commented on #149
@mike-maliska I submitted two PRs that would allow you to add the test suite name without running into this issue:
- https://github.com/pytest-dev/pytest-html/pull/151
- https://github.com/pytest-dev/pytest-html/pull/152

[2018-03-25 19:42] mike-maliska commented on #149
Thank you!!

[2018-03-26 15:57] davehunt commented on #149
I suppose this makes sense, if all tests are skipped then there's no need to run the fixtures. I wonder if there's a way to force a session scoped fixture to run. @RonnyPfannschmidt do you know?

[2018-03-27 17:43] sgirolkar opened #155 "CSS fails to load in Safari on Mac"
Thanks for this great plugin!

Noticed this issue when trying to load the testReport on Safari on my MacBook.
I am using Version 11.0.3 (13604.5.6) of safari on macOS High Sierra version 10.13.3.
The HTML report loads without formatting. The CSS is not loaded.

I can see this error in the safari console log.
`Refused to load ...../assets/style.css because it does not appear in the style-src direct

[2018-03-27 21:40] sgirolkar commented on #155
i noticed this was a settings issue in our Jenkins.
On setting the right permission, it got resolved.
solution reference: https://stackoverflow.com/questions/35783964/jenkins-html-publisher-plugin-no-css-is-displayed-when-report-is-viewed-in-j/42382300

[2018-03-27 21:40] #155 closed

[2018-03-28 14:13] davehunt commented on #155
If you don't want to compromise the security of your Jenkins instance, then you should be able to use the `--self-contained-html` command line option, as [mentioned in the README](https://github.com/pytest-dev/pytest-html#creating-a-self-contained-report).

[2018-04-05 10:31] #109 closed

[2018-04-05 10:31] #148 closed

[2018-04-05 10:37] Formartha commented on #148
Dave - you are the best :)

[2018-04-05 11:42] davehunt commented on #148
No problem! I'm hoping to get a new release out today with this fix.

[2018-04-05 13:25] #116 closed

[2018-04-13 21:48] micheletest commented on #128
We can probably close this. I've gotten used to right click to open within the self contained report :)

[2018-04-15 20:59] Formartha opened #157 "feature request - open html log with closed details"
Hi there,
We have adopted pytest-html to view our tests.
However, when a test fails it open the html file in a way we can't read it (it prints out the entire stacktrace + logs we are writing during the test).

It would be appropriate if we can pass down a value to close the html details of a failed/errored test and not opening it by default.

Thanks,
Mor

[2018-04-16 09:33] davehunt commented on #157
Currently any tests that have an outcome of 'Passed' are collapsed, to draw attention to the details of any results with unexpected outcomes:

https://github.com/pytest-dev/pytest-html/blob/35a610065e50b94db30b068950e50d28f9c3545b/pytest_html/resources/main.js#L83-L86

I'd be happy to review a patch that added a feature to collapse all results, though I'm not sure of the best approach. We could al

[2018-04-16 09:43] #128 closed

[2018-04-16 20:03] Formartha commented on #157
Thank you @davehunt.
I'm not a Javascript developer, however, I could just remove the "if" and make it work. thing is, that as you said the user should decide about it.
I tend to think that we can enable passing of an external variable to the html parser.

I can design the way it should be, but not the actual implementation ..

[2018-04-20 17:06] jacebrowning opened #158 "Custom environment table order"
In Python 3.6+ or with `OrderedDict`, the config metadata can maintain its order to control the layout of the environment table. Would you consider an option to make `sorted()` optional in this line:

https://github.com/pytest-dev/pytest-html/blob/35a610065e50b94db30b068950e50d28f9c3545b/pytest_html/plugin.py#L468

[2018-04-20 17:24] davehunt commented on #158
Id be happy to review a pull request, though if we can determine when the user has specified a type that maintains order and avoid adding any configuration options that would be great!

[2018-04-20 17:31] jacebrowning commented on #158
Cool.

It might be as simple as `sys.version_info >= (3, 6) or isinstance(metadata, OrderedDict)`.

Or just the latter condition if we want to be more explicit. Do you have a preference?

[2018-04-24 14:59] kolszewska opened #159 "Is there a way to specify the output for the test results?"
Hi,

I am generation test result for our tests but I am getting:
`PermissionError: [Errno 13] Permission denied: '/home/ubuntu/report.html'`.

It is happening because I am runnign our tests not as an  `ubuntu` user. Is there a way to specify what would be the output folder for the result.html?

[2018-04-27 06:24] Formartha opened #160 "Feature request : Testsuite markup"
Hi,
I would love to have the ability to view suites in the tests I ran (meaning, pytest is scanning an entire directory with test-suites folders).

I would love to have the ability to cut down the report into test-suite listed view..

Can it be done?

in our company we are using the following structure:

- Prooduct_A;
   - test_suiteA1:
             __init__.py
             test_A1.py

[2018-04-27 10:28] davehunt commented on #160
Thanks for the request. I believe this is a duplicate of #33.

[2018-04-27 10:28] #160 closed

[2018-04-27 10:30] Formartha commented on #160
well. It's not the same according to my opinion.
However I can see some points of similarity...

[2018-04-27 10:48] davehunt commented on #160
I think both users could be satified by a single solution. Please feel free to add your thoughts to the existing issue.

[2018-04-29 20:10] Formartha opened #161 "question : get py.xml for enhancing the report"
Hi,

I tried searching for py.xml via any given site. however, I can't seem to find anything that meets this requirement. can someone help with it?

[2018-04-30 05:35] RonnyPfannschmidt commented on #161
its part of pylib, by now we hope we can eventually get rid of it

[2018-04-30 11:57] davehunt commented on #161
@Formartha documentation can be found here: http://py.readthedocs.io/en/latest/xml.html

[2018-04-30 11:57] #161 closed

[2018-05-10 05:12] nicain opened #163 "warnings summary not reflected in html-summary (feature request)"
In addition to test failure, pytest captures a warnings summary and reports this at the end of the test summary.  It would be great if this could be reflected in the html summary as well.

[2018-05-10 10:39] writetomaha14 opened #164 "screen shot attachment to the pytest report"
Hi,

As i am using the unittest for selenium and python, i am using the pytest for reporting. I needed the help for capturing the screenshots in the pytest reports for pass scenarios and fail scenarios as well. Can you please provide the sample template of the script and code for attaching screenshots in pytest report.

Thanks for the help

[2018-05-10 15:47] davehunt commented on #164
What issues are you seeing? Have you tried using [pytest-selenium](https://pypi.org/project/pytest-selenium/)? I haven't used pytest for Selenium when running unittest test cases, but there are some details here that might be useful: https://docs.pytest.org/en/latest/unittest.html

[2018-05-11 05:21] Formartha opened #165 "html file is huge - need to understand how to manipulate it"
Hi there,

I'm using the amazing py-html report file - however, I using a logge that prints out tons of information (I'm using py.test as an E2E testing tool for the entire platform. a lof for a given test could be 1000 lines).

My main issue is that I dont want all the log to be listed in html but rather link it to some NFS folder that I'll throw the zip files of the reports there and just link i

[2018-05-12 14:13] Formartha commented on #165
Plus,
How can I trigger filling out the 'links' section of the report?

[2018-05-22 10:31] #158 closed

[2018-05-22 10:57] davehunt commented on #165
I would suggest redirecting your logs to file, and then including these as extras in the report. Here an example of adding a log file to the links section:

[code]

Note that if you use `--self-contained-html` then the contents of the log file will be included in the HTML file, resulting in a much larger file size. If you do not specify this, then an `assets` directory will be used to store the lo

[2018-05-22 10:57] #165 closed

[2018-05-24 14:10] jacebrowning opened #167 "Can I "Hide all details" by default?"
I skip lots of tests based on environment and seeing each of these rows expanded by default is just noise in most cases.

[2018-05-24 15:30] jacebrowning commented on #157
My use case (#167) would be improved if we simply hid 'Skipped' tests by default.

[2018-05-26 20:06] Formartha commented on #165
Thank Dave!
will try it and keep you posted.

[2018-05-29 09:18] davehunt commented on #157
Sounds good, thanks @jacebrowning

[2018-05-29 13:35] Formartha commented on #157
Any implantation is considered in the near future?

[2018-05-29 13:49] jacebrowning commented on #157
@Formartha Yeah, I'm going to look into adding support for a query param to change the default filtering.

[2018-06-01 09:42] #157 closed

[2018-06-01 10:45] writetomaha14 opened #169 "dynamically create the output folder for report.html using command line in pytest"
Is there any way to create the output folder dynamically for every run with current time stamp and report.hml should be available in that folder.

Is it possible to pass thru the command line for the dynamic folder creation and report.html should be available once all the test cases are executed.

Thanks for the help

[2018-06-01 12:20] davehunt commented on #169
The destination directory is created if it doesn't exist, so you just need to specify the time stamp in your command. For example, the following works in bash:

[code]

[2018-06-01 12:20] #169 closed

[2018-06-06 14:15] davehunt commented on #169
I'm assuming you're taking your own screenshots, and not talking about the ones taken by pytest-selenium, as those are already stored within the target directory? Any screenshots you add to the report as extras should also be stored in the target directory. If you still want to access the HTML directory then you can do so my using the `pytestconfig` fixture and calling `pytestconfig.getoption('htm

[2018-06-11 12:21] Formartha opened #170 "self-contained html failed to work when editing the report"
Hi,
I changed the mechanism of the report to be a bit different (modified tables, added new items, changed it's behavior and so).
when I'm using a regular pipe, the test log is exported to assets folder and I can fetch it.
but when I'm using --self-contained-html, the log isn't being included in the html page.

Can you please assist?

Thanks,
Mor

[2018-06-11 18:51] Formartha commented on #170
found the issue,
when creating new 'log' extra, it uses some herf to add the encoded log file to the html report.

Trying to open it in chrome leads to an issue, apparently it's a JS + Chrome issue. we need to think on a way to bypass it :)
![image](https://user-images.githubusercontent.com/8232832/41251060-77601716-6dc1-11e8-9e02-d91b1de03ccc.png)
![image](https://user-images.githubusercontent.co

[2018-06-19 11:18] davehunt commented on #149
Closing as the related pull requests were merged. Please reopen if there are still issues.

[2018-06-19 11:18] #149 closed

[2018-06-19 12:42] davehunt commented on #146
Closing due to inactivity.

[2018-06-19 12:42] #146 closed

[2018-06-19 12:43] davehunt commented on #140
Closing due to inactivity.

[2018-06-19 12:43] #140 closed

[2018-06-19 12:49] davehunt commented on #53
Since 1.19.0 you can collapse results by outcome, by adding `collapsed=Rerun` to the query string.

[2018-06-19 12:49] #53 closed

[2018-06-21 02:05] goblinintree commented on #146
[root@ABCD ~]# pytest --html=report.html
usage: pytest [options] [file_or_dir] [file_or_dir] [...]
pytest: error: unrecognized arguments: --html=report.html
  inifile: None
  rootdir: /root

[2018-06-21 05:32] davehunt commented on #146
@goblinintree please show the output from `pip install pytest-html` and `pytest --version` thanks.

[2018-06-26 08:41] davehunt commented on #170
Interesting.. from a quick search it looks like there are some workarounds using iframes. I'd support a pull request that uses such a workaround. Alternatively, don't use self contained reports (they are limited in functionality, and can be large in file size), or use Firefox 😉

[2018-06-27 10:56] bigunyak opened #171 "Don't include any captured stdout/stderr/log output to the report"
Hi,
To reduce report file size, I'm trying to exclude any captured stdout/stderr/log output.
I'm running tests with the following command:
[code]
With this I still get the `Captured log call` section for every test no matter if it pass or not.
So the question, how to not include any captured output to the report?

[2018-06-27 11:22] bigunyak commented on #171
The `--show-capture` option seems to have absolutely no effect on what get's included into the report.
Could you please help to understand how capturing suppose to work?

[2018-06-27 12:06] davehunt commented on #171
`--show-capture` is not related to the HTML report, but I like the idea. I'll label this as an enhancement and maybe somebody would be interested in working on it. I don't think it would be too hard, we'd just need to get the value from the configuration and make the writing to the report conditional based on it.

[2018-07-16 09:43] lanranse opened #174 "add command config to environment table"
hi
here is the question
my  conftest.py contain a driver config
'''
 @pytest.fixture(scope='session')
def driver_class(request):
    driver = request.config.getoption('driver')
    if driver is None:
        raise pytest.UsageError('--driver must be specified')
    return SUPPORTED_DRIVERS[driver]
'''
i want add the driver parameter to environment table

what should i do ??

thanks

[2018-07-16 10:01] liiight commented on #174
You're in the wrong repo, this is pytest-html...

Anyway, you should use the `pytest_addoption` hook:
[code]
Then you should call it in your fixture:
[code]
I believe you can use the `required` keyword, though:
[code]
And that will fail if `--driver` isn't passed.

[2018-08-07 03:49] jknotts opened #175 "Environment table is missing rows if values are set to 0, None, or False"
I added a call to `configure_html_report_env()` so that I could display user passed in options used to execute the tests and any values that are set to `0`, `None`, and `False` are being filtered out in this call https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L469.

[code]

Is there a reason for this filter? I can wrap what I pass in with `str()` but I wanted to make s

[2018-08-20 09:11] NazarSilchenko opened #176 "How to specify report name and path in conftest instead of pass via arguments"
I generate folder for logs with timestamp and I want to store my html report there.
Unfortunately code which generate folder is in pytest framework so I can not know name of folder when I start my test. As the result my html report stores to root folder of my framework.

Is there a way to specify(overwrite) path where to store html report in conftest file instead of specifying it via arguments? So

[2018-08-23 10:37] davehunt commented on #176
You could implement the `pytest_configure` hook to change the `htmlpath` option. For example:

[code]

[2018-09-26 22:19] GowriShankariSurendran opened #179 "pytest-html not able to collect tests when we run with another pypi package pytest-parallel"
We use pytest-html to collect tests at the end of our test suite.
But when we use another pypi pacakge pytest-parallel (which runs tests in parallel - an alternative to xdist), the tests are not collected by pytest-html.
The console prints the correct tests run, but pytest-html is not able to collect them.
As an example, this is the following pytest- commands which I run
 py.test --workers 2 -m "e

[2018-10-04 16:07] #175 closed

[2018-10-10 08:16] rgarrigue opened #182 "Using JS with CSS ?"
Hello

Testing this plugin, I was wondering if it's possible to use ship JS a bit like --css ? The question behind the question being, can I use bootstrap or alike to have nice looking report.

Best regards,

[2018-10-10 10:34] rgarrigue commented on #182
Well you know the drill, according to the boss "shiny factor > good product" !

[2018-11-06 11:10] david-fliguer-ws opened #183 "Is there any way to generate one HTML report from two pytest runs ?"
Hi,

Is there any way that I can get in one HTML the results of two pytest runs ?

Something like

pytest -k something && pytest -k something_else --html=report.html

The reason that I need to do it is actually a workaround for another problem that I have (Not related to pytest-html, related to running in parallel with pytest-xdist instead) but it might help me to workaround this in some way

Than

[2018-11-06 13:28] davehunt commented on #183
This isn't currently possible, sorry. I'm not even sure how we'd implement this without having some intermediate format to store the results in. Feel free to edit this issue to be an request for an enhancement, and we can see if anyone has time to look into it.

[2018-11-06 13:54] RonnyPfannschmidt commented on #183
there is a plan to have a json-lines based format to write reports out to

[2018-11-06 16:21] david-fliguer-ws commented on #183
I see.

Interesting, in that way I could just open the JSON and add the results of the second run ?

[2018-11-19 14:54] mhoffman2016 opened #184 "Is it possible to generate a pytest HTML report on a timeout?"
I want to combine pytest-html and pytest-timeout. I'm operating on Windows, so I have to use the thread-method of timing out from pytest-timeout, which causes a full-stop to all testing. I want an html from pytest-html to be generated in this instance, but was unsure of the plausibility of this from hierarchy issues with the interrupt.

[2018-11-22 11:49] glaubitz opened #185 "Multiple testsuite failures with pytest-3.10.1 and python-3.6"
I'm currently packaging ```pytest-html``` for openSUSE and I'm running into multiple testsuite failures:

<details>
<summary> output </summary>

[code]

</details>

I have the necessary requirements installed as per ```setup.py```, so I'm not sure where the problem is.

[2018-11-22 17:37] Vic152 opened #186 "Passing selenium screenshots to the report"
Hey Guys,

I have fixture for wedriver:
[code]

I have want to add extra in the report:

[code]

I get an error when I try to do this: **AttributeError: 'function' object has no attribute 'save_screenshot'**
It seems like I cannot pass webriver.

[2018-11-23 10:45] Vic152 commented on #186
Okay so here is how you access webdriver from the report generation hook:

@pytest.mark.hookwrapper
def pytest_runtest_makereport(item, call):

    timestamp = datetime.now().strftime('%H-%M-%S')

    pytest_html = item.config.pluginmanager.getplugin('html')
    outcome = yield
    report = outcome.get_result()
    extra = getattr(report, 'extra', [])
    if report.when == 'call':

        feature

[2018-11-23 10:45] #186 closed

[2018-11-30 18:50] davehunt commented on #184
I don't think this is currently possible, but I'm not familiar enough with pytest-timeout. I'm also going to be less active on this project due to a change in my role. Hopefully somebody may be able to help you.

[2018-11-30 19:17] davehunt commented on #185
The failures are suggesting that the expected content is not in the generated HTML file. How are you running the tests?

[2018-12-13 10:48] kvenkat88 opened #187 "[Feature Request] It would be good if we add test execution graphs in test report"
It would be great if we have a graph generation support based upon the test execution counts(passed,failed,skipped counts,etc). This feature would enhance the report html in terms of coverage metrics. Please do let me it is possible or not. Thanks.

[2018-12-13 22:45] RibeiroAna commented on #187
I think it is totally possible! You could create a function `append_graph()` inside `HTMLReport` that would create this graph on the HTML repport, probably you would have to change something on the CSS file as well. What do you think @davehunt?

[2018-12-14 09:44] davehunt commented on #187
It sounds like a great idea!

[2018-12-19 13:45] mcepl commented on #185
@davehunt line 56 of [our SPEC file](https://build.opensuse.org/package/view_file/devel:languages:python:pytest/python-pytest-html/python-pytest-html.spec?expand=1).

[2019-01-04 02:07] RibeiroAna commented on #185
Hi @mcepl and @glaubitz,

What seems to be happening for me is that for some reason the tests don't have access to the generated HTML report or the plugin doesn't have the right permissions to generate those reports. The tests which are failing (besides some that I just corrected in my last PR - that were failing because a new pytest update) seems to be the ones who access the HTML report, which s

[2019-01-04 05:15] Jiangshan00001 opened #191 "how to set pytest-cov output to a single html?"
how to set pytest-cov output to a single html?
I'm trying to set the pytest-cov output to pytest-html, but don't know how to do.
could you give me some advice?

[2019-01-04 09:41] RibeiroAna commented on #191
Hi, unfortunatly I think that is not possible right now (unless @davehunt thinks otherwise). Pytest-HTML and Pytest-Cov could be integrated but I don't see it as an easy task, it could take some weeks, even months to do so.

[2019-01-04 10:15] Jiangshan00001 commented on #191
@RibeiroAna  i see. thanks

[2019-01-04 10:45] davehunt commented on #191
I'm not familiar with pytest-cov, but pytest-html does have some hooks available for augmenting the report. If you're able to get the content from pytest-cov then it's possible you may find a way to create a single report. See the readme for details of the hooks provided. If you find you need new hooks, please open a new issue with details.

We could leave this issue open for a while to see if any

[2019-01-12 16:17] kvenkat88 opened #193 "[Feature Request] Need report object in pytest_html_results_summary hook to extend the summary section"
It would be too good if we add "report" object to the pytest_html_results_summary hook, so that in runtime can use the objects in report like outcome, location,sections,for customization option. If we added it then it would be good to create the test summary table section consists of test_group_name,total tests in folder categorized by requirement,passed&failed&skipped in summary table section .If

[2019-01-12 17:42] RibeiroAna commented on #193
I think that the test summary thing maybe is related to #187 and the coverage to #191, you maybe could comment there. Please let me know if I misunderstood you (if it is not related to what I said), otherwise I'll close the issue.

[2019-01-14 14:31] kvenkat88 commented on #193
Thanks for your reply @RibeiroAna . I looking to mention the below summary table(for example)

![image](https://user-images.githubusercontent.com/8400538/51118492-875f9680-1836-11e9-89cd-265610ce9989.png)

This summary table would give us good overall coverage based upon the scenario/requirement against the tests done. I think it would be useful for better reporting.

As for as i know i gone throu

[2019-01-22 23:23] 3tilley opened #195 "[Feature Request] Aggregate by exception"
I don't know if this is the right place to do this, but I'd love a way of aggregating failures by exception type, message, or error line. In a large codebase, a small change can generate a cascade of failures that actually are only down to errors in one or two places. It would be really helpful to be able to see that although 50 tests failed, 40 of them were from a db connectivity error and the ot

[2019-01-22 23:32] RibeiroAna commented on #193
I do not understand your request. Pytest-HTML does provide a summary with the number of tests that passed/failed/etc, is your request doing it as a table instead of a list as it is now? About coverage, I think it is related to #191. @davehunt Do you see it with another eyes?

[2019-01-23 10:43] PhilippSelenium commented on #110
I should have read the comment before I commited my pull request :(
In this case I can't fix it. i don't know any javascript.

[2019-01-23 13:10] 3tilley commented on #195
It's a good question. Either add it upstream or use regex to pick it out?

What do you think about it not being a CLI flag, but instead done entirely
with JS on the page?

On Wed, 23 Jan 2019, 00:24 Ana Ribeiro <notifications@github.com wrote:

[2019-01-23 20:56] BeyondEvil commented on #195
In the `pytest_runtest_makereport` hook, in the `call` parameter you can access the exception type (and more) in `call.excinfo`. @3tilley @RibeiroAna

[2019-01-23 21:17] RibeiroAna commented on #195
@3tilley as you saw, it is easier to do in the plugin because there is this hook, on the JS side is going to be much more complicated, less efficient, and people who has restriction on JS use on their browsers won't be able to see. I think you may start working on this.

[2019-01-24 03:09] RibeiroAna commented on #195
@3tilley I think I've had a better insight on this! Maybe it can be a combination of JS and Python. For example, for errors of a certain type, you could create a HTML class "error-x" and them add it to every table row that has this kind of error and use JS to filter them, as there is now to filter according to the outcome. I think it wont change so much the way people use Pytest-HTML, so it wouldn

[2019-01-24 14:12] 3tilley commented on #195
That sounds good to me, I think we're almost there. My concern here is that
actually there are lots of different levels you might want to aggregate at.
Just exception type, exception message, first half of exception message
etc. Would this mean you have each of these as separate html metadata?
Imagine you wanted to see all the tables you didn't have access to, and
there were a whole load of failur

[2019-01-30 10:07] BeyondEvil commented on #195
I think a good approach would be to start simple, by for example just aggregate by exception. Then build from there. @3tilley

[2019-02-02 21:58] pythononwheels opened #197 "Make css/js path configurable with cli parameter"
Cause:
I need to use the standalone version since I cannot serve the default css/js paths ("/assets/").
So the generated report does not find the css/js.

possible solution:
Would be a nice thing to make them configurable with a prefix path parameter like
`--include-prefix=<prefix>   `
Default: `/assets` so everything stays the same.

So you can adapt the path to include it to existing apps alread

[2019-02-03 22:32] RibeiroAna commented on #185
Hey @mcepl  and @glaubitz, are there any updates on this? May I close the issue?

[2019-02-03 22:49] RibeiroAna commented on #191
@ionelmc do you have anything to say about that?

[2019-02-04 07:01] ionelmc commented on #191
What would you want to see in pytest-html's output? Just the coverage report?

One of the plugins could have a hook that the other can use for copying the coverage report, or pytest-html could just override pytest_terminal_summary to capture pytest-cov's output.

If that's too much then pytest-cov could implement a `pytestcov_write_summary` hook that pytest-html can override to put the report both

[2019-02-04 08:11] BeyondEvil commented on #197
I agree @RibeiroAna!

Would you feel comfortable contributing a PR for this @pythononwheels? I'm happy to guide you through it, should you need it.

Maybe name the flag `--assets-path` ?

[2019-02-04 09:50] davehunt commented on #193
It sounds to me like @kvenkat88 wants to replace the generated summary with their own, rather than modifying the generated summary and adding surrounding HTML. It would be possible to add support for a new hook such as `pytest_html_generate_results_summary`, which could be overridden to replace the summary. We'd need to pass everything required for our default implementation (maybe this is just th

[2019-02-04 10:06] pythononwheels commented on #197
Yes. Cool. Let‘s do it.
—assets-path sounds reasonable.

[2019-02-04 10:07] kvenkat88 commented on #193
@davehunt you are on the right track.If we add new hook as you suggested it wld give us more detailed information to our reports based upon the requirements/feature tested. Thanks.

[2019-02-04 13:07] BeyondEvil commented on #197
If you need help/pointers from me @pythononwheels, your best bet is to reach to me on Slack in the Selenium:python channel.

https://seleniumhq.slack.com/messages/C5PJXA814

I'm `jimboslice` there.

[2019-02-06 15:59] faroit opened #198 "add markdown export"
I just discovered this package and I really like the generated outputs. Thanks for this great work!

However, sometimes a report, formatted in simple markdown would be good enough and could be easily posted in github issues.

* Is there anyone working on this?
* has anyone seen other pytest plugins that could produce markdown reports?
* Is this of any interest?

I would love to work on this, so I

[2019-02-07 14:20] hackebrot commented on #198
Hey @faroit! 👋

I'm also interested in such a plugin and would be to work with you on that! I am planning to create a minimal plugin for Python 3 in the next couple of weeks to demo in an upcoming talk.

[2019-02-07 14:20] faroit commented on #198
@hackebrot thanks, just ping me later if you need some help

[2019-02-07 14:20] #198 closed

[2019-02-13 15:41] mcepl commented on #185
No, you cannot, we kind of gave up on our hopes that you would help us, so we switched off the test suite (or, actually, [we neutered it](https://build.opensuse.org/package/view_file/devel:languages:python:pytest/python-pytest-html/python-pytest-html.spec?expand=1)).

[2019-02-13 18:23] davehunt commented on #185
I don't think anybody working on this project has experience with packaging plugins for OpenSUSE. There was also no response to @RibeiroAna's comment on Jan 4th. We can leave this issue open, but without you (or someone else) helping, we are unlikely to be able to fix it.

[2019-02-13 18:51] glaubitz commented on #185
I don't think these failures are related to the packaging in openSUSE.

When the package gets build, the build process just invokes ```python setup.py build``` and later ```install```. It also runs the testsuite just as you would do when building the Python module outside openSUSE.

I'll give it a shot tomorrow to see whether I can reproduce it outside openSUSE packaging.

[2019-02-22 20:37] RibeiroAna commented on #197
@pythononwheels I remember that Pytest-HTML has the functionality of setting a path to the desired location of the file (so instead of doing something like `--html=report.html` you can do something like `--html=/my/path/report.html`, I think it solves your issue! I'll close this topic, but if does not solve your issue, feel free to reopen.

[2019-02-22 20:37] #197 closed

[2019-03-09 06:07] lovto1314 commented on #146
![image](https://user-images.githubusercontent.com/41686757/54066991-89f9cd80-4274-11e9-871e-c6764c6dc868.png)
![image](https://user-images.githubusercontent.com/41686757/54066994-99791680-4274-11e9-80d5-04f210cdfe40.png)

[2019-03-09 07:20] RibeiroAna commented on #146
Hey @lovto1314, if pytest-html is corrected installed the output should be something like:

[code]
If some message like the above doesn't show up, please do `pip install pytest-html`.

[2019-03-27 17:59] banrieen commented on #146
I think pytest does not support python2.7;
When I specify the python version with python3 ,It work.
python3 -m pytest --html=./report.html  test/example.py

[2019-03-27 18:04] nicoddemus commented on #146
Hi @banrieen, `pytest` does support Python 2, what is happening is that you have installed `pytest` into your Python 3 interpreter.

[2019-04-09 21:02] sarchule opened #200 "How to include test name in report test column when test includes docstring"
When a pytest test method includes a docstring, then the report appears to use the docstring within the "test" column as the test id. If I remove the docstring, then the report uses the test method name. Is there a way to keep the docstring, but have the report still include the test method name within the "test" column? e.g.,
mytest.py::mytestclass::mytestmethodname::docstring....

Or if this is

[2019-04-10 08:18] BeyondEvil commented on #200
Hi @sarchule !

Could you provide us with some more detail? Python/pytest versions etc? Maybe an example snippet and report (screenshot)? I'm not able to reproduce it.

Cheers

[2019-04-11 19:09] sarchule commented on #200
Python: Python 3.7.0 (default, Aug 14 2018, 19:12:50) [MSC v.1900 32 bit (Intel)]
pytest related packages:
pytest                   4.3.1
pytest-cov               2.6.1
pytest-forked            1.0.2
pytest-html              1.20.0
pytest-logging           2015.11.4
pytest-metadata          1.8.0
pytest-ordering          0.6
pytest-pspec             0.0.3
pytest-rerunfailures     6.0
pytest-testdo

[2019-04-11 21:09] BeyondEvil commented on #200
@sarchule  Awesome, thanks!

Initial testing with just...

pytest==4.4.0
pytest-html==1.20.0
pytest-metadata==1.8.0

...in the env shows that it works as expected. Gut feeling is that pytest-testdox is re-writing the node-id of the test.

[2019-04-11 21:31] BeyondEvil commented on #200
@sarchule

[2019-04-11 21:32] BeyondEvil commented on #200
@sarchule

Ok, so I was wrong. It's actually pytest-pspec that is the offender. It re-writes the nodeid of the test, as can be seen here:

https://github.com/gowtham-sai/pytest-pspec/blob/master/pytest_pspec/plugin.py#L48

With that said, I say you should raise this issue with the pspec folks.

I'll close this issue, but feel free to re-open if you have a different point of view!

[2019-04-11 21:32] #200 closed

[2019-04-11 21:40] sarchule commented on #200
Nice catch -- thanks for the quick response! I just confirmed your analysis and agree that the issue should be closed out.

[2019-04-25 16:20] MaximeWeyl opened #201 "Page header does not take environment variables into account"
In pytest.ini, I have :

    addopts = --html $APPRENTI_MOTEUR_LOGS_DIR_TEST/$APPRENTI_MOTEUR_LOGS_HTML_NAME

The path of the html report takes the content of the environment variable into account.

But the page header does not :
![image](https://user-images.githubusercontent.com/31591159/56751616-c9c63700-6786-11e9-9df4-82e79475b3bb.png)

It would be nice if it would as well :-)

[2019-04-25 19:08] BeyondEvil commented on #201
Thanks for reporting this! @MaximeWeyl

However, I think this is a limitation (bug?) with pytest itself, and not the plugin. And I'm not really, at least initially, comfortable with solving the symptom.

Thoughts @nicoddemus ?

[2019-04-25 21:07] nicoddemus commented on #201
Not sure, how does pytest-html get that header?

[2019-04-25 21:18] BeyondEvil commented on #201
https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L435

@nicoddemus

[2019-04-25 21:28] MaximeWeyl commented on #201
I think the trick (used for the HTML report filename) is here :

        logfile = os.path.expanduser(os.path.expandvars(logfile))
        self.logfile = os.path.abspath(logfile)

Le jeu. 25 avr. 2019 à 23:18, Jim Brännlund <notifications@github.com> a
écrit :

[2019-04-25 21:34] MaximeWeyl commented on #201
i feel like replacing session.config.option.htmlpath with self.logfile in
html.h1(os.path.basename(session.config.option.htmlpath)),
would work (but I have no computer to test it right now).

Le jeu. 25 avr. 2019 à 23:28, Maxime Weyl <weyl.maxime@gmail.com> a écrit :

[2019-04-25 21:34] nicoddemus commented on #201
`addopts` does not seem to expand environment variables at all:

[code]

(I'm on Windows)

Results in:

[code]

Same if I use `$TEMP`.

As @MaximeWeyl just pointed all, this is the culprit:

https://github.com/pytest-dev/pytest-html/blob/27b6e77ab1f5417515a352a978f20b1952b9a8aa/pytest_html/plugin.py#L86-L90

So this line:

https://github.com/pytest-dev/pytest-html/blob/27b6e77ab1f5417515a352a978f2

[2019-04-25 22:12] RibeiroAna commented on #201
I'm not sure I understand, but you want to write the whole path of the test file, not only the tittle, right? Because if is that, you can use just put out the basename thing from it, right? Or am I not seing something?

[2019-04-25 22:28] BeyondEvil commented on #201
Right, as I expected. So this is by design then, and not a bug?

If that's the case, I can create a PR with the suggested fix. :)

@nicoddemus

[2019-04-25 22:29] BeyondEvil commented on #201
What's happening is that the environment variable isn't being expanded "in" the report. It's using the name of the env var instead.

@RibeiroAna

[2019-04-25 22:32] nicoddemus commented on #201
Exactly. 👍

Sure, that would be great!

[2019-04-25 22:39] BeyondEvil commented on #201
So, changing it to use `self.logfile` with:

`addopts = --html $HTMLREP.html` where `$HTMLREP` expands to "hello"

renders the entire path:
<img width="674" alt="Screen Shot 2019-04-26 at 00 37 10" src="https://user-images.githubusercontent.com/15611634/56772767-a5388200-67bb-11e9-9bdc-ab558583858e.png">

Is that the expected behaviour? 🤔

@nicoddemus @MaximeWeyl

[2019-04-25 22:49] nicoddemus commented on #201
Sorry, I wasn't clear, the line should be changed to this:

[code]

[2019-04-25 23:09] BeyondEvil commented on #201
Oh, haha, duh! 😛

I'm going to see if I can add a test for it as well. PR incoming! (Probably not tonight tho..)

[2019-04-25 23:11] nicoddemus commented on #201
Sure, sounds good! 😁

[2019-04-26 05:54] yinina opened #202 "add url in result table"
hi ,
    I want to add a url as a supplement to test description  in the Links column of result table, but can't, do you have any suggestions?

[2019-04-26 05:58] yinina commented on #144
hi , do you know how to add a url to the Links column of test results  table?

[2019-04-26 08:25] BeyondEvil commented on #202
Hi @yinina !

Here's an example of how to do it:

https://github.com/pytest-dev/pytest-selenium/blob/master/pytest_selenium/pytest_selenium.py#L280

Cheers

[2019-04-26 09:13] BeyondEvil commented on #201
PR in #203

I would really appreciate it if @MaximeWeyl and/or @nicoddemus could test this also on a Win machine. 🙏

[2019-04-26 09:59] MaximeWeyl commented on #201
It works !

![image](https://user-images.githubusercontent.com/31591159/56800169-b2388e00-681a-11e9-9ade-555bd69b4056.png)

I am on windows 10.

[2019-04-26 18:02] #201 closed

[2019-05-06 16:16] andb0t commented on #48
This feature would be really important for me, too!

My project consists of a series of subprojects each with their own virtual environment. Until now my CI goes through each subproject, enters the venv and executes `pipenv run pytest --cov=runner --cov-report=html --cov-report=term`. This creates an `htmlcov` folder in each subfolder. Now I want an overview of the code coverage of the entire proj

[2019-05-07 23:49] JoshSullivan11 opened #204 "error: unrecognized arguments: --self-contained-html"
When I run my tests that previously worked with python 2.7 on python 3.5.2 I receive the following error:
`ERROR: usage: example_test.py [options] [file_or_dir] [file_or_dir] [...]
example_test.py: error: unrecognized arguments: --self-contained-html
  inifile: /home/joshsullivan/project_folder/pytest.ini
  rootdir: /home/joshsullivan/project_folder
`

I am using Bazel to run my test with the foll

[2019-05-23 06:52] fenchu opened #205 "extras from previous tests show up"
![pytest-html-extras-still-inn](https://user-images.githubusercontent.com/11349883/58231278-e0848d00-7d36-11e9-8576-ef43aac4c761.png)

Why does the images show up in tests/test_02_exceptions.py?

I use fixture ext to keep track of my variables and the hookwrapper ads them if it finds anything in global extras['SCREENSHOTS'], it works fine for tests within the tests/test_01_connectivity.py file as

[2019-05-23 07:08] fenchu commented on #205
it works if I change the code in tests_02_exceptions.py:
[code]
How can I create a fixture class this works for. I tried wrapping anything into testclasses, and used scope="class" and dropping fixture ext on test_02_* file, but it was the same.

[2019-05-23 08:00] BeyondEvil commented on #205
Hi @fenchu

So, lots of things going on here. I'll try to sort at least some of them out. :)

The reason why the screenshots in `extras` is showing up in `tests/test_02_exceptions.py` is because the fixture (`ext`) is `session` scoped.

Also, you're sort of mixing three different concepts/types when it comes to fixtures. You're using `autouse`, `@pytest.mark.usefixtures`, _and_ calling the fixture

[2019-05-23 20:58] cauvery opened #206 "pytest html report to open results collapsed based on option given"
I am looking for option on how to open the html report with all results collapsed.  By default only Passed results are collapsed and all others are expanded in html report from Jenkins.

I did go through the doc in pytest-html where it says to use the query parameter for report.hml. But how to achieve this dynamically from may be from conftest.py.  Need information.
Thanks in advance.

Versions I

[2019-05-24 04:14] cauvery commented on #206
Sounds right, thanks @nicoddemus.

[2019-05-24 06:48] fenchu commented on #205
Thanks for the feedback, @BeyondEvil,
Reason for the global extras was to get data somehow into pytest_runtest_makereport() but if I can use the item.node for it it will be much better.

I'm not using pytest-selenium, but will try it out.

[2019-05-24 22:36] BeyondEvil commented on #205
You're welcome @fenchu! :)

I'll close this issue since it's not really a pytest-html one. Feel free to reach out to me here or on Slack (jimboslice).

[2019-05-24 22:36] #205 closed

[2019-05-25 11:47] BeyondEvil commented on #206
Hi @cauvery and thanks for the report!

Help me understand why using the query param isn't enough.

[2019-05-26 05:30] cauvery commented on #206
Hi @BeyondEvil,

I am not sure how I can invoke the query param from within the pytest script for report to be opened with all results collapsed.  I can navigate to the report location from Jenkins and issue the query param for results to be collapsed (same as clicking on Hide all Results on HTML Report), just not sure how to use it dynamically.

Thanks,
Cauvery.

[2019-05-26 14:44] BeyondEvil commented on #206
@cauvery

My answer here is going to based on two assumptions:
1.  That you're generating the name of the report somewhere and that you own/control when and where that happens.
2. That you're generating the link to the report that shows up in Jenkins and that that it is also under your control.

If the above is true, you can then dynamically change either the name or more likely the link-generatio

[2019-05-28 09:56] fenchu opened #207 "--html=mydir/report.html - get hold of dir for extras"
Hi

Is there a way you can get hold of the --html setting within my pytest tests. I need it to set master directory for all the extras I add. Most CIs do not allow showing html reports anymore, So I need to pack it and pipe to a webservice.

This is very apparent when you use
`@pytest.mark.parametrize("webhost", <array of testservers>)`

currently I use:
`_dir_ = os.path.basename(__file__).replace

[2019-05-28 10:05] fenchu commented on #207
I find self_contained_html, but not --html in request.config.option:
`reportname:['__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__s

[2019-05-28 10:11] fenchu commented on #207
I found it in htmlpath:
htmlpath=mydir/report.html

Would be nice if this was in the documentation :-)

[2019-05-28 10:11] #207 closed

[2019-05-28 15:31] cauvery commented on #206
Thanks @BeyondEvil  I get and agree on what you are saying. Will try from within Jenkins job configuration to open the report with query parameters.

Thanks,
Cauvery.

[2019-05-28 15:31] #206 closed

[2019-06-17 21:03] BeyondEvil commented on #204
@JoshSullivan11

Any particular reason why you're using 3.5.x instead of 3.6 or even 3.7?

With that said, would you mind sharing a reproducible test/code/repo?

[2019-06-17 21:04] BeyondEvil commented on #202
Hi @yinina!

Since I haven't heard anything more, I'll go ahead and close this. Feel free to repopen it if you need.

[2019-06-17 21:04] #202 closed

[2019-06-17 21:06] BeyondEvil commented on #179
Since we haven't heard anyhing from @GowriShankariSurendran I'm going to close this.

Feel free to reopen if needed.

[2019-06-17 21:06] #179 closed

[2019-06-17 21:23] JoshSullivan11 commented on #204
@BeyondEvil

I didn't realize I still had this issue open. We ended up having to revert the version of Pytest back to a previous version and got it working again. Thank you for the reply. I will go ahead and close this issue.

[2019-06-17 21:23] #204 closed

[2019-06-24 11:56] ssbarnea commented on #183
I am wondering if you could not obtain the same feature by loading junit or subunit reports which are kinda standard way of saving (and combining) unit-test execution results. This would allow you to build reports created by tools other than pytest.

Extra bonus: avoiding to create a new intermediary file format.

[2019-06-24 12:00] ssbarnea opened #212 "Improve pytest-html screen real-estate usage"
Currently pytest-html report is wasting a huge amount of valuable screen space with boilerplace stuff, which most of the time are of no use to the user. In 99% of the cases the user that opens a report is doing it because a test failed, so he should not have to scroll down in order to find out which test failed.

I proposed few changes in the annotated screenshot I made in order to get some feedba

[2019-06-24 16:40] ssbarnea opened #213 "add html anchors to each stdout line"
Sometimes the captured stdout/stderr can be quite long and it would be very useful if users could share bookmarks that send user to the exact captured line.

Example: http://logs.openstack.org/73/645273/26/check/tox-molecule/87eb604/tox/reports.html

To enable this we may need to add line numbers to the output but this can be done in pure CSS.

[2019-06-24 20:58] BeyondEvil commented on #213
Hey @ssbarnea!

You mean similar to what you can do with GitHub and create links to specific lines of code?

That would be awesome! ❤️

[2019-06-24 21:01] BeyondEvil commented on #212
@ssbarnea Really good ideas! I don't have any objections. We should however be careful to not introduce any breaking changes. Specifically regarding the hooks. (Not that I think that any of the proposed changes would cause that.)

[2019-07-02 22:32] Uil2liv opened #214 "can not embed image on windows hosts using extra.png(image)"
On a windows host, we cannot add an image to a report using `pytest_html.extras.png()`.
It returns the following error:
[code]
The behaviour is not observed on a Linux system
It might be due to:
- the double colons in the filename (forbidden on windows)
- the slash used to represent the test hierarchy

Here is a sample to reproduce the behaviour:
tests/conftest.py:
[code]

tests/sample_test.py
[co

[2019-07-04 08:43] franz-95 opened #215 "Hashkey may include colons"
Hey, my hashkey includes slashes since the tests are in subdirectories. When included in the asset file name, the slashes are wrongly interpreted and in line 161 of the plugin.py the directories are made in the assets directory even though they are part of the assets file name.

https://github.com/pytest-dev/pytest-html/blob/83d6e1bb666ef94a349c5ed5e52babbaba4b1ae3/pytest_html/plugin.py#L158

[2019-07-04 08:58] franz-95 commented on #215
I just realized that the issue is not the slashes but the colons '::' within the test name. Unfortunately the assets file name cannot include such characters.

[2019-07-05 21:57] BeyondEvil commented on #214
Thanks for reporting this! @Uil2liv

And thanks for the detailed repro stuff, that's great!

Now, I just need to source a windows machine so I can run it, haha.

Quick question:

should be

Just a typo?

[2019-07-05 22:00] BeyondEvil commented on #215
Thanks for reporting this @franz-95 !

Mind having a look at this @D3X ?

Looks like it might be related to the changes you made.

Also, I think #214 is related as well. 🤔

[2019-07-07 11:20] Uil2liv commented on #214
Hi,

Not a typo, it appears that WebElement.screenshot_as_base64 is a property (https://seleniumhq.github.io/selenium/docs/api/py/_modules/selenium/webdriver/remote/webelement.html#WebElement.screenshot_as_base64)

[2019-07-08 14:59] D3X commented on #215
@BeyondEvil the stuff I did was merely truncating filenames to fit within FS limits. The original work was done in #199 by @SunInJuly :)

It should be easy to fix, though. I suspect we should filer out all potentially problematic characters? Maybe something similar to django's [`slugify`](https://github.com/django/django/blob/febe136d4c3310ec8901abecca3ea5ba2be3952c/django/utils/text.py#L393-L405)

[2019-07-09 08:54] Uil2liv opened #216 "create_asset hash suffix are not unique between multiple runs"
Considering the following code block :
https://github.com/pytest-dev/pytest-html/blob/83d6e1bb666ef94a349c5ed5e52babbaba4b1ae3/pytest_html/plugin.py#L146-L160

As discussed in #199 :

It seems that the hash suffix has been introduced in the file naming to prevent multiple test runs to overwrite previous assets.
This case would occur when the `test_id`, the `extra_index` and the `test_index` are id

[2019-07-09 20:08] BeyondEvil commented on #216
Thanks for this @Uil2liv !

I wonder, in what scenario would overwrite happen? When the exact same suite is re-run? What else needs to be there/happen to cause an overwrite?

[2019-07-09 20:37] Uil2liv commented on #216
Hi @BeyondEvil,

If you consider a pretty stable suite, each time you run it.

The complete answer would be, "each time you provide the same self.test_id, str(extra_index), str(test_index)"

Because if a=b, hash(a)=hash(b)

For example, I have a sandbox on which a jenkins runs a suite at each commit. In the jobs folder, I can see that the different jobs generate assets with the same name.

[2019-07-10 07:24] Uil2liv commented on #215
And what about django's [`get_valid_filename`](https://github.com/django/django/blob/febe136d4c3310ec8901abecca3ea5ba2be3952c/django/utils/text.py#L221-L231)?

[2019-07-10 16:07] EricDelaney commented on #214
Hit the same problem on windows, whenever you hit a test failure it wants to write out the results file and tries to create a file with the "::" in the file name which fails and the entire test run stops.

The change causing the problem occurred between between 1.20.0 and 1.21.0

[2019-07-10 17:01] BeyondEvil commented on #214
I'm pretty sure this and #215 and #216 share the same root cause.

Hopefully I'll have some time tonight to check on this. I'm sorry it's taking a while to address properly. The excuse I have is that I don't own a windows machine - so I have to go through the wonderful and joyous task of setting up a windows VM with python...

[2019-07-11 15:33] wanam opened #219 "pytest html does not keep sort preference for previously sorted columns"
Let's take this example to show this columns sort issue on the output html report:
**Column1 Column2**
C1_T2    C2_T1
C1_T2    C2_T2
C1_T4    C2_T4
C1_T1    C2_T5

Here we have the column2 that is sorted asc, if we click on the header Column1 to sort asc here is what we will get:
**Column1 Column2**
C1_T1    C2_T5
C1_T2    C2_T2
C1_T2    C2_T1
C1_T4    C2_T4

As you see it sorted the first column

[2019-07-13 12:05] BeyondEvil commented on #216
Ok, so I've gotten a little more information surrounding this.

Even before the change introduced in #199 the hash was not unique between runs. This is by design to not have an `assets` folder that grows indefinitely.

To separate runs, I would suggest taking your "time" suggesting and applying it on a folder level.

Something like:

[code]

[2019-07-13 12:05] #216 closed

[2019-07-15 08:14] Uil2liv commented on #216
That makes sense.
Thanks for your reply.

Just for the record, I was wondering if we shouldn't get rid of the hashed part of the filename.
If I'm right, It will prevent overwritting during a run, when the file name is truncated (long test name/hierarchy case), that's it ?

[2019-07-15 08:17] BeyondEvil commented on #216
@Uil2liv

Yep, that's fix I'm working on for the #215 and #214 😊

The filenames will look something like this:

`test_html.py__TestThis__test_it[world]_2_2.png`

[2019-07-22 16:57] christopheraranda commented on #215
This is also a problem when creating html reports on one platform (Linux) and downloaded to another platform (Windows).

I've redirected all the logging for my tests to a text file and appended it as an extra. The tests run in a CentOS based container, and the html report and assets are compressed to a zip file and emailed out.

Unfortunately, Windows users are unable to decompress the zip file. T

[2019-07-22 18:04] BeyondEvil commented on #215
I _think_ this should be its own issue. Mind creating one?

I have a fix, but I'm waiting on a PR review before I can merge it and do a release.

[2019-07-22 18:39] christopheraranda opened #221 "Windows users unable to open test reports with assets created on Linux"
I have functional tests that are executed in a CentOS based container. The logging for those tests is redirected to a text asset and appended as an extra in the HTML report.

After the tests are executed, the report and the assets are compressed to a ZIP file and are emailed out. Windows users that receive the report are unable to decompress the file.

Since the tests are in subdirectories, the no

[2019-07-22 18:41] christopheraranda commented on #215
@BeyondEvil
Sure thing. Here's the new [issue](https://github.com/pytest-dev/pytest-html/issues/221).

@BeyondEvil
Sure thing. Here's the new [issue](https://github.com/pytest-dev/pytest-html/issues/221).

[2019-07-23 10:08] chennareddy08 commented on #106
i am still getting below mentioned error

INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "C:\Users\cbiradar\AppData\Local\Programs\Python\Python37-32\lib\site-packages\_pytest\main.py", line 185, in wrap_session
INTERNALERROR>     session.exitstatus = doit(config, session) or 0
INTERNALERROR>   File "C:\Users\cbiradar\AppData\Local\Programs\Python\Python37-32\lib\site-pack

[2019-07-23 10:43] chennareddy08 commented on #98
1.21 version i am getting above error

[2019-07-23 14:07] VorpalBlade opened #222 "Ability to add text above captured log output?"
Is it possible (or feasible to extend) to insert extra output above the test output. I would be interested in inserting the docstring of the test function here to provide details on the test.

Something like this quick mockup using the HTML inspector in Firefox:
![pytest_mockup](https://user-images.githubusercontent.com/3315306/61718675-bf0a4680-ad63-11e9-9796-5b9255c6ea2b.png)

[2019-07-23 17:17] BeyondEvil commented on #222
Interesting. I'll try to investigate in the coming weeks.

[2019-07-31 13:08] VorpalBlade commented on #222
Turns out I'm able to do this with pytest_html_results_table_html. Missed that before. My bad.

[2019-07-31 13:08] #222 closed

[2019-08-04 12:26] BeyondEvil commented on #214
@EricDelaney @Uil2liv

Again, sorry for the delay.

Would you mind testing out PR #223 and see if that solves the issues you've been seeing? Much appreciated!

[2019-08-04 12:26] BeyondEvil commented on #215
@franz-95

Sorry for the delay addressing this issue.

Would you mind testing out PR #223 and see if that solves the issues you've been seeing? Much appreciated!

[2019-08-04 12:31] BeyondEvil commented on #221
Thanks for this @christopheraranda !

I'm not sure this is solveable in code. 🤔

But I do have two suggestions:

1. Have you tried using `--self-contained-html` flag?
2. Make sure when you're ZIPping the files, you're making the zip file portable (that as is, portable across different OSes).

If you have an idea or more info about the possibility of solving this in code - please share.

[2019-08-05 13:41] Uil2liv commented on #214
@BeyondEvil
It seems OK for me with #223.
The reproduction example above gives me a well formed attachement in assets/tests_sample_test.py__test_0_0.png

Thanks for that fix 👍

[2019-08-05 14:18] BeyondEvil commented on #214
Awesome, thanks @Uil2liv !

[2019-08-06 01:41] hdw868 opened #225 "Encounter memory error when run test concurrently for a long time"
encounter following error when running pytest-html with pytest-xdist repeatedly for about 300-500 times.

[code]
Please let me know if more message if needed.
**I do not have this problem if I run it in a single process, I think it has something to do with pytest-xdist as well.**

[2019-08-06 11:57] #214 closed

[2019-08-06 12:12] BeyondEvil commented on #215
Fixed by #223

[2019-08-06 12:12] #215 closed

[2019-08-07 21:44] #219 closed

[2019-08-07 21:45] BeyondEvil commented on #225
I have no idea what's going on here... :(

But I know some smart people that might have one: @nicoddemus  @RonnyPfannschmidt

[2019-08-08 11:43] nicoddemus commented on #225
It seems @hdw868 is running out of memory. Please use your task manager to see how much memory your computer is using when running with xdist; I'm fairly certain you are reaching the limit of your computer.

When you execute `python`, the banner shows if you are in a 32bit or 64bit system:

[code]

You should check that as well.

[2019-08-08 15:59] chennareddy08 opened #227 "Encoding issue, return codecs.charmap_encode(input,errors,encoding_table) INTERNALERROR> UnicodeEncodeError: 'charmap' codec can't encode character '\ufffd' in position 24465: character maps to <undefined>"
INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "C:\Users\cbiradar\AppData\Local\Programs\Python\Python37-32\lib\site-packages\_pytest\main.py", line 185, in wrap_session
INTERNALERROR>     session.exitstatus = doit(config, session) or 0
INTERNALERROR>   File "C:\Users\cbiradar\AppData\Local\Programs\Python\Python37-32\lib\site-packages\_pytest\main.py", line 225, in _main

[2019-08-08 17:16] BeyondEvil commented on #227
What version of pytest-html are you using?
What version python are you using?

Does this happen with other versions?

Can you reproduce this outside of PyCharm?

Could you provide a minimal reproducible case?

[2019-08-09 06:49] hdw868 commented on #225
@nicoddemus Thanks, I think it is because I use headless mode chrome. According to this [article ](https://docs.browserless.io/blog/2018/06/04/puppeteer-best-practices.html) and per my observation,  and it turns out that headless chrome exhausted all my system memory after long time running. Thanks for your help!

[2019-08-09 06:50] #225 closed

[2019-08-09 17:22] RibeiroAna opened #228 "Deprecate compability with python 2.7"
Hi there,

Recently I run something with Python 2.7 and got the following message:

"DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/

[2019-08-09 17:58] BeyondEvil commented on #228
Yes! Agreed @RibeiroAna.

I think we're going to do this across most plugins.

[2019-08-15 10:25] hugovk commented on #228
Please see PR #230.

[2019-08-19 17:22] christopheraranda commented on #221
@BeyondEvil unfortunately, using the --self-contained-html flag is not an option. My tests are generating a lot of logging, and the HTML report size is getting to close to 100MB in some cases. This is bringing the browser to its knees, so I needed to extract the logs to a text asset for each test case.

However, the fix for issue [#215](https://github.com/pytest-dev/pytest-html/issues/215) seems t

[2019-08-19 20:09] BeyondEvil commented on #221
Great to hear everything was solved @christopheraranda !

[2019-08-19 20:09] #221 closed

[2019-08-22 21:12] samueljsb opened #231 "development.rst is mis-named"
The `development.rst` file is mis-named, causing a broken link in the README.

[2019-08-27 12:16] #231 closed

[2019-08-29 08:28] fenchu commented on #212
I also like to be able to put screenshots vertically and not just horizontally, if you have many screenshots in one test they take from the screen capture output.

The environment stuff is also a big security issue. We use gitlab ci to deploy containers and pytest-html pics up all the CI_* and GITLAB_* environment variables, they are useless for the the test but holds the project token and passwor

[2019-08-29 08:36] BeyondEvil commented on #212
We have a solution in #112 and I'm happy to have someone take over that from me!

You can remove useless/sensitive metadata per the instructions [here](https://github.com/pytest-dev/pytest-metadata/blob/master/README.rst).

[2019-08-29 09:13] fenchu opened #233 "environment table needs to be whitelisted/blacklisted"
when I use pytest-html in docker (with gitlab-ci) it needs a lot of environment variables set, some holds token and passwords. I do not want to show in my jenkins report to a wider audience.
![pytest-html_envs](https://user-images.githubusercontent.com/11349883/63924257-407e8400-ca48-11e9-8a03-7de346f9f137.jpg)

It seems they are collected in the very first test, so adding this to a test is workin

[2019-08-29 09:37] BeyondEvil commented on #233
You can remove them using the `pytest_metadata` hook.

[code]

[2019-08-29 09:47] BeyondEvil commented on #233
Maybe I was too quick to close this. I wonder why some of those are show, since they were removed in `v1.8.0`

[2019-08-29 09:53] BeyondEvil commented on #233
I see why now, that PR was merged _after_ the release of `v1.8.0`.

The question still stands tho: Why aren't they masked for you? Maybe because they're passed to a docker container and GitLab can't pick that up and mask them. 🤔

Anyway, I'll get started on a release that will solve some of them for you. For the others, you'll have to use the hook.

[2019-08-29 11:06] krzysztof-pawlik-gat commented on #233
@BeyondEvil GitLab passes those variables to jobs as they are, the _masked_ thing is applied when GitLab shows job output only (`stdout`/`stderr`). The report itself is generated from the job, hence it has access to raw values (as it's supposed to, how would you make use of an access token with the value masked?). I'm using following snippet to mask some data:

[code]

(`Credentials.mask_password`

[2019-08-29 11:28] BeyondEvil commented on #233
@krzysztof-pawlik-gat

As I was saying then: `Maybe because they're passed to a docker container and GitLab can't pick that up and mask them.`

Agreed. I won't remove more than already removed in the linked PR. Unless a very compelling argument is put forth.

Yes. Not sure what your point is? 🤔

[2019-08-29 12:13] krzysztof-pawlik-gat commented on #233
Sounds good!

The initial report from @fenchu shows some variables masked that in my opinion should not be masked or removed. My intention with this line was that usefulness of the report should not be sacrificed in the name of it being publicly shareable.

[2019-08-29 13:01] BeyondEvil commented on #233
Yeah, I'm even contemplating reverting that PR and going about this is in a different way.

I see a couple of different approaches we can take, my favorite is to implement something similar to pytests `filterwarnings` where you can list the env vars you want masked in `pytest.ini`.

What are your thoughts @davehunt ?

[2019-08-29 14:02] fenchu commented on #233
Thanks for clarification :-)

Filtering manually is fine.

My initial question was more about doing this from the conftest.py file. if I use request or metadata fixtures they seem to run at the  beginning before all my tests. Is there a hook so it can run after the testloop stage before reportgathering?

[2019-08-29 14:26] BeyondEvil commented on #233
@fenchu
So there's both the `metadata` fixture and the `pytest_metadata` hook.

I would say that the fixture is used more to add metadata and the hook is used to modify.

So the hook should give you what you want - filtering out the sensitive data. Are you saying that is not working? 🤔

[2019-09-04 23:23] adriangb commented on #171
This honestly seems like a bug to me, not an enhancement.

[2019-09-05 08:38] BeyondEvil commented on #171
I agree with @adriangb.

What do you think @davehunt ?

[2019-09-05 10:52] rochacbruno commented on #171
what I understood is that `--capture` is a pytest argument not a `pytest-html` argument.

So the enhancement would be adding the feature to read that arguments and do something.

[2019-09-05 10:54] BeyondEvil commented on #171
I think it makes sense for the plugin to ”obey” the flag.
On 5 Sep 2019, 12:52 +0200, Bruno Rocha <notifications@github.com>, wrote:

[2019-09-05 15:46] adriangb commented on #171
Yes, `--capture` and `--show-capture` are Pytest options, but regardless it would be nice to have these options in the plugin (there is a reason they exist in Pytest), so why not make the plugin follow whatever Pytest does? Then to go the extra mile `--html-report-capture` and `--html-report-show-capture` could be added which override `--capture` and `--show-capture` for the HTML report.

[2019-09-09 08:10] #228 closed

[2019-09-10 17:04] hackebrot commented on #198
https://github.com/hackebrot/pytest-md 📝

[2019-09-11 11:28] davehunt commented on #171
I still think this is an enhancement, and a worthwhile one. Perhaps pytest should be more clear that the capture arguments only relate to the console logging, and that plugins are not required to respect them. If you disagree then I would suggest opening a bug against pytest that prevents plugins from having access to this content if the arguments are used.

Either way, I don't think we want to du

[2019-09-11 11:34] davehunt commented on #233
This sounds like a reasonable approach to me. Perhaps we need two filters, one for variables to mark and another for variables to exclude completely. We could default to masking anything matching 'token' or 'password' in an effort to protect potentially vulnerable data, but we should be careful not to suggest that we're protecting these values. In fact, we should probably call out in the documenta

[2019-09-11 22:12] thesupershan commented on #131
Just wanna bump this, any chance someone can look into a fix?

[2019-09-17 08:01] Wramberg opened #239 "Opening report is slow when it contains long logs"
I have some test runs that generate a lot of log entries. When opening the report is seems my browser is spending a lot of time presenting all these entries which are immediately collapsed right after.

If I change the behavior to have everything collapsed by default I can open/render the html report much faster.

What I have tested is essentially the same as adding a "collapsed" class here https:

[2019-09-19 13:06] rafaelcs opened #240 "Group results for better viewing with pytest-xdist"
Hello,

I am currently running my tests with Appium and `pytest-xdist`, so basically the test flow is to run each test case on two different devices. After generating the `pytest-html` report, I see that each line of the report represents a function of my test (as we can see in the image below). Is there any way to group the tests by **class**? I think grouping the report by **class** would be mor

[2019-09-25 07:32] altran-git opened #241 "A dictionary item gets printed in the row when I try to add a url link to the report"
Along with the actual URL link, the following gets printed in the row when I try to add a url link to the report:

{'name': 'URL', 'format': 'url', 'content': 'http://www.example.com', 'mime_type': None, 'extension': None}

Not sure why this is happening.

[2019-09-25 08:01] BeyondEvil commented on #241
Can you show us your code @altran-git ?

[2019-09-25 08:11] altran-git commented on #241
`from py.xml import html
import pytest

def pytest_html_results_table_row(report, cells):
    cells.insert(3, html.td(report.extra, class_="col-links"))

@pytest.hookimpl(hookwrapper=True)
def pytest_runtest_makereport(item, call):
    pytest_html = item.config.pluginmanager.getplugin('html')
    outcome = yield
    report = outcome.get_result()
    extra = getattr(report, 'extra', [])
    if repo

[2019-09-25 08:20] BeyondEvil commented on #241
What versions are you on (python, pytest, pytest-html, pytest-selenium(?))? @altran-git

[2019-09-25 08:25] altran-git commented on #241
python: 3.7
pytest: 5.0.1
pytest-html: 2.0.0

(not using selenium)

[2019-09-25 09:06] BeyondEvil commented on #241
The problem is this:

[code]

You're inserting the entire `report.extra`.

@altran-git

[2019-09-25 09:17] altran-git commented on #241
ahh, thank you.

[2019-09-25 09:17] #241 closed

[2019-09-26 07:49] vashirov opened #242 "Sortable Links column"
In our tests we create logs on demand: only when certain condition happens and we need to attach logs. So most of the time Links are empty, but occasionally can contain some urls. When there are 1500+ tests, it's hard to find tests that generated additional logs. It would be nice to have sortable Links column.

[2019-10-01 15:19] JenyaKrixus opened #243 "py.test dont run test-cases. I see SyntaxError: invalid syntax. I will show it on sreen below."
Hello!

I have problem with running py.test on Pycharm. I open Terminal on Pycharm, and try to run my tests using py.test, but after it, i see exeption. There is my screen
![Selection_999(045)](https://user-images.githubusercontent.com/56037537/65975754-c3479400-e477-11e9-914e-5233f27950b0.png)

I noticed this problem after installing "pip3 install pytest-html"
Can anybody help me? Because earlier

[2019-10-01 15:56] JenyaKrixus commented on #243
Thank you, Anthony Sottile ! But now, i can't even run py.test ...location of test file. Can it be the reason, that i have installed  pytest-html?

[2019-10-01 16:08] asottile commented on #243
yes, you can always `pip uninstall pytest-html` to get back to the state before you installed it

[2019-10-01 16:15] JenyaKrixus commented on #243
Thanks, i will install newest version of Python

[2019-10-01 16:18] asottile commented on #243
cool, I don't think there's anything really actionable from the pytest-html side -- thanks for the issue!

[2019-10-01 16:18] #243 closed

[2019-10-08 17:36] sjkcarnahan commented on #171
I would like to tack on that this would be a great option.

[2019-10-14 13:10] andreabisello commented on #176
i use this one

[code]
that create a report folder and create a new report for every launch

[2019-10-15 20:17] rafaelcs commented on #33
It's implemented?

[2019-10-16 08:01] ssbarnea opened #245 "Dictionaries in environment table a not sorted"
As in Python dictionaries are not (usually) sorted printing the environment gives random results, making much harder to read it and to compare it with previous runs.

Example: http://logs.rdoproject.org/52/23152/1/check/rdo-tox-molecule/6eb5f91/tox/reports.html

[2019-10-16 10:45] BeyondEvil commented on #245
Fair point!

Feel free to contribute with a fix! 😄

There's a couple of other issues with your name on them 😉

[2019-10-16 10:46] BeyondEvil commented on #33
Not as far as I know.

[2019-10-16 12:56] audricschiltknecht commented on #33
There is an open PR (#177) that could help to achieve that goal. Unfortunately, I don't have much time on my hand right now to finalize it (missing some tests and a sample), but would welcome any help on that!

[2019-10-16 13:30] ssbarnea commented on #245
@BeyondEvil Sad to dissapoint you but since you dropped support for py27 I lost my interest of contributing as most of our jobs are still on python27. Hopefully this may change next year, once I manage to migrate more jobs.

While I support dropping support for py27, pytest stuff is not one of the places to start because is used for testing, lots of people will continue to use it next year because

[2019-10-16 18:31] BeyondEvil commented on #245
@ssbarnea I see, that is disappointing indeed.

And I guess, it's our fault for not communicating properly, but we haven't dropped support for python 2.7 (at least not the way you think we have).

Read more here: https://docs.pytest.org/en/latest/py27-py34-deprecation.html

[2019-10-18 15:46] wanam opened #246 "Getting ResourceWarning: unclosed file open(csspath)"
I'm getting bellow error while loading a custom css file:
ResourceWarning: unclosed file <_io.TextIOWrapper name='assets/style.css' mode='r' encoding='UTF-8'>open(csspath)

The bug is similar to https://github.com/pytest-dev/pytest/issues/4355

I'm wondering if [this code block](https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L70-L71) is just a leftover, because I think

[2019-10-18 21:12] BeyondEvil commented on #246
Mind sharing some details about your environment? @wanam

OS
python version
pytest-html version
any other versions you might thing are pertinent?

Also, could you provide a sample css-file that causes the error?

Thanks!

[2019-10-21 07:53] wanam commented on #246
OS: Ubuntu 18.04.3 LTS
platform linux -- Python 3.7.2, pytest-5.1.2, py-1.7.0, pluggy-0.13.0
plugins: metadata-1.8.0, csv-2.0.1, html-2.0.0

[code]

Concerning the asset, you can reproduce the issue with the default asset: https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/resources/style.css

[2019-10-22 10:00] wanam opened #247 "initial-sort flag not working on the columns other than the status result one"
I'm trying to set an initial order on the test name instead of the result status column, but it does not seem to work.

Here is what how i'm doing it:
`    def pytest_html_create_batch_table_header(self, cells):

        # # Set initial-sort on test column
        cells[2].attr.class_ = 'sortable initial-sort'
        cells[0].attr.class_ = 'sortable result'
`
I see the sort icon on the 3 column b

[2019-10-27 11:06] BeyondEvil commented on #185
Any updates on this @glaubitz ?

Given that pytest is now on 5.x maybe this isn't relevant anymore?

[2019-10-27 11:10] glaubitz commented on #185
Testsuite seems to pass these days: https://build.opensuse.org/build/devel:languages:python:pytest/openSUSE_Tumbleweed/x86_64/python-pytest-html/_log

[2019-10-27 13:18] BeyondEvil commented on #185
Great news! Closing.

[2019-10-27 13:18] #185 closed

[2019-10-27 23:03] chennareddy08 commented on #227
What version of pytest-html are you using--2.0.0
What version python are you using?--3.7

Does this happen with other versions?-yes

Can you reproduce this outside of PyCharm?-yes in eclipse with pydev
also with terminal or cmd

Could you provide a minimal reproducible case?
when json file is large like
gray log api response giving more logs ,that time this issue will come

[2019-10-30 06:28] benbendemo commented on #146
When I type "pytest --capture=no --verbose --html=report.html test_XXXX.py" in CLI, i just run across the same error, the reason is pytest-html was installed into Python2 environment instead of Python3(I have both Python2 and Python3 installed ). After finishing "pip3 install pytest-html", the problem solved.

[2019-10-30 09:36] janvanoverwalle commented on #246
Have had the same warning appear on Windows.

OS: Windows 10.0.18362 Build 18362
platform win32 -- Python 3.7.3, pytest-5.2.2, py-1.8.0, pluggy-0.13.0
plugins: html-2.0.0, metadata-1.8.0

It does indeed seem, to me, like a redundant or leftover step in the `pytest_html\plugin.py` file as @wanam  mentioned.

[2019-10-31 09:06] krzysztof-pawlik-gat commented on #246
I believe this will be solved when #235 is merged.

[2019-11-02 13:57] ssbarnea opened #249 "optional publish option"
Some CI systems do not have any option to collect/publish test results and even for developers running tests locally it may be inconvenient to share the html file product.

If pytest-html would have an option to upload the resulted html to a web server and return the sharable file, it would be much easier. The final patch could even by randomized in order to avoid overlapping.

This option could f

[2019-11-03 03:54] BeyondEvil commented on #249
I'm not against the idea, because I've had this "issue" myself (and solved it). But I do have concerns.

1. Separation of concerns. The plugin should generate an html report. Does also publishing the report really belong to the plugin?

2. This type of feature has a tendency to expand. There's a million and one different ways to publish something. How do we accommodate all different ways without b

[2019-11-03 04:00] BeyondEvil commented on #246
I'm terribly sorry, I thought I had merged #235 already!

@wanam Do you mind trying the patch (it's on `master` now) and see if that fixes your issue as well? 🙏

[2019-11-03 04:03] BeyondEvil commented on #227
Thanks for that @chennareddy08 !

I'm currently on a business trip, but as soon as I'm back I'll look into this. Please ping me in two weeks if you haven't heard anything by then. 🙏

[2019-11-03 18:16] ssbarnea commented on #249
@BeyondEvil I was seeing that coming as I had that need in other places too. Unitest results, coverage and other stuff are likely to need publishing support.

Now the big question is the publishing plugin should be a pytest plugin, or tox plugin?

I kinda find weird that I was not able to find already existing plugins for doing this. It seems a very common use case.

[2019-11-03 18:19] BeyondEvil commented on #249
Exactly!

Maybe it doesn't even need to be a plugin, it could just be a regular python package. 🤷‍♂

Agreed! After I had posted my comment, I also went looking, and I couldn't find anything either.

[2019-11-03 19:25] RonnyPfannschmidt commented on #249
This is a task for reasonably complete ci systems, layering it somewhere else is just feature creep

[2019-11-03 19:57] BeyondEvil commented on #249
While I agree that would be ideal, I've personally had use cases where the solution provided by the CI system (Travis, Circle, Bitbucket) has not been satisfactory (and I'm happy to provide examples to that fact). Understandably so because, like I said in an earlier comment, there's a million and one way to publish something (really take a file and put it somewhere else).

Having it in a plugin (o

[2019-11-03 20:24] RonnyPfannschmidt commented on #249
@BeyondEvil im also well aware of the practically intentionally severely limited ci tools around

i still don't think this should be a pytest plugin, this should be a "suggested tool" whose main intend is to argument subpar ci systems with artefact publishing

[2019-11-03 20:40] BeyondEvil commented on #249
Fair enough.

Do you see it as a library that we consume in the plugin or a standalone CLI (or something else)? @RonnyPfannschmidt

[2019-11-03 21:11] RonnyPfannschmidt commented on #249
right now i beleive standalone command to be put into a deploy section on something like travis

[2019-11-03 22:05] rochacbruno commented on #249
Usually what I do is to create a self contained html and paste to https://pste.eu/ I think one can pipe the html output to that website form easily.

[2019-11-03 22:12] BeyondEvil commented on #249
That could be an option in the tool. 👍 @rochacbruno

[2019-11-04 11:09] wanam commented on #246
Tested the patch, and it seems fixed, thanks @krzysztof-pawlik-gat !
@BeyondEvil could you also check this one https://github.com/pytest-dev/pytest-html/pull/248 before releasing?

[2019-11-04 11:18] janvanoverwalle commented on #246
Appears fixed from my end as well. Thanks!

[2019-11-04 17:55] #247 closed

[2019-11-04 17:56] BeyondEvil commented on #246
Awesome! Thank you everyone! 🙏

[2019-11-04 17:56] #246 closed

[2019-11-14 14:37] kyochujoho opened #252 "text formatting in table cells"
Hello, currently it does not appear possible to have pytest-html recognize, for example, carriage returns in strings fed to table cells. The use case I'm considering is inserting my docstrings into a test description cell:

`@pytest.mark.hookwrapper
def pytest_runtest_makereport(item, call):
    pytest_html = item.config.pluginmanager.getplugin('html')
    outcome = yield
    report = outcome.get_

[2019-11-16 08:41] BeyondEvil commented on #252
Hi @kyochujoho

This isn't really a plugin-thing, but more an html-thing. The solution is likely to provide a `style`-attribute to the `td`:

[code]
You can also provide your own (global) CSS styling using the `--css` flag.

Hope that helps!

[2019-11-16 08:41] #252 closed

[2019-11-24 08:34] ForAxel opened #253 "unrecognized arguments"
After I installed the 'pytest-html' by using 'pip install pytest-html'  and try to use it by inputing
[code]
I found it can't work as excepted with error:'unrecognized arguments: --html=record.html'
So I wanna know what can I do to solve this problem?

[2019-11-24 21:52] BeyondEvil commented on #253
@ForAxel  Please see issue #146

If that doesn't solve it for you, get back to us with some more information about your environment and if possible detailed steps to reproduce.

Thanks!

[2019-11-25 10:07] ForAxel commented on #253
Thank you! I solved this problem by using
[code]

[2019-11-25 10:08] BeyondEvil commented on #253
Glad to hear it!

[2019-11-25 10:08] #253 closed

[2019-11-26 09:23] happz opened #254 "Option to enable report update after each tests"
In my workflow, I'd appreciate an option which would let me ask `pytest-html` to save the report after each test. I'm using `pytest-xdist` to run multiple tests simultaneously, and it would be very helpful to get a fresh HTML page as soon as any test completes, it would allow us to start fixing issues without waiting for the long-running tests to catch up.

[2019-11-26 16:14] BeyondEvil commented on #254
Interesting. Not sure if it's possible without a major refactor. But I'll investigate.

[2020-01-09 12:40] PravinAlhat opened #255 "I see an IOerror and OSError while running pytest with -css parameter along with html report"
I see below error while running pytest with -css parameter along with html report

$ pytest --html=API.html --css=highcontrast.css --css=accessible.css

INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "/Users/pravin.a/my-project/venv/lib/python3.8/site-packages/_pytest/main.py", line 192, in wrap_session
INTERNALERROR>     config._do_configure()
INTERNALERROR>   File "/User

[2020-01-10 11:04] barnwal-paras opened #256 "Is it possible to generate report at the end of each Pytest session"
In my Automation Suite, I am running multiple session, but single HTML report is getting generated which contains test report of all the session combined. Is there a way to generate report for each session individually ?

[2020-01-10 12:59] AshotVantsyan opened #257 "Need an ability to include "short test summary info" section into HTML report"
Let have `test_1.py` test file with the following content:
[code]

Running the test with `pytest test_1.py -rsxX --html test_results.html` command produces the following output:
[code]
And the following HTML report:
![test_results](https://user-images.githubusercontent.com/19218177/72154623-8c641100-33ca-11ea-811a-41e27e6e0336.png)

The generated HTML report is awesome, but there is a thing that I

[2020-01-13 05:46] #257 closed

[2020-01-13 05:47] AshotVantsyan commented on #257
Looks like no-one is going to look at this.

[2020-01-13 15:41] BeyondEvil commented on #257
@AshotVantsyan https://github.com/pytest-dev/pytest-html#modifying-the-results-table

[2020-01-13 15:43] BeyondEvil commented on #256
@barnwal-paras When you say "multiple session", do you mean using xdist or multiple calls to pytest or something else?

[2020-01-14 06:46] AshotVantsyan commented on #257
Thank you for the information. Despite this is not the thing that I've asked for but I'll take a look at this.

[2020-01-15 11:57] barnwal-paras commented on #256
@BeyondEvil   No, I am using a parametrised session scoped fixture and wanted to generate report at the end of every session, as a part of teardown of that fixture.

[2020-01-15 12:11] BeyondEvil commented on #256
@barnwal-paras Not sure I follow. Could you give an example in code?

Do you want a report for each session?

[2020-01-15 12:28] barnwal-paras commented on #256
[code]
I want report to be generated everytime teardown is called for those set of test having same parameter.

[2020-01-15 21:20] BeyondEvil commented on #254
Like I suspected, this will require a major refactor and it would be a hard requirement to not break any of the existing functionality.

To update the report on every test would require that we open the file, write the intermediate result (in the right place!), and then close the file. This might be OK for a couple of tests, but would be very non-performant for a larger suite.

[2020-01-15 21:24] BeyondEvil commented on #256
Similar to #254, this would require a major refactor due to the fact that today, the entire report is done in memory until the `pytest_sessionfinish` hook is called - that's when the writing of the report to disk happens.

One option would be for you to import the [`HTMLReport`](https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py#L91) class yourself, and add the logic neces

[2020-01-15 21:29] BeyondEvil commented on #255
Sorry for taking so long to respond @PravinAlhat

I need some more information from you:
- What OS and OS-version are you getting this on?
- What versions of python, pytest and the pytest-html plugin are you using?
- Is happening locally or on a CI environment (incl. VM/Docker)?

If possible, it would be great if you could provide a small reproducible test (in code) and also example css-files.

Th

[2020-01-17 07:09] PravinAlhat commented on #255
@BeyondEvil
OS - MacOS Catalina
OS-version - 10.15.2
python version- Python 3.8.1
pytest version - pytest 5.3.1
pytest-html plugin - 2.0.1
This is happening locally.

No, I don't have files (highcontrast.css and accessible.css) in the root of the project.

Please explain the usage of -css argument with --html in pytest. Actually I am not completely aware of how to use -css as an argument in pytest

[2020-01-17 09:00] BeyondEvil commented on #255
Well, that's the problem. You're telling the plugin to use these files for the styling, and since they don't exist you get `No such file or directory: 'highcontrast.css'`.

The `--css` flag is used if you **don't** want to use the default styling, but provide your own.

If you're happy with the default styling, you can just run using:

[code]

[2020-01-17 09:00] #255 closed

[2020-01-30 19:38] rahulbasu86 opened #258 "Attaching video URL after every test run in pytest html report"
After every test run i am getting the video URL but when the report gets generated the URL is only shown for the 2nd test case which is of the 1st one and for 1st one it doesn't show anything.
Note: the video URLs are generated correctly for each test cases it just that i am not able to properly attach the link to each test case in the report.
can someone help me with this please:

Below is my cod